## District Income

### Dist NTL

In [ ]:
import pandas as pd

In [ ]:
n21 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2021/ts_dist_21.csv')
n19 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2019/ts_dist_19.csv')
n18 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2018/ts_dist_18.csv')
n17 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2017/ts_dist_17.csv')
n16 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2016/ts_dist_16.csv')

In [ ]:
# Create a list of dfs
df_list = [n21, n19, n18, n17, n16]

for df in df_list:
    # Select the last 12 columns (excluding the first 11 columns)
    last_12_cols = df.iloc[:, -12:]

    # Replace 0 values with NaN in the last 12 columns
    last_12_cols = last_12_cols.replace(0, pd.NA)

    # Calculate the row-wise mean and standard deviation
    row_mean = last_12_cols.mean(axis=1)
    row_std = last_12_cols.std(axis=1)

    # Define the threshold for ignoring values (2 standard deviations below the mean)
    threshold = row_mean - 2 * row_std

    # Mask values below the threshold and set them to NaN
    last_12_cols = last_12_cols.mask(last_12_cols < threshold, pd.NA)

    # Create a dictionary to map old column names to new column names
    column_map = {old_col: month_name for old_col, month_name in zip(last_12_cols.columns, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])}

    # Rename the last 12 columns using the dictionary
    df.rename(columns=column_map, inplace=True)

    # Create new columns for the mean and median of the last 12 columns
    df['mean_radiance'] = last_12_cols.mean(axis=1, skipna=True)
    df['median_radiance'] = last_12_cols.median(axis=1, skipna=True)

In [ ]:
row_std

In [ ]:
n21['Year']=2021
n19['Year']=2019
n18['Year']=2018
n17['Year']=2017
n16['Year']=2016

concatenated_df = pd.concat(df_list, ignore_index=True)

concatenated_df

### Dist Income

In [ ]:
concatenated_df.columns

In [ ]:
dist = pd.read_excel('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/dist_income.xlsx',sheet_name='current_prices_pc')
dist

In [ ]:
# Merge the dataframes based on 'Village_Code'
fin = pd.merge(concatenated_df, dist, left_on=['dtname', 'Year'], right_on=['District', 'Year'], how='left')
fin

In [ ]:
# fin.to_csv('/Users/sid/OneDrive - Deakin University/UDocs - D/DataSets/ntl_dt_pc_corrected.csv',index=False)