In [ ]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import numpy as np
from numpy.polynomial import Polynomial

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

# Census 2011

In [ ]:
df = pd.read_csv('/Users/sid/Downloads/category-wise-workers.csv')
census2 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/census2011/census2011.csv',encoding='ISO-8859-1')
rj = pd.read_csv('/Users/sid/Downloads/DCHB_RJ_Village.csv')
census = pd.concat([census2, pd.DataFrame(rj.values, columns=census2.columns)], axis=0, ignore_index=True)
census

In [ ]:
# census.columns
column_names = census.columns.tolist()
column_names

In [ ]:
cen2 = census[['state_code',
 'state_name',
 'district_code',
 'district_name',
 'sub_district_code',
 'sub_district_name',
 'village_code',
 'village_name',
 'gram_panchayat_code',
 'gram_panchayat_name',
 'total_geographical_area__in_hectares_',
 'total__households',
 'total_population_of_village',
 'total_male_population_of_village',
 'total_female_population_of_village',
 'total_scheduled_castes_population_of_village',
 'total_scheduled_tribes_population_of_village',
 'govt_primary_school__status_a_1__na_2__',
 'govt_middle_school__status_a_1__na_2__',
 'govt_secondary_school__status_a_1__na_2__',
 'govt_senior_secondary_school__status_a_1__na_2__',
 'govt_arts_and_science_degree_college__status_a_1__na_2__',
 'govt_polytechnic__status_a_1__na_2__',
 'govt_vocational_training_school_iti__status_a_1__na_2__',
 'community_health_centre__numbers_',
 'primary_health_centre__numbers_',
 'primary_health_sub_centre__numbers_',
 'maternity_and_child_welfare_centre__numbers_',
 'dispensary__numbers_',
 'veterinary_hospital__numbers_',
 'post_office__status_a_1__na_2__',
 'sub_post_office__status_a_1__na_2__',
 'public_bus_service__status_a_1__na_2__',
 'railway_station__status_a_1__na_2__',
 'auto_modified_autos__status_a_1__na_2__',
 'vans__status_a_1__na_2__',
 'national_highway__status_a_1__na_2__',
 'state_highway__status_a_1__na_2__',
 'major_district_road__status_a_1__na_2__',
 'other_district_road__status_a_1__na_2__',
 'all_weather_road__status_a_1__na_2__',
 'commercial_bank__status_a_1__na_2__',
 'cooperative_bank__status_a_1__na_2__',
 'public_distribution_system__pds__shop__status_a_1__na_2__',
 'mandis_regular_market__status_a_1__na_2__',
 'nutritional_centres_icds__status_a_1__na_2__',
 'nutritional_centres_anganwadi_centre__status_a_1__na_2__',
 'asha__status_a_1__na_2__',
 'nearest_town_name',
 'nearest_town_distance_from_village__in_km__'
 ]]

In [ ]:
cen2['govt_primary_school__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_primary_school__status_a_1__na_2__'], errors='coerce')
cen2['govt_middle_school__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_middle_school__status_a_1__na_2__'], errors='coerce')
cen2['govt_secondary_school__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_secondary_school__status_a_1__na_2__'], errors='coerce')
cen2['govt_senior_secondary_school__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_senior_secondary_school__status_a_1__na_2__'], errors='coerce')
cen2['govt_arts_and_science_degree_college__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_arts_and_science_degree_college__status_a_1__na_2__'], errors='coerce')
cen2['govt_polytechnic__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_polytechnic__status_a_1__na_2__'], errors='coerce')
cen2['govt_vocational_training_school_iti__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_vocational_training_school_iti__status_a_1__na_2__'], errors='coerce')
cen2['govt_vocational_training_school_iti__status_a_1__na_2__'] = pd.to_numeric(cen2['govt_vocational_training_school_iti__status_a_1__na_2__'], errors='coerce')
# cen2 = cen2.dropna(subset=['govt_primary_school__status_a_1__na_2__'])

In [ ]:
cen3 = cen2.copy()
# Columns to apply the transformation
columns_to_recode1 = [
                        'govt_primary_school__status_a_1__na_2__',
                        'govt_middle_school__status_a_1__na_2__',
                        'govt_secondary_school__status_a_1__na_2__',
                        'govt_senior_secondary_school__status_a_1__na_2__',
                        'govt_arts_and_science_degree_college__status_a_1__na_2__',
                        'govt_polytechnic__status_a_1__na_2__',
                        'govt_vocational_training_school_iti__status_a_1__na_2__',
                        'post_office__status_a_1__na_2__',
                        'sub_post_office__status_a_1__na_2__',
                        'public_bus_service__status_a_1__na_2__',
                        'railway_station__status_a_1__na_2__',
                        'auto_modified_autos__status_a_1__na_2__',
                        'vans__status_a_1__na_2__',
                        'national_highway__status_a_1__na_2__',
                        'state_highway__status_a_1__na_2__',
                        'major_district_road__status_a_1__na_2__',
                        'other_district_road__status_a_1__na_2__',
                        'all_weather_road__status_a_1__na_2__',
                        'commercial_bank__status_a_1__na_2__',
                        'cooperative_bank__status_a_1__na_2__',
                        'public_distribution_system__pds__shop__status_a_1__na_2__',
                        'mandis_regular_market__status_a_1__na_2__',
                        'nutritional_centres_icds__status_a_1__na_2__',
                        'nutritional_centres_anganwadi_centre__status_a_1__na_2__',
                        'asha__status_a_1__na_2__',    
                        ]

columns_to_recode2 = [
                        'community_health_centre__numbers_',
                        'primary_health_centre__numbers_',
                        'primary_health_sub_centre__numbers_',
                        'maternity_and_child_welfare_centre__numbers_',
                        'dispensary__numbers_',
                        'veterinary_hospital__numbers_',
]

# Define the transformation function
def transform_value(x):
    if x > 1:
        return 1
    return x

def recode_value(value, threshold):
    if value >= threshold:
        return 0
    else:
        return 1
    
# Apply the recode function to the specified columns (Set 4)
for col in columns_to_recode1:
    cen3[col] = cen3[col].apply(lambda x: recode_value(x, 2))  # Recode 1.5 or above as 0, else 1

# Apply the transformation to the specified columns
cen3[columns_to_recode2] = cen3[columns_to_recode2].applymap(transform_value)


# cen3 = cen3.replace("'", "", regex=True)
cen3 = cen3.applymap(lambda x: x.replace("'", "").strip() if isinstance(x, str) else x)

In [ ]:

cen3['state_code'] = pd.to_numeric(cen3['state_code'], errors='coerce')
cen3['district_code'] = pd.to_numeric(cen3['district_code'], errors='coerce')
cen3['sub_district_code'] = pd.to_numeric(cen3['sub_district_code'], errors='coerce')
cen3['village_code'] = pd.to_numeric(cen3['village_code'], errors='coerce')
cen3['gram_panchayat_code'] = pd.to_numeric(cen3['gram_panchayat_code'], errors='coerce')

cen3 = cen3.dropna(subset=['village_code'])
cen3

In [ ]:
cen4 = cen3.rename(columns={'total_geographical_area__in_hectares_': 'cen11_area', 'total_population_of_village':'population',
                            'total_male_population_of_village':'male_pop','total_female_population_of_village':'female_pop',
                                  'total_scheduled_castes_population_of_village':'sc_pop','total_scheduled_tribes_population_of_village':'st_pop',
                                  'govt_primary_school__status_a_1__na_2__':'p_school','govt_middle_school__status_a_1__na_2__':'m_school',
                                  'govt_secondary_school__status_a_1__na_2__':'h_school','govt_senior_secondary_school__status_a_1__na_2__':'ssc_school',
                                  'govt_arts_and_science_degree_college__status_a_1__na_2__':'arts_and_science_degree_college','govt_polytechnic__status_a_1__na_2__':'polytechnic',
                                  'govt_vocational_training_school_iti__status_a_1__na_2__':'iti','community_health_centre__numbers_':'chc',
                                  'primary_health_centre__numbers_':'phc','primary_health_sub_centre__numbers_':'phc_subcentre',
                                  'maternity_and_child_welfare_centre__numbers_':'mcwc','dispensary__numbers_':'dispensary',
                                  'veterinary_hospital__numbers_':'veterinary_hospital','post_office__status_a_1__na_2__':'post_office',
                                  'sub_post_office__status_a_1__na_2__':'subpost_office','public_bus_service__status_a_1__na_2__':'bus',
                                  'railway_station__status_a_1__na_2__':'railway','auto_modified_autos__status_a_1__na_2__':'auto',
                                  'vans__status_a_1__na_2__':'vans','national_highway__status_a_1__na_2__':'national_highway',
                                  'state_highway__status_a_1__na_2__':'state_highway','major_district_road__status_a_1__na_2__':'MDR',
                                  'other_district_road__status_a_1__na_2__':'ODR','all_weather_road__status_a_1__na_2__':'all_weather_road',
                                  'commercial_bank__status_a_1__na_2__':'commercial_bank','cooperative_bank__status_a_1__na_2__':'cooperative_bank',
                                  'public_distribution_system__pds__shop__status_a_1__na_2__':'pds','mandis_regular_market__status_a_1__na_2__':'mandis',
                                  'nutritional_centres_icds__status_a_1__na_2__':'icds','nutritional_centres_anganwadi_centre__status_a_1__na_2__':'aanganwadi',
                                  'asha__status_a_1__na_2__':'asha','nearest_town_distance_from_village__in_km__':'nearest_town_distance'
                                  })

In [ ]:
# Define a dictionary to map text values to numbers
replace_dict = {'a': 5, 'b': 10, 'c': 20}

# Replace the text values
cen4['nearest_town_distance'] = cen4['nearest_town_distance'].replace(replace_dict)

# Convert the column to numeric, forcing any remaining non-numeric values to NaN
cen4['nearest_town_distance'] = pd.to_numeric(cen4['nearest_town_distance'], errors='coerce')

In [ ]:
cen4

In [ ]:
summary_stats = cen4.describe()
summary_stats

In [ ]:
state_stats = cen4.groupby('state_name').mean()
state_stats

## LGD Merge

In [ ]:
lgd = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/census2011/LGD_villages.csv')
ntl12 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/census2011/2012.csv',low_memory=False)

In [ ]:
ntl12

In [ ]:
lum12 = pd.merge(cen4,ntl12,left_on='village_code',right_on='vilcode11',how='inner')
lum12

In [ ]:
lum12['ntl_pc']=lum12['avg_ntl']/lum12['population']
lum12=lum12.drop_duplicates(subset='village_code')
lum12_sorted = lum12.sort_values(by=['state','district', 'subdistrict','ntl_pc'])
lum12_sorted['Index'] = lum12_sorted.groupby(['state','district','subdistrict']).cumcount() + 1
# Creating a new column 'Max_Len' containing the maximum value of 'Index' within each district
lum12_sorted['Max_Len'] = lum12_sorted.groupby(['state','district','subdistrict'])['Index'].transform('max')

lum12_sorted = lum12_sorted[lum12_sorted['population'] != 0]

lum12_sorted

In [ ]:
lum12_codes = lum12_sorted[['stcode11','dtcode11', 'sdtcode11',
                            'state','district','subdistrict',
                            'state_lgd','dist_lgd','subdt_lgd'
                            ]]
lum12_codes=lum12_codes.drop_duplicates(subset=['state','district','subdistrict',])
lum12_codes

In [ ]:
print(len(lum12_sorted['subdt_lgd'].unique()))
print(len(lum12_sorted['sub_district_code'].unique()))

In [ ]:
lum12_sub = lum12_sorted.groupby(['state','district','subdistrict']).agg({'population': 'sum','male_pop':'sum','female_pop':'sum',
                                                                               'sc_pop':'sum','st_pop':'sum',
                                                                               'p_school':'sum','m_school':'sum','h_school':'sum','ssc_school':'sum',
                                                                               'arts_and_science_degree_college':'sum','polytechnic':'sum','iti':'sum',
                                                                               'chc':'sum','phc':'sum','phc_subcentre':'sum','mcwc':'sum',
                                                                               'dispensary':'sum','veterinary_hospital':'sum',
                                                                               'icds':'sum','aanganwadi':'sum','asha':'sum',
                                                                               'post_office':'sum','subpost_office':'sum','bus':'sum',
                                                                               'railway':'sum','auto':'sum','vans':'sum','all_weather_road':'sum',
                                                                               'commercial_bank':'sum','cooperative_bank':'sum','pds':'sum',
                                                                               'mandis':'sum',
                                                                               'nearest_town_distance':'mean','village_area_sqkm':'sum',
                                                                               'SubDistrict Area':'mean','avg_ntl':'sum',
                                                                               'subdist_ntl_pa':'mean','ntl_pa':'sum','ntl_pc':'mean'
                                                                               }).reset_index()

lum12_sub['subdist_ntl_pc']=lum12_sub['avg_ntl']/lum12_sub['population']
lum12_sub

In [ ]:
print(lum12['avg_ntl'].mean())

In [ ]:
def calculate_alesina(group):
    sum_y = group['ntl_pc'].sum()
    num = group['Max_Len'].max()
    numerator = ((num + 1 - group['Index']) * (group['ntl_pc'])).sum()
    pred = 1/num
    alesina = pred * (num + 1 - ((2*numerator)/sum_y))##(1/group['Max_Len'])
    return pd.Series([sum_y, numerator, num, alesina])

# ale = mer_sorted.groupby(['District']).apply(calculate_alesina).reset_index()

ale2 = lum12_sorted.groupby(['state','district',
                          'subdistrict',
                        #   'avg_ntl','population',
                          ]).apply(calculate_alesina).reset_index()
# Rename the columns for clarity
ale2.columns = ['state','district',
               'subdistrict',
            #    'subdist_ntl','subdist_population',
            #    'subdist_ntl_pc','ntl_pc_mean',
               'sum_y','numerator', 'num','alesina']

# ale2['alesina'] = ale2['alesina'].abs()
# ale = ale[ale['dist_ntl_pc'] <= 0.04]
# ale = ale[ale['alesina'] > 0]

In [ ]:
f1 = pd.merge(lum12_sub, ale2, on=['state','district','subdistrict'],how='left')
final2011 = pd.merge(f1, lum12_codes, on=['state','district','subdistrict'],how='inner')
final2011['year']=2011
final2011

In [ ]:

ale = final2011.copy()
ale = ale[ale['alesina'] > 0]
ale = ale[ale['subdist_ntl_pc'] <= 0.1]

# ale = ale[ale['num']>10]

# Create a scatterplot
plt.scatter(ale['subdist_ntl_pc'], ale['alesina'], label='Alesina Gini', color='blue', marker='o')
# Add labels and title
plt.xlabel("Sub-District NTL per capita")
plt.ylabel("Gini")
plt.title("All Rural Sub-Districts 2020")
# Fit a polynomial best fit line (e.g., a quadratic curve)
coefficients = np.polyfit(ale['subdist_ntl_pc'], ale['alesina'], 2)  # Adjust the degree as needed
polynomial = np.poly1d(coefficients)
x_range = np.linspace(min(ale['subdist_ntl_pc']), max(ale['subdist_ntl_pc']), 100)
y_fit = polynomial(x_range)
# Plot the polynomial best fit line
plt.plot(x_range, y_fit, color='red')
# plt.xlim(-0.02,0.6)
plt.ylim(-0.05,1.05)

# Add a legend
# plt.legend()
# Display the plot
plt.show()

# 2020 Rework

In [ ]:

## ma_ntl_data_updatedsums_Latest_Alldata is the main file
ma = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/ma_ntl_data_updatedsums_Latest_Alldata.csv',low_memory=False) #ma_ntl_data ma_ntl_data_updatedsums_NoVIIRS ma_ntl_data_updatedsums_NEW ma_ntl_data_updatedsums_NEW_Alldata

# ma = pd.read_csv('/Users/sid/Desktop/ma_ntl_data_updatedsums_Latest_Alldata.csv',low_memory=False)

meg = ma.copy()
meg = meg.drop([
    # 'Subdistrict', 'SubDistrict code', 'District','District code','Block code', 'Block', 'State',
    #    'State code','Village',
       'other_assembly_constituencies',
       'subdist_ntl_pa','vilcode11_y'
       ], axis=1)

meg = meg.rename(columns={
                        'state_name': 'State', 
                        'district_name': 'District',
                        'gp_name':'GP',
                        'sub_district_name':'Subdistrict',
                        'village_name':'Village','block_name':'Block',
                        'state_code':'State_code','district_code':'District_code','sub_district_code':'Subdistrict_code',
                        'block_code':'Block_code','gp_code':'GP_code',
                        'Village code':'Village_code',
                        'vilcode11_x':'vilcode11'
                                    })

meg = meg.dropna(subset=['avg_ntl'])
meg = meg.dropna(subset=['total_population'])
meg = meg[meg['total_population'] != 'Nava Mota']
meg['total_population'] = meg['total_population'].astype(float)
meg["ntl_pc"]= meg['avg_ntl']/meg['total_population']

# Reset the index if needed
meg.reset_index(drop=True, inplace=True)
meg['total_population'] = meg['total_population'].astype(float)

In [ ]:
column_names = meg.columns.tolist()
column_names

In [ ]:
meg_filtered = meg[[
    'State_code',
    'State',
    'District_code',
    'District',
    'Subdistrict_code',
    'Subdistrict',
    'Village_code',
    'Village',
    'GP_code',
    'GP',
    'total_hhd',
    'total_population',
    'male_population',
    'female_population',
    'total_hhd_engaged_in_farm_activities',
    'total_hhd_having_bpl_cards',
    'availability_of_primary_school',
    'availability_of_middle_school',
    'availability_of_high_school',
    'availability_of_ssc_school',
    'availability_of_govt_degree_college',
    'is_vocational_edu_centre_available',
    'availability_of_phc_chc',
    'availability_of_jan_aushadhi_kendra',
    'availability_of_mother_child_health_facilities',
    'is_veterinary_hospital_available',
    'is_aanganwadi_centre_available',
    'is_bank_available',
    'is_post_office_available',
    'availability_of_public_transport',
    'availability_of_railway_station',
    'is_village_connected_to_all_weather_road',
    'availability_of_market',
    'nearest_urban_proximity',
    'Village',
    'stcode11',
    'dtcode11',
    'sdtcode11',
    'vilcode11',
    'state',
    'district',
    'subdistrict',
    'vilname11',
    'vil_code',
    'dist_lgd',
    'state_lgd',
    'gpcode',
    'gp',
    'subdt_lgd',
    'Block',
    'block_lgd',
    'ac_no',
    'village_area_sqkm',
    'SubDistrict Area',
    'avg_ntl',
    'ntl_pa',
    'ntl_pc'
]]

In [ ]:
meg_renamed = meg_filtered.rename(columns={
                                           'total_population':'population',
                                  'male_population':'male_pop','female_population':'female_pop',
                                  'total_hhd_engaged_in_farm_activities':'hh_in_farm','total_hhd_having_bpl_cards':'bpl_cards_hh',
                                  'availability_of_primary_school':'p_school','availability_of_middle_school':'m_school',
                                  'availability_of_high_school':'h_school','availability_of_ssc_school':'ssc_school',
                                  'availability_of_govt_degree_college':'arts_and_science_degree_college',
                                  'is_vocational_edu_centre_available':'iti',
                                  'availability_of_phc_chc':'phc',
                                  'availability_of_mother_child_health_facilities':'mcwc','availability_of_jan_aushadhi_kendra':'dispensary',
                                  'is_veterinary_hospital_available':'veterinary_hospital','is_post_office_available':'post_office',
                                  'availability_of_public_transport':'bus',
                                  'availability_of_railway_station':'railway',
                                  'is_village_connected_to_all_weather_road':'all_weather_road',
                                  'is_bank_available':'cooperative_bank',
                                  'availability_of_market':'mandis',
                                  'is_aanganwadi_centre_available':'aanganwadi',                                  
                                  'nearest_urban_proximity':'nearest_town_distance'
                                  })
meg_renamed

In [ ]:
meg_renamed=meg_renamed.drop_duplicates(subset='vil_code')
meg_sorted = meg_renamed.sort_values(by=['state','district', 'subdistrict','ntl_pc'])
meg_sorted['Index'] = meg_sorted.groupby(['state','district','subdistrict']).cumcount() + 1
# Creating a new column 'Max_Len' containing the maximum value of 'Index' within each district
meg_sorted['Max_Len'] = meg_sorted.groupby(['state','district','subdistrict'])['Index'].transform('max')

meg_sorted = meg_sorted[meg_sorted['population'] != 0]

meg_sorted

In [ ]:
meg_codes = meg_sorted[['stcode11','dtcode11', 'sdtcode11',
                            'state','district','subdistrict',
                            'state_lgd','dist_lgd','subdt_lgd'
                            ]]
meg_codes=meg_codes.drop_duplicates(subset=['state','district','subdistrict',])

In [ ]:
meg_sub = meg_sorted.groupby(['state','district','subdistrict']).agg({'population': 'sum','male_pop':'sum','female_pop':'sum',
                                                                               'p_school':'sum','m_school':'sum','h_school':'sum','ssc_school':'sum',
                                                                               'arts_and_science_degree_college':'sum','iti':'sum',
                                                                               'phc':'sum',
                                                                               'mcwc':'sum',
                                                                               'dispensary':'sum','veterinary_hospital':'sum',
                                                                               'aanganwadi':'sum',
                                                                               'post_office':'sum','bus':'sum',
                                                                               'railway':'sum','all_weather_road':'sum',
                                                                               'cooperative_bank':'sum',
                                                                               'mandis':'sum',
                                                                               'nearest_town_distance':'mean','village_area_sqkm':'sum',
                                                                               'SubDistrict Area':'mean','avg_ntl':'sum',
                                                                               'ntl_pa':'sum','ntl_pc':'mean'
                                                                               }).reset_index()

meg_sub['subdist_ntl_pc']=meg_sub['avg_ntl']/meg_sub['population']
meg_sub

In [ ]:
def calculate_alesina(group):
    sum_y = group['ntl_pc'].sum()
    num = group['Max_Len'].max()
    numerator = ((num + 1 - group['Index']) * (group['ntl_pc'])).sum()
    pred = 1/num
    alesina = pred * (num + 1 - ((2*numerator)/sum_y))##(1/group['Max_Len'])
    return pd.Series([sum_y, numerator, num, alesina])

# ale = mer_sorted.groupby(['District']).apply(calculate_alesina).reset_index()

ale20 = meg_sorted.groupby(['state','district',
                          'subdistrict',
                        #   'avg_ntl','population',
                          ]).apply(calculate_alesina).reset_index()
# Rename the columns for clarity
ale20.columns = ['state','district',
               'subdistrict',
            #    'subdist_ntl','subdist_population',
            #    'subdist_ntl_pc','ntl_pc_mean',
               'sum_y','numerator', 'num','alesina']

# ale2['alesina'] = ale2['alesina'].abs()
# ale = ale[ale['dist_ntl_pc'] <= 0.04]
# ale = ale[ale['alesina'] > 0]

In [ ]:
ale20

In [ ]:
f2 = pd.merge(meg_sub, ale20, on=['state','district','subdistrict'],how='left')
final2020 = pd.merge(f2, meg_codes, on=['state','district','subdistrict'],how='inner')
final2020['year']=2020
final2020

In [ ]:

ale = final2020.copy()
ale = ale[ale['alesina'] > 0]
ale = ale[ale['subdist_ntl_pc'] <= 0.1]

# ale = ale[ale['num']>10]

# Create a scatterplot
plt.scatter(ale['subdist_ntl_pc'], ale['alesina'], label='Alesina Gini', color='blue', marker='o')
# Add labels and title
plt.xlabel("Sub-District NTL per capita")
plt.ylabel("Gini")
plt.title("All Rural Sub-Districts 2020")
# Fit a polynomial best fit line (e.g., a quadratic curve)
coefficients = np.polyfit(ale['subdist_ntl_pc'], ale['alesina'], 2)  # Adjust the degree as needed
polynomial = np.poly1d(coefficients)
x_range = np.linspace(min(ale['subdist_ntl_pc']), max(ale['subdist_ntl_pc']), 100)
y_fit = polynomial(x_range)
# Plot the polynomial best fit line
plt.plot(x_range, y_fit, color='red')
# plt.xlim(-0.02,0.6)
plt.ylim(-0.05,1.05)

# Add a legend
# plt.legend()
# Display the plot
plt.show()

# 2017 Rework

## Recoding

In [ ]:
ma2 = pd.read_csv('/Users/sid/Documents/MA_17/MA_2017.csv',low_memory=False)
ma2 = ma2[ma2['Total Population'] > 0]
ntl17 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/India_NTL_2018.csv')

In [ ]:
ma2.columns

In [ ]:
# Get unique values in the column
unique_cities = ma2['Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY'].unique()

unique_cities

In [ ]:
def remove_extra_spaces(col):
  # Check if dtype is string, then apply string methods
  if pd.api.types.is_string_dtype(col):
    return col.str.strip().str.replace('\s+', ' ', regex=True)
  # Otherwise, return the column as-is (for integer columns)
  else:
    return col

# Apply the function to each column using apply
ma2 = ma2.apply(remove_extra_spaces)

In [ ]:
# Initialize new columns with zeros
ma2['p_school'] = 0
ma2['m_school'] = 0
ma2['h_school'] = 0
ma2['ssc_school'] = 0

# Define a function to set the appropriate columns based on the value
def set_school_columns(row):
    if row['Availability of School'] == 'Primary School':
        row['p_school'] = 1
    elif row['Availability of School'] == 'Middle School':
        row['p_school'] = 1
        row['m_school'] = 1
    elif row['Availability of School'] == 'High School':
        row['p_school'] = 1
        row['m_school'] = 1
        row['h_school'] = 1
    elif row['Availability of School'] == 'Senior Secondary School':
        row['p_school'] = 1
        row['m_school'] = 1
        row['h_school'] = 1
        row['ssc_school'] = 1
    return row

# Apply the function to each row
ma3 = ma2.apply(set_school_columns, axis=1)

In [ ]:
ma3 = ma3.fillna(0)
# Define a dictionary for mapping
replacements = {"Yes": 1, 
                "No ( Nearest facility< 1 Km)":1,
                "No ( Nearest facility1-2 kms)":1,
                "No ( Nearest facility2-5 kms)": 0,
                'No ( Nearest facility5-10 Kms)':0,
                "No ( Nearest facilityMore than 10 kms)": 0,
                "No ( Nearest facility10-20 kms)":0,
                "No ( Nearest facilityMore than 20 kms)":0,
                'No ( Nearest facility)':0,
                "No": 0 ,

                "Not covered":0,
                "Partially covered":1,
                "Fully covered":1,

                "_":0,

                "Bus":1,
                "Auto":0,
                "Van":0,
                "None ( Nearest facility< 1  Km)":1,
                "None ( Nearest facility1-2  kms)":1,
                "None ( Nearest facility2-5  kms)":0,
                "None ( Nearest facility5-10  Kms)":0,
                "None ( Nearest facilityMore  than 10 kms)":0,
                "None ( Nearest facilityMore than 10 kms)":0,
                "None ( Nearest facility)":0,

                "None ( Nearest facility< 1 Km)":1,
                "None ( Nearest facility1-2 kms)":1,
                "None ( Nearest facility2-5 kms)":0,
                "None ( Nearest facility5-10 Kms)":0,


                "Mandis":1,
                "Regular market":1,
                "Weekly Haat":1,

                "CHC":1,
                "PHC":1,
                "Sub Centre":1,

                'None':0,
                }

ma4 = ma3.replace(replacements)

In [ ]:
print(ma4['Village code'].dtype)
print(ntl12['vil_code'].dtype)

In [ ]:
ma4['Village code'] = pd.to_numeric(ma4['Village code'], errors='coerce')
ntl12['Village code'] = pd.to_numeric(ntl12['vil_code'], errors='coerce')
# Drop rows with NaN values in 'Village code'
ma4 = ma4.dropna(subset=['Village code'])
ntl12 = ntl12.dropna(subset=['vil_code'])

ma4['Village code'] = ma4['Village code'].astype(int)
ntl12['vil_code'] = ntl12['vil_code'].astype(int)

fin3 = pd.merge(ma4, ntl17, left_on='Village code', right_on='vil_code', how='inner')
# fin3 = fin3.drop(['State code','State','District code',
#                     'District','Subdistrict','SubDistrict code','Block code','Block'
#                     ], axis=1)
fin3['ntl_pc']=fin3['avg_ntl']/fin3['Total Population']
fin3

## Analysis

In [ ]:
column_names = fin3.columns.tolist()
column_names

In [ ]:
ma17=fin3.copy()
ma17 = ma17.dropna(subset=['avg_ntl'])
ma17 = ma17.dropna(subset=['Total Population'])

In [ ]:
ma17_filtered = ma17[['State',
                    'State code',
                    'District',
                    'District code',
                    'Sub District',
                    'Sub District code',
                    'Village_x',
                    'Village code',
                    'Gram Panchayat',
                    'Gram Panchayat code',
                    'Total Household',
                    'Total Population',
                    'Male',
                    'Female',
                    '% households engaged exclusively in Farm  activitie',
                    'p_school',
                    'm_school',
                    'h_school',
                    'ssc_school',
                    'Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY',
                    'Availability of Sub centre /PHC/CHC',
                    'Availability Of Aanganwadi Centre',
                    'Availability of Veterinary Clinic Hospital',
                    'Availability of banks',
                    'Availability of Post office/Sub-Post office',
                    'Availability of markets',
                    'Availability of Public Transport',
                    'Whether the village is connected to All  weather road',
                    'Village_y',
                    'stcode11',
                    'dtcode11',
                    'sdtcode11',
                    'vilcode11',
                    'state',
                    'district',
                    'subdistrict',
                    'vilname11',
                    'vil_code',
                    'dist_lgd',
                    'state_lgd',
                    'gpcode',
                    'gp',
                    'subdt_lgd',
                    'Block',
                    'block_lgd',
                    'ac_no',
                    'village_area_sqkm',
                    'SubDistrict Area',
                    'subdist_ntl_pa',
                    'avg_ntl',
                    'ntl_pa',
                    'ntl_pc'
]]

In [ ]:
ma17_renamed=  ma17_filtered.rename(columns={
                    'Total Household':'total_hhd','Total Population':'population',
                    'Male':'male_pop','Female':'female_pop',
                    '% households engaged exclusively in Farm  activitie':'hh_in_farm',
                    'Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY':'iti',
                    'Availability of Sub centre /PHC/CHC':'phc',
                    'Availability Of Aanganwadi Centre':'aanganwadi',
                    'Availability of Veterinary Clinic Hospital':'veterinary_hospital',
                    'Availability of banks':'cooperative_bank',
                    'Availability of Post office/Sub-Post office':'post_office',
                    'Availability of markets':'mandis',
                    'Availability of Public Transport':'bus',
                    'Whether the village is connected to All  weather road':'all_weather_road',
                    'Village_y':'Village',
})

ma17_renamed = ma17_renamed.drop([
       'Village_x',
       ], axis=1)

In [ ]:
ma17_renamed=ma17_renamed.drop_duplicates(subset='vil_code')
ma17_sorted = ma17_renamed.sort_values(by=['state','district', 'subdistrict','ntl_pc'])
ma17_sorted['Index'] = ma17_sorted.groupby(['state','district','subdistrict']).cumcount() + 1
# Creating a new column 'Max_Len' containing the maximum value of 'Index' within each district
ma17_sorted['Max_Len'] = ma17_sorted.groupby(['state','district','subdistrict'])['Index'].transform('max')

ma17_sorted = ma17_sorted[ma17_sorted['population'] != 0]

ma17_sorted

In [ ]:
ma17_codes = ma17_sorted[['stcode11','dtcode11', 'sdtcode11',
                            'state','district','subdistrict',
                            'state_lgd','dist_lgd','subdt_lgd'
                            ]]
ma17_codes=ma17_codes.drop_duplicates(subset=['state','district','subdistrict',])


columns_to_convert = ['iti', 'phc', 'veterinary_hospital', 'post_office']
ma17_sorted[columns_to_convert] = ma17_sorted[columns_to_convert].apply(pd.to_numeric, errors='coerce').fillna(0).astype(int)

In [ ]:
ma17_sub = ma17_sorted.groupby(['state','district','subdistrict']).agg({'population': 'sum','male_pop':'sum','female_pop':'sum',
                                                                               'p_school':'sum','m_school':'sum','h_school':'sum','ssc_school':'sum',
                                                                               'iti':'sum',
                                                                               'phc':'sum',
                                                                               'veterinary_hospital':'sum',
                                                                               'aanganwadi':'sum',
                                                                               'post_office':'sum','bus':'sum',
                                                                               'all_weather_road':'sum',
                                                                               'cooperative_bank':'sum',
                                                                               'mandis':'sum',
                                                                               'village_area_sqkm':'sum',
                                                                               'SubDistrict Area':'mean','avg_ntl':'sum',
                                                                               'ntl_pa':'sum','ntl_pc':'mean'
                                                                               }).reset_index()

ma17_sub['subdist_ntl_pc']=ma17_sub['avg_ntl']/ma17_sub['population']
ma17_sub

In [ ]:
def calculate_alesina(group):
    sum_y = group['ntl_pc'].sum()
    num = group['Max_Len'].max()
    numerator = ((num + 1 - group['Index']) * (group['ntl_pc'])).sum()
    pred = 1/num
    alesina = pred * (num + 1 - ((2*numerator)/sum_y))##(1/group['Max_Len'])
    return pd.Series([sum_y, numerator, num, alesina])

# ale = mer_sorted.groupby(['District']).apply(calculate_alesina).reset_index()

ale17 = ma17_sorted.groupby(['state','district',
                          'subdistrict',
                        #   'avg_ntl','population',
                          ]).apply(calculate_alesina).reset_index()
# Rename the columns for clarity
ale17.columns = ['state','district',
               'subdistrict',
            #    'subdist_ntl','subdist_population',
            #    'subdist_ntl_pc','ntl_pc_mean',
               'sum_y','numerator', 'num','alesina']

# ale2['alesina'] = ale2['alesina'].abs()
# ale = ale[ale['dist_ntl_pc'] <= 0.04]
# ale = ale[ale['alesina'] > 0]

In [ ]:
f3 = pd.merge(ma17_sub, ale17, on=['state','district','subdistrict'],how='left')
final2017 = pd.merge(f3, ma17_codes, on=['state','district','subdistrict'],how='inner')
final2017['year']=2017
final2017

# Build Panel

In [ ]:
mega = pd.concat([final2011,final2017,final2020])
mega

In [ ]:
mega['no_1000s'] = mega['population']/1000

mega['edu']= mega['p_school']+mega['m_school']+mega['h_school']+\
             mega['ssc_school']+mega['arts_and_science_degree_college']+mega['iti']
mega['edu_per_1000']= mega['edu']/mega['no_1000s']
mega['p_sch_per_1000']= mega['p_school']/mega['no_1000s']
mega['m_sch_per_1000']= mega['m_school']/mega['no_1000s']
mega['h_sch_per_1000']= mega['h_school']/mega['no_1000s']
mega['ssc_sch_per_1000']= mega['ssc_school']/mega['no_1000s']
mega['col_per_1000']= mega['arts_and_science_degree_college']/mega['no_1000s']
mega['iti_per_1000']= mega['iti']/mega['no_1000s']


mega['med'] = mega['phc']+mega['mcwc']+mega['dispensary']+\
              mega['veterinary_hospital']+mega['aanganwadi']
mega['med_per_1000'] = mega['med']+mega['no_1000s']
mega['phc_per_1000']= mega['phc']/mega['no_1000s']
mega['mcwc_per_1000']= mega['mcwc']/mega['no_1000s']
mega['dis_per_1000']= mega['dispensary']/mega['no_1000s']
mega['vet_per_1000']= mega['veterinary_hospital']/mega['no_1000s']
mega['aanganwadi_per_1000']= mega['aanganwadi']/mega['no_1000s']

mega['adm'] = mega['cooperative_bank']+mega['post_office']+mega['mandis']
mega['adm_per_1000'] = mega['adm']+mega['no_1000s']
mega['bank_per_1000']= mega['cooperative_bank']/mega['no_1000s']
mega['po_per_1000']= mega['post_office']/mega['no_1000s']
mega['mandi_per_1000']= mega['mandis']/mega['no_1000s']


mega['share_roads'] = mega['all_weather_road']/mega['num']
mega['share_rails'] = mega['railway']/mega['num']
mega['share_pubtn'] = mega['bus']/mega['num']

mega

In [ ]:
# mega.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Panel.csv',index=False)

# Village Matching Test

In [2]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import numpy as np
from numpy.polynomial import Polynomial

warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [3]:
# meg_sorted.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/2020_Villages_sorted.csv',index=False)
# lum12_sorted.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/2011_Villages_sorted.csv',index=False)

# ale20.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Gini_2020.csv',index=False)
# ale2.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Gini_2011.csv',index=False)

meg_sorted = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/2020_Villages_sorted.csv')
lum12_sorted = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/2011_Villages_sorted.csv')

ale20 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Gini_2020.csv')
ale2 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Gini_2011.csv')

In [4]:
lum12_sorted['sc_pop_share']=lum12_sorted['sc_pop']/lum12_sorted['population']
lum12_sorted['st_pop_share']=lum12_sorted['st_pop']/lum12_sorted['population']
meg_sorted['sc_pop_share'] = None
meg_sorted['st_pop_share'] = None

In [5]:
meg20 = pd.merge(meg_sorted,ale20, on=['state','district','subdistrict'],how='left')
meg20['year']=2020
lum11 = pd.merge(lum12_sorted,ale2, on=['state','district','subdistrict'],how='left')
lum11['year']=2011

In [6]:

# Handle duplicate column names by keeping the first occurrence
meg20 = meg20.loc[:, ~meg20.columns.duplicated()]

# Check for unique column names
if not meg20.columns.is_unique or not lum11.columns.is_unique:
    raise ValueError("One of the DataFrames has non-unique column names.")

# Find the common columns
common_columns = meg20.columns.intersection(lum11.columns)

# Subset both DataFrames to include only these common columns
meg20_common = meg20[common_columns]
lum11_common = lum11[common_columns]

# Concatenate the DataFrames
sync = pd.concat([meg20_common, lum11_common])
sync

,Village,population,male_pop,female_pop,p_school,m_school,h_school,ssc_school,arts_and_science_degree_college,iti,phc,dispensary,mcwc,veterinary_hospital,aanganwadi,cooperative_bank,post_office,bus,railway,all_weather_road,mandis,nearest_town_distance,stcode11,dtcode11,sdtcode11,vilcode11,state,district,subdistrict,vilname11,vil_code,dist_lgd,state_lgd,gpcode,gp,subdt_lgd,Block,block_lgd,ac_no,village_area_sqkm,SubDistrict Area,avg_ntl,ntl_pa,ntl_pc,Index,Max_Len,sc_pop_share,st_pop_share,sum_y,numerator,num,alesina,year
0,Subhashgram (RV),3348.0,1720.0,1628.0,1,0,0,0,0,0,0.0,0.0,1.0,1.0,1,1,0,1,0,1,1,3.517003,35.0,639.0,5919.0,645222.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Subhashgram (RV),645222.0,632.0,35.0,234477.0,SUBASHGRAM,5919.0,DIGLIPUR,6492.0,NaN,3.818813,1534.907491,26.135556,6.843895,0.007806,1,30,None,None,0.940580,9.675809,30.0,0.347529,2020
1,Kalighat (RV),1636.0,837.0,799.0,1,0,0,1,0,0,1.0,0.0,1.0,1.0,1,1,1,1,0,1,1,16.843081,35.0,639.0,5919.0,645237.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Kalighat (RV),645237.0,632.0,35.0,234466.0,KALIGHAT,5919.0,DIGLIPUR,6492.0,NaN,4.637911,1534.907491,14.673333,3.163781,0.008969,2,30,None,None,0.940580,9.675809,30.0,0.347529,2020
2,Madhupur (RV),3097.0,1664.0,1433.0,1,1,1,0,0,0,0.0,0.0,1.0,1.0,1,0,0,0,0,1,0,1.609613,35.0,639.0,5919.0,645218.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Madhupur (RV),645218.0,632.0,35.0,234470.0,MADHUPUR,5919.0,DIGLIPUR,6492.0,NaN,7.669943,1534.907491,29.957777,3.905867,0.009673,3,30,None,None,0.940580,9.675809,30.0,0.347529,2020
3,Sitanagar (RV),2477.0,1271.0,1184.0,1,1,0,1,0,1,0.0,0.0,1.0,1.0,1,0,1,1,0,1,0,NaN,35.0,639.0,5919.0,645220.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Sitanagar (RV),645220.0,632.0,35.0,234476.0,SITANAGAR,5919.0,DIGLIPUR,6492.0,NaN,10.426155,1534.907491,28.177778,2.702605,0.011376,4,30,None,None,0.940580,9.675809,30.0,0.347529,2020
4,Laxmipur (RV),1450.0,726.0,724.0,1,1,1,0,0,0,0.0,0.0,1.0,1.0,1,0,1,1,0,1,0,2.937917,35.0,639.0,5919.0,645216.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Laxmipur (RV),645216.0,632.0,35.0,234469.0,LAXMIPUR,5919.0,DIGLIPUR,6492.0,NaN,7.400439,1534.907491,20.591111,2.782417,0.014201,5,30,None,None,0.940580,9.675809,30.0,0.347529,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460676,Kolyagara,162.0,77.0,85.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,NaN,19.0,340.0,2384,330507.0,WEST BENGAL,Purulia,Santuri,Kalaid,330507.0,321.0,19.0,111116.0,BALITORA,2384.0,SANTURI,3063.0,246.0,1.290310,216.977568,7.605714,5.894486,0.046949,86,103,0.0,0.993827,1.760575,73.748904,103.0,0.196328,2011
460677,Trisuldanga,120.0,59.0,61.0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,1,0,0,0,0,1,0,NaN,19.0,340.0,2384,330551.0,WEST BENGAL,Purulia,Santuri,Malibana,330551.0,321.0,19.0,111121.0,TARABARI,2384.0,SANTURI,3063.0,246.0,2.005218,216.977568,5.644286,2.814800,0.047036,87,103,0.0,0.55,1.760575,73.748904,103.0,0.196328,2011
460678,Sirisgora,213.0,111.0,102.0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,NaN,19.0,340.0,2384,330522.0,WEST BENGAL,Purulia,Santuri,Dhuluri,330522.0,321.0,19.0,111119.0,RAMCHANDRAPUR-KOTALDI,2384.0,SANTURI,3063.0,246.0,1.218654,216.977568,14.190001,11.643994,0.066620,88,103,0.014085,0.483568,1.760575,73.748904,103.0,0.196328,2011
460679,Mujadih,624.0,325.0,299.0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,NaN,19.0,340.0,2384,330488.0,WEST BENGAL,Purulia,Santuri,Bakuliashota,330488.0,321.0,19.0,111116.0,BALITORA,2384.0,SANTURI,3063.0,246.0,2.323675,216.977568,62.277140,26.801139,0.099803,89,103,0.399038,0.310897,1.760575,73.748904,103.0,0.196328,2011
460680,Rautora,402.0,219.0,183.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,NaN,19.0,340.0,2384,330487.0,WEST BENGAL,Purulia,Santuri,Deuli,330487.0,321.0,19.0,111116.0,BALITORA,2384.0,SANTURI,3063.0,246.0,2.619005,216.977568,42.758570,16.326269,0.106365,90,103,0.002488,0.0,1.760575,73.748904,103.0,0.196328,2011

In [7]:
state_stats_20 = meg20_common.groupby('state').mean()
state_stats_11 = lum11_common.groupby('state').mean()
state_stats_20 = state_stats_20.reset_index()
state_stats_11 = state_stats_11.reset_index()
avg = pd.concat([state_stats_20,state_stats_11])

# avg.to_csv('/Users/sid/Desktop/avg_infra_IN.csv',index=False)
# state_stats_11 = state_stats_11.reset_index()

In [8]:
IN_stats_20 = meg20_common.groupby('year').mean()
IN_stats_11 = lum11_common.groupby('year').mean()
IN_stats_20 = IN_stats_20.reset_index()
IN_stats_11 = IN_stats_11.reset_index()
avg = pd.concat([IN_stats_11,IN_stats_20])

# avg.to_csv('/Users/sid/Desktop/avg_infra_INdia.csv',index=False)

In [9]:

# t1zone = meg20_common.copy()
# t2zone = lum11_common.copy()

# # Mapping of states to zones
# state_to_zone = {
#     'ANDHRA PRADESH': 'A',
#     'ASSAM': 'B',
#     'BIHAR': 'B',
#     'CHHATTISGARH': 'B',
#     'GOA': 'A',
#     'GUJARAT': 'A',
#     'HARYANA': 'B',
#     'JHARKHAND': 'B',
#     'KARNATAKA': 'A',
#     'KERALA': 'A',
#     'MADHYA PRADESH': 'B',
#     'MAHARASHTRA': 'A',
#     'ODISHA': 'B',
#     'PUNJAB': 'B',
#     'RAJASTHAN': 'B',
#     'TAMIL NADU': 'A',
#     'TELANGANA': 'A',
#     'UTTAR PRADESH': 'B',
#     'UTTARAKHAND': 'B',
#     'WEST BENGAL': 'B'
# }

# # Adding the 'zone' column to the DataFrame
# t1zone['zone'] = t1zone['state'].map(state_to_zone)
# t2zone['zone'] = t2zone['state'].map(state_to_zone)

# IN_stats_20 = t1zone.groupby(['zone','year']).mean()
# IN_stats_11 = t2zone.groupby(['zone','year']).mean()
# IN_stats_20 = IN_stats_20.reset_index()
# IN_stats_11 = IN_stats_11.reset_index()
# avg = pd.concat([IN_stats_11,IN_stats_20])
# avg
# # avg.to_csv('/Users/sid/Desktop/avg_infra_INdia.csv',index=False)

,zone,year,population,male_pop,female_pop,p_school,m_school,h_school,ssc_school,arts_and_science_degree_college,iti,phc,dispensary,mcwc,veterinary_hospital,aanganwadi,cooperative_bank,post_office,bus,railway,all_weather_road,mandis,nearest_town_distance,stcode11,dtcode11,vilcode11,vil_code,dist_lgd,state_lgd,gpcode,subdt_lgd,block_lgd,ac_no,village_area_sqkm,SubDistrict Area,avg_ntl,ntl_pa,ntl_pc,Index,Max_Len,sc_pop_share,st_pop_share,sum_y,numerator,num,alesina
0,A,2011,1970.759924,994.036235,976.844702,0.939770,0.513797,0.243761,0.073352,0.006236,0.006489,0.069367,0.057233,0.062063,0.114204,0.912769,0.081034,0.117822,0.820038,0.018748,0.951642,0.073343,23.353980,29.560235,575.961777,576114.587508,576028.813957,542.629921,28.675903,199176.960962,4850.393288,5208.044207,111.700006,8.818249,846.208303,25.265658,4.091752,0.038325,54.706833,114.694845,0.161048,0.155415,4.854903,217.779495,114.694845,0.395976
1,B,2011,1379.649740,712.925089,666.717068,0.811362,0.413049,0.132549,0.054735,0.006733,0.004002,0.031617,0.033624,0.063942,0.038619,0.806808,0.044357,0.101753,0.163414,0.027038,0.627564,0.142265,23.778983,14.298074,279.749204,264915.475201,264915.475560,265.004433,14.298074,104714.077082,1962.326823,2408.186583,127.193423,4.398368,825.246264,16.070760,5.751373,0.041220,98.695801,208.434913,0.192357,0.174325,8.396712,536.072424,208.434913,0.485871
0,A,2020,2043.879530,1009.590362,972.985157,0.871854,0.425794,0.258146,0.141144,0.044067,0.073136,0.180090,0.102128,0.444113,0.212148,0.900506,0.175364,0.394177,0.611747,0.035101,0.758265,0.122779,7.537484,29.598826,577.184848,576211.359663,576211.366181,544.535838,28.610032,201139.904151,4830.784832,5198.663884,108.823692,8.436924,838.332568,49.565652,8.187581,0.545597,57.517079,114.034158,NaN,NaN,72.903036,845.365137,114.034158,0.612761
1,B,2020,1689.937718,852.874751,768.564754,0.777143,0.414762,0.170434,0.110104,0.027351,0.029073,0.106282,0.052050,0.285090,0.077471,0.781731,0.104624,0.180003,0.296082,0.026847,0.689078,0.093935,7.320175,14.337489,280.253408,265758.010381,265758.010710,265.225476,14.337489,105898.580149,1960.628973,2407.558192,127.670521,4.264867,795.294133,29.257064,11.324838,0.342330,101.386427,201.772853,NaN,NaN,73.554971,1344.805166,201.772853,0.694985

In [9]:
# # Function to fill None values with non-None values within the same group
# def fill_none_with_group_values(group):
#     group['sc_pop_share'] = group['sc_pop_share'].fillna(method='ffill').fillna(method='bfill')
#     group['st_pop_share'] = group['st_pop_share'].fillna(method='ffill').fillna(method='bfill')
#     return group

# # Apply the function to each group
# sync = sync.groupby('vil_code').apply(fill_none_with_group_values)

In [10]:
# Define a function to fill None values using transform
def fill_with_group_values(series):
    return series.fillna(method='ffill').fillna(method='bfill')

# Apply the function using transform for both columns
sync['sc_pop_share'] = sync.groupby('vil_code')['sc_pop_share'].transform(fill_with_group_values)
sync['st_pop_share'] = sync.groupby('vil_code')['st_pop_share'].transform(fill_with_group_values)
sync

,Village,population,male_pop,female_pop,p_school,m_school,h_school,ssc_school,arts_and_science_degree_college,iti,phc,dispensary,mcwc,veterinary_hospital,aanganwadi,cooperative_bank,post_office,bus,railway,all_weather_road,mandis,nearest_town_distance,stcode11,dtcode11,sdtcode11,vilcode11,state,district,subdistrict,vilname11,vil_code,dist_lgd,state_lgd,gpcode,gp,subdt_lgd,Block,block_lgd,ac_no,village_area_sqkm,SubDistrict Area,avg_ntl,ntl_pa,ntl_pc,Index,Max_Len,sc_pop_share,st_pop_share,sum_y,numerator,num,alesina,year
0,Subhashgram (RV),3348.0,1720.0,1628.0,1,0,0,0,0,0,0.0,0.0,1.0,1.0,1,1,0,1,0,1,1,3.517003,35.0,639.0,5919.0,645222.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Subhashgram (RV),645222.0,632.0,35.0,234477.0,SUBASHGRAM,5919.0,DIGLIPUR,6492.0,NaN,3.818813,1534.907491,26.135556,6.843895,0.007806,1,30,0.0,0.001152,0.940580,9.675809,30.0,0.347529,2020
1,Kalighat (RV),1636.0,837.0,799.0,1,0,0,1,0,0,1.0,0.0,1.0,1.0,1,1,1,1,0,1,1,16.843081,35.0,639.0,5919.0,645237.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Kalighat (RV),645237.0,632.0,35.0,234466.0,KALIGHAT,5919.0,DIGLIPUR,6492.0,NaN,4.637911,1534.907491,14.673333,3.163781,0.008969,2,30,0.0,0.014213,0.940580,9.675809,30.0,0.347529,2020
2,Madhupur (RV),3097.0,1664.0,1433.0,1,1,1,0,0,0,0.0,0.0,1.0,1.0,1,0,0,0,0,1,0,1.609613,35.0,639.0,5919.0,645218.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Madhupur (RV),645218.0,632.0,35.0,234470.0,MADHUPUR,5919.0,DIGLIPUR,6492.0,NaN,7.669943,1534.907491,29.957777,3.905867,0.009673,3,30,0.0,0.0,0.940580,9.675809,30.0,0.347529,2020
3,Sitanagar (RV),2477.0,1271.0,1184.0,1,1,0,1,0,1,0.0,0.0,1.0,1.0,1,0,1,1,0,1,0,NaN,35.0,639.0,5919.0,645220.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Sitanagar (RV),645220.0,632.0,35.0,234476.0,SITANAGAR,5919.0,DIGLIPUR,6492.0,NaN,10.426155,1534.907491,28.177778,2.702605,0.011376,4,30,0.0,0.001796,0.940580,9.675809,30.0,0.347529,2020
4,Laxmipur (RV),1450.0,726.0,724.0,1,1,1,0,0,0,0.0,0.0,1.0,1.0,1,0,1,1,0,1,0,2.937917,35.0,639.0,5919.0,645216.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Laxmipur (RV),645216.0,632.0,35.0,234469.0,LAXMIPUR,5919.0,DIGLIPUR,6492.0,NaN,7.400439,1534.907491,20.591111,2.782417,0.014201,5,30,0.0,0.001621,0.940580,9.675809,30.0,0.347529,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460676,Kolyagara,162.0,77.0,85.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0,1,0,NaN,19.0,340.0,2384,330507.0,WEST BENGAL,Purulia,Santuri,Kalaid,330507.0,321.0,19.0,111116.0,BALITORA,2384.0,SANTURI,3063.0,246.0,1.290310,216.977568,7.605714,5.894486,0.046949,86,103,0.0,0.993827,1.760575,73.748904,103.0,0.196328,2011
460677,Trisuldanga,120.0,59.0,61.0,0,0,0,0,0,0,1.0,1.0,1.0,1.0,1,0,0,0,0,1,0,NaN,19.0,340.0,2384,330551.0,WEST BENGAL,Purulia,Santuri,Malibana,330551.0,321.0,19.0,111121.0,TARABARI,2384.0,SANTURI,3063.0,246.0,2.005218,216.977568,5.644286,2.814800,0.047036,87,103,0.0,0.55,1.760575,73.748904,103.0,0.196328,2011
460678,Sirisgora,213.0,111.0,102.0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,NaN,19.0,340.0,2384,330522.0,WEST BENGAL,Purulia,Santuri,Dhuluri,330522.0,321.0,19.0,111119.0,RAMCHANDRAPUR-KOTALDI,2384.0,SANTURI,3063.0,246.0,1.218654,216.977568,14.190001,11.643994,0.066620,88,103,0.014085,0.483568,1.760575,73.748904,103.0,0.196328,2011
460679,Mujadih,624.0,325.0,299.0,1,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,NaN,19.0,340.0,2384,330488.0,WEST BENGAL,Purulia,Santuri,Bakuliashota,330488.0,321.0,19.0,111116.0,BALITORA,2384.0,SANTURI,3063.0,246.0,2.323675,216.977568,62.277140,26.801139,0.099803,89,103,0.399038,0.310897,1.760575,73.748904,103.0,0.196328,2011
460680,Rautora,402.0,219.0,183.0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,NaN,19.0,340.0,2384,330487.0,WEST BENGAL,Purulia,Santuri,Deuli,330487.0,321.0,19.0,111116.0,BALITORA,2384.0,SANTURI,3063.0,246.0,2.619005,216.977568,42.758570,16.326269,0.106365,90,103,0.002488,0.0,1.760575,73.748904,103.0,0.196328,2011

In [12]:
# Group by the specified columns
# grouped = sync.groupby(['state', 'district', 'subdistrict', 'vil_code', 'Village'])
grouped = sync.groupby(['vil_code'])

# Filter groups that contain both years 2011 and 2020
filtered_sync = grouped.filter(lambda x: set(x['year']) >= {2011, 2020})

# Sort the resulting DataFrame
sorted_sync = filtered_sync.sort_values(by=['state', 'district', 'subdistrict', 'vil_code', 'Village', 'year'])
sorted_sync

,Village,population,male_pop,female_pop,p_school,m_school,h_school,ssc_school,arts_and_science_degree_college,iti,phc,dispensary,mcwc,veterinary_hospital,aanganwadi,cooperative_bank,post_office,bus,railway,all_weather_road,mandis,nearest_town_distance,stcode11,dtcode11,sdtcode11,vilcode11,state,district,subdistrict,vilname11,vil_code,dist_lgd,state_lgd,gpcode,gp,subdt_lgd,Block,block_lgd,ac_no,village_area_sqkm,SubDistrict Area,avg_ntl,ntl_pa,ntl_pc,Index,Max_Len,sc_pop_share,st_pop_share,sum_y,numerator,num,alesina,year
25,SHYAM NAGAR,701.0,374.0,327.0,1,1,0,0,0,0,0.0,0.0,0.0,0.0,1,0,0,1,0,1,0,329.000000,35.0,639.0,5919.0,645212.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Shyam Nagar (RV),645212.0,632.0,35.0,234473.0,RADHANAGAR,5919.0,DIGLIPUR,6492.0,NaN,7.702706,1534.907491,5.712857,0.741669,0.008150,20,36,0.0,0.0,5.297823,13.710176,36.0,0.884006,2011
12,Shyam Nagar (RV),953.0,496.0,457.0,1,1,0,0,0,0,0.0,0.0,1.0,1.0,1,0,1,0,0,1,1,10.850803,35.0,639.0,5919.0,645212.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Shyam Nagar (RV),645212.0,632.0,35.0,234473.0,RADHANAGAR,5919.0,DIGLIPUR,6492.0,NaN,7.702706,1534.907491,21.623333,2.807239,0.022690,13,30,0.0,0.0,0.940580,9.675809,30.0,0.347529,2020
22,RADHA NAGAR,902.0,476.0,426.0,1,0,0,0,0,0,1.0,0.0,0.0,0.0,1,0,0,1,0,1,0,1524.000000,35.0,639.0,5919.0,645213.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Radha Nagar (RV),645213.0,632.0,35.0,234473.0,RADHANAGAR,5919.0,DIGLIPUR,6492.0,NaN,9.935321,1534.907491,6.470000,0.651212,0.007173,17,36,0.0,0.0,5.297823,13.710176,36.0,0.884006,2011
14,Radha Nagar (RV),1091.0,596.0,495.0,1,0,0,0,0,0,1.0,0.0,1.0,0.0,1,0,0,0,0,1,0,10.850803,35.0,639.0,5919.0,645213.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Radha Nagar (RV),645213.0,632.0,35.0,234473.0,RADHANAGAR,5919.0,DIGLIPUR,6492.0,NaN,9.935321,1534.907491,26.526666,2.669936,0.024314,15,30,0.0,0.0,0.940580,9.675809,30.0,0.347529,2020
15,SWARAJGRAM,940.0,514.0,426.0,1,1,1,1,0,0,0.0,0.0,0.0,0.0,1,0,0,1,0,1,0,326.000000,35.0,639.0,5919.0,645214.0,ANDAMAN & NICOBAR,North And Middle Andaman,Diglipur,Swarajgram (RV),645214.0,632.0,35.0,234473.0,RADHANAGAR,5919.0,DIGLIPUR,6492.0,NaN,7.549781,1534.907491,5.392857,0.714306,0.005737,10,36,0.0,0.0,5.297823,13.710176,36.0,0.884006,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519460,Palash Pahari,350.0,180.0,170.0,1,0,1,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,2.035555,19.0,340.0,02384,330585.0,WEST BENGAL,Purulia,Santuri,Palash Pahari,330585.0,321.0,19.0,111117.0,GARSIKA,2384.0,SANTURI,3063.0,246.0,1.421360,216.977568,7.926667,5.576817,0.022648,53,100,0.297521,0.603306,75.343192,300.975246,100.0,0.930106,2020
519418,Benrya,965.0,487.0,478.0,1,0,1,1,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,2.035555,19.0,340.0,02384,330586.0,WEST BENGAL,Purulia,Santuri,Benrya,330586.0,321.0,19.0,111117.0,GARSIKA,2384.0,SANTURI,3063.0,246.0,1.909289,216.977568,9.543333,4.998369,0.009889,11,100,0.517532,0.086957,75.343192,300.975246,100.0,0.930106,2020
460617,Mangram,713.0,365.0,348.0,1,1,1,0,0,0,0.0,0.0,0.0,0.0,1,0,1,0,0,0,0,NaN,19.0,340.0,2384,330586.0,WEST BENGAL,Purulia,Santuri,Benrya,330586.0,321.0,19.0,111117.0,GARSIKA,2384.0,SANTURI,3063.0,246.0,1.909289,216.977568,7.825715,4.098758,0.010976,27,103,0.517532,0.086957,1.760575,73.748904,103.0,0.196328,2011
519423,Kulai,1550.0,765.0,785.0,1,0,1,0,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,0,0,2.035555,19.0,340.0,02384,330587.0,WEST BENGAL,Purulia,Santuri,Kulai,330587.0,321.0,19.0,111117.0,GARSIKA,2384.0,SANTURI,3063.0,246.0,3.473581,216.977568,17.604444,5.068097,0.011358,16,100,0.019721,0.431389,75.343192,300.975246,100.0,0.930106,2020
460604,Kulbana,1217.0,616.0,601.0,1,1,1,1,0,0,0.0,0.0,0.0,0.0,1,0,0,0,0,1,0,NaN,19.0,340.0,2384,330587.0,WEST BENGAL,Purulia,Santuri,Kulai,330587.0,321.0,19.0,111117.0,GARSIKA,2384.0,SANTURI,3063.0,246.0,3.473581,216.977568,10.081430,2.902316,0.008284,14,103,0.019721,0.431389,1.760575,73.748904,103.0,0.196328,2011

In [34]:
dissorted_sync = sorted_sync.groupby(['state','district','subdistrict','year']).agg({'population': 'sum','male_pop':'sum','female_pop':'sum',
                                                                               'p_school':'sum','m_school':'sum','h_school':'sum','ssc_school':'sum',
                                                                               'arts_and_science_degree_college':'sum','iti':'sum',
                                                                               'phc':'sum','mcwc':'sum',
                                                                               'dispensary':'sum','veterinary_hospital':'sum',
                                                                               'aanganwadi':'sum',
                                                                               'post_office':'sum','bus':'sum',
                                                                               'railway':'sum','all_weather_road':'sum',
                                                                               'cooperative_bank':'sum',
                                                                               'mandis':'sum',
                                                                               'nearest_town_distance':'mean','village_area_sqkm':'sum',
                                                                               'SubDistrict Area':'mean','avg_ntl':'sum',
                                                                               'ntl_pa':'sum','ntl_pc':'mean',
                                                                               'Max_Len':'mean','sum_y':'mean',	'numerator':'mean',	'num':'mean','alesina':'mean',
                                                                               }).reset_index()

dissorted_sync['subdist_ntl_pc']=dissorted_sync['avg_ntl']/dissorted_sync['population']

In [33]:
weighted_means = sorted_sync.groupby(['state', 'district', 'subdistrict', 'year']).apply(
    lambda x: pd.Series({
        'sc_pop_share': (x['sc_pop_share'] * x['population']).sum() / x['population'].sum(),
        'st_pop_share': (x['st_pop_share'] * x['population']).sum() / x['population'].sum()
    })
).reset_index()

# Step 3: Merge the results
dissorted_sync = pd.merge(dissorted_sync, weighted_means, on=['state', 'district', 'subdistrict', 'year'])

In [32]:
# Create the 'period' column based on the 'year' column
dissorted_sync['period'] = np.where(dissorted_sync['year'] == 2011, 0, 
                                    np.where(dissorted_sync['year'] == 2020, 1, np.nan))

# If you want to drop rows where 'year' is not 2011 or 2020
dissorted_sync.dropna(subset=['period'], inplace=True)

pivot_df = dissorted_sync.pivot(index=['state','district','subdistrict'], columns='year', values='mcwc').reset_index()

# Rename columns for clarity
pivot_df.columns = ['state','district','subdistrict', 'mcwc_2011', 'mcwc_2020']

# Create the 'treated' column based on the comparison of mcwc values
pivot_df['treated'] = np.where(pivot_df['mcwc_2011'] > pivot_df['mcwc_2020'], 0, 1)

# Drop duplicates to avoid issues in the merge step
# dissorted_sync = dissorted_sync.drop_duplicates(subset=['vil_code', 'year'])

# Merge the treated column back to the original DataFrame
dissorted_sync = pd.merge(dissorted_sync, pivot_df[['state','district','subdistrict', 'treated']], on=['state','district','subdistrict'], how='left')

In [29]:
# Mapping of states to zones
state_to_zone = {
    'ANDHRA PRADESH': 'A',
    'ASSAM': 'B',
    'BIHAR': 'B',
    'CHHATTISGARH': 'B',
    'GOA': 'A',
    'GUJARAT': 'A',
    'HARYANA': 'B',
    'JHARKHAND': 'B',
    'KARNATAKA': 'A',
    'KERALA': 'A',
    'MADHYA PRADESH': 'B',
    'MAHARASHTRA': 'A',
    'ODISHA': 'B',
    'PUNJAB': 'B',
    'RAJASTHAN': 'B',
    'TAMIL NADU': 'A',
    'TELANGANA': 'A',
    'UTTAR PRADESH': 'B',
    'UTTARAKHAND': 'B',
    'WEST BENGAL': 'B'
}


dissorted_sync['Region'] = dissorted_sync['state'].map(state_to_zone)

dissorted_sync['no_1000s'] = dissorted_sync['population']/1000

dissorted_sync['edu']= dissorted_sync['p_school']+dissorted_sync['m_school']+dissorted_sync['h_school']+\
             dissorted_sync['ssc_school']+dissorted_sync['arts_and_science_degree_college']+dissorted_sync['iti']
dissorted_sync['edu_per_1000']= dissorted_sync['edu']/dissorted_sync['no_1000s']
dissorted_sync['p_sch_per_1000']= dissorted_sync['p_school']/dissorted_sync['no_1000s']
dissorted_sync['m_sch_per_1000']= dissorted_sync['m_school']/dissorted_sync['no_1000s']
dissorted_sync['h_sch_per_1000']= dissorted_sync['h_school']/dissorted_sync['no_1000s']
dissorted_sync['ssc_sch_per_1000']= dissorted_sync['ssc_school']/dissorted_sync['no_1000s']
dissorted_sync['col_per_1000']= dissorted_sync['arts_and_science_degree_college']/dissorted_sync['no_1000s']
dissorted_sync['iti_per_1000']= dissorted_sync['iti']/dissorted_sync['no_1000s']


dissorted_sync['med'] = dissorted_sync['phc']+dissorted_sync['mcwc']+dissorted_sync['dispensary']+\
              dissorted_sync['veterinary_hospital']+dissorted_sync['aanganwadi']
dissorted_sync['med_per_1000'] = dissorted_sync['med']/dissorted_sync['no_1000s']
dissorted_sync['phc_per_1000']= dissorted_sync['phc']/dissorted_sync['no_1000s']
dissorted_sync['mcwc_per_1000']= dissorted_sync['mcwc']/dissorted_sync['no_1000s']
dissorted_sync['dis_per_1000']= dissorted_sync['dispensary']/dissorted_sync['no_1000s']
dissorted_sync['vet_per_1000']= dissorted_sync['veterinary_hospital']/dissorted_sync['no_1000s']
dissorted_sync['aanganwadi_per_1000']= dissorted_sync['aanganwadi']/dissorted_sync['no_1000s']

dissorted_sync['adm'] = dissorted_sync['cooperative_bank']+dissorted_sync['post_office']+dissorted_sync['mandis']
dissorted_sync['adm_per_1000'] = dissorted_sync['adm']/dissorted_sync['no_1000s']
dissorted_sync['bank_per_1000']= dissorted_sync['cooperative_bank']/dissorted_sync['no_1000s']
dissorted_sync['po_per_1000']= dissorted_sync['post_office']/dissorted_sync['no_1000s']
dissorted_sync['mandi_per_1000']= dissorted_sync['mandis']/dissorted_sync['no_1000s']


dissorted_sync['share_roads'] = dissorted_sync['all_weather_road']/dissorted_sync['num']
dissorted_sync['share_rails'] = dissorted_sync['railway']/dissorted_sync['num']
dissorted_sync['share_pubtn'] = dissorted_sync['bus']/dissorted_sync['num']

dissorted_sync['unique_id'] = dissorted_sync['state'] + '_' + dissorted_sync['district'] + '_' + dissorted_sync['subdistrict']
dissorted_sync['nearest_town_distance'] = dissorted_sync.groupby(['state', 'district', 'subdistrict'])['nearest_town_distance'].transform(lambda x: x.fillna(x.mean()))

In [31]:
# dissorted_sync.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Panel_Raw.csv',index=False)

In [ ]:
dis_sync = dissorted_sync.copy()

# List of variables to calculate differences for
variables = ['population', 'male_pop', 'female_pop', 'p_school', 'm_school', 'h_school',
             'ssc_school', 'arts_and_science_degree_college', 'iti', 'phc', 'mcwc',
             'dispensary', 'veterinary_hospital', 'aanganwadi', 'post_office', 'bus',
             'railway', 'all_weather_road', 'cooperative_bank', 'mandis', 'nearest_town_distance',
             'village_area_sqkm', 'SubDistrict Area', 'avg_ntl', 'ntl_pa', 'ntl_pc',
             'Max_Len', 'sum_y', 'numerator', 'num', 'alesina', 'no_1000s', 'edu',
             'edu_per_1000', 'p_sch_per_1000', 'm_sch_per_1000', 'h_sch_per_1000',
             'ssc_sch_per_1000', 'col_per_1000', 'iti_per_1000', 'med', 'med_per_1000',
             'phc_per_1000', 'mcwc_per_1000', 'dis_per_1000', 'vet_per_1000', 'aanganwadi_per_1000',
             'adm', 'adm_per_1000', 'bank_per_1000', 'po_per_1000', 'mandi_per_1000',
             'share_roads', 'share_rails', 'share_pubtn']

# Calculate differences for each variable
for var in variables:
    # Pivot the data to wide format to easily calculate differences
    pivot_df = dis_sync.pivot(index=['state', 'district', 'subdistrict'], columns='year', values=var).reset_index()
    pivot_df.columns = [str(col) if not isinstance(col, str) else col for col in pivot_df.columns]
    pivot_df[f'{var}_change'] = pivot_df['2020'] - pivot_df['2011']
    pivot_df = pivot_df.drop(columns=['2011', '2020'])
    
    # Merge back to the original DataFrame
    dis_sync = pd.merge(dis_sync, pivot_df, on=['state', 'district', 'subdistrict'])

dis_sync=dis_sync.drop_duplicates(subset=['state','district','subdistrict',])

dis_sync = dis_sync.drop(columns=variables)
dis_sync = dis_sync.drop(columns={'year','no_1000s_change','village_area_sqkm_change','SubDistrict Area_change'},axis=1)
# dis_sync

In [ ]:
# dis_sync.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Panel_Raw_change.csv',index=False)

In [ ]:
summary_stats = sorted_sync.groupby(['state', 'year']).describe()

# Optionally, you can reset the index to make the DataFrame more readable
summary_stats = summary_stats.reset_index()
columns_to_drop = summary_stats.columns[summary_stats.columns.get_level_values(1).isin(['std', 'min', '25%', '50%', '75%', 'max'])]
summary_stats = summary_stats.drop(columns=columns_to_drop)

In [ ]:
summary_stats = dissorted_sync.groupby(['state', 'year']).describe()

# Optionally, you can reset the index to make the DataFrame more readable
summary_stats = summary_stats.reset_index()
columns_to_drop = summary_stats.columns[summary_stats.columns.get_level_values(1).isin(['std', 'min', '25%', '50%', '75%', 'max'])]
summary_stats = summary_stats.drop(columns=columns_to_drop)
summary_stats

In [ ]:
ale = dissorted_sync.copy()
# ale = ale[ale['year'] == 2020]
ale = ale[ale['alesina'] > 0]
ale = ale[ale['subdist_ntl_pc'] <= 0.1]

years = ale['year'].unique()

# Loop through each year and plot
for year in years:
    year_df = ale[ale['year'] == year]
    
    if not year_df.empty:
        plt.scatter(year_df['subdist_ntl_pc'], year_df['alesina'], label=f'{year}',marker=',', s=0.75) #, color=dot_colors[year] 
        
        # Fit a polynomial best fit line (e.g., a quadratic curve)
        coefficients = np.polyfit(year_df['subdist_ntl_pc'], year_df['alesina'], 2)
        polynomial = np.poly1d(coefficients)
        x_range = np.linspace(min(year_df['subdist_ntl_pc']), max(year_df['subdist_ntl_pc']), 100)
        y_fit = polynomial(x_range)
        
        # Plot the polynomial best fit line
        plt.plot(x_range, y_fit, label=f'Best fit {year}',linewidth=2.5)#,color=line_colors[year])

# Add labels and title
plt.xlabel("Sub-District NTL per capita")
plt.ylabel("Gini")
plt.title("Scatter Plot of India Divided by Year")
plt.ylim(-0.05, 1.05)

# Add a legend
plt.legend()

# Display the plot
plt.show()

In [ ]:

ale = dissorted_sync.copy()
ale = ale[ale['alesina'] > 0]
ale = ale[ale['subdist_ntl_pc'] <= 0.1]

# Get the list of unique states and years
zones = ale['zone'].unique()
years = ale['year'].unique()

# Loop through each state and plot

for state in zones:
    state_df = ale[ale['zone'] == state]
    
    plt.figure(figsize=(12, 6))
    
    for year in years:
        year_df = state_df[state_df['year'] == year]
        
        if not year_df.empty:
            plt.scatter(year_df['subdist_ntl_pc'], year_df['alesina'], label=f'{year}', marker='.')
            
            # Fit a polynomial best fit line (e.g., a quadratic curve)
            coefficients = np.polyfit(year_df['subdist_ntl_pc'], year_df['alesina'], 2)
            polynomial = np.poly1d(coefficients)
            x_range = np.linspace(min(year_df['subdist_ntl_pc']), max(year_df['subdist_ntl_pc']), 100)
            y_fit = polynomial(x_range)
            
            # Plot the polynomial best fit line
            plt.plot(x_range, y_fit, label=f'Best fit {year}',linewidth=2.5)
    
    # Add labels and title
    plt.xlabel("Sub-District NTL per capita")
    plt.ylabel("Gini")
    plt.title(f"{state} - Scatter Plot by Year")
    plt.ylim(-0.05, 1.05)
    
    # Add a legend
    plt.legend()
    
    # Display the plot
    plt.show()

In [ ]:

ale = dissorted_sync.copy()
ale = ale[ale['alesina'] > 0]
ale = ale[ale['subdist_ntl_pc'] <= 0.1]

# Get the list of unique states and years
states = ale['state'].unique()
years = ale['year'].unique()

# Loop through each state and plot

for state in states:
    state_df = ale[ale['state'] == state]
    
    plt.figure(figsize=(12, 6))
    
    for year in years:
        year_df = state_df[state_df['year'] == year]
        
        if not year_df.empty:
            plt.scatter(year_df['subdist_ntl_pc'], year_df['alesina'], label=f'{year}', marker='.')
            
            # Fit a polynomial best fit line (e.g., a quadratic curve)
            coefficients = np.polyfit(year_df['subdist_ntl_pc'], year_df['alesina'], 2)
            polynomial = np.poly1d(coefficients)
            x_range = np.linspace(min(year_df['subdist_ntl_pc']), max(year_df['subdist_ntl_pc']), 100)
            y_fit = polynomial(x_range)
            
            # Plot the polynomial best fit line
            plt.plot(x_range, y_fit, label=f'Best fit {year}',linewidth=2.5)
    
    # Add labels and title
    plt.xlabel("Sub-District NTL per capita")
    plt.ylabel("Gini")
    plt.title(f"{state} - Scatter Plot by Year")
    plt.ylim(-0.05, 1.05)
    
    # Add a legend
    plt.legend()
    
    # Display the plot
    plt.show()

# Village Matching Test w/ Alesina

In [ ]:

meg_sorted['year']=2020

lum12_sorted['year']=2011

# Handle duplicate column names by keeping the first occurrence
meg_sorted = meg_sorted.loc[:, ~meg_sorted.columns.duplicated()]

# Check for unique column names
if not meg_sorted.columns.is_unique or not lum12_sorted.columns.is_unique:
    raise ValueError("One of the DataFrames has non-unique column names.")

# Find the common columns
common_columns = meg_sorted.columns.intersection(lum12_sorted.columns)

# Subset both DataFrames to include only these common columns
meg20_common = meg_sorted[common_columns]
lum11_common = lum12_sorted[common_columns]

# Concatenate the DataFrames
desync = pd.concat([meg20_common, lum11_common])
# desync

In [ ]:
grouped = desync.groupby(['vil_code'])

# Filter groups that contain both years 2011 and 2020
filtered_desync = grouped.filter(lambda x: set(x['year']) >= {2011, 2020})

# List of years in your DataFrame
years = filtered_desync['year'].unique()

# Iterate over each year
for year in years:
    # Filter the DataFrame for the current year
    year_df = filtered_desync[filtered_desync['year'] == year]
    
    # Sort the DataFrame by 'state', 'district', 'subdistrict', 'ntl_pc'
    year_df_sorted = year_df.sort_values(by=['state', 'district', 'subdistrict', 'ntl_pc'])
    
    # Create an indexing column
    year_df_sorted['Index'] = year_df_sorted.groupby(['state', 'district', 'subdistrict']).cumcount() + 1
    
    # Calculate the maximum value of 'Index' within each group
    year_df_sorted['Max_Len'] = year_df_sorted.groupby(['state', 'district', 'subdistrict'])['Index'].transform('max')
    
    # Update filtered_desync with the sorted and indexed DataFrame for the current year
    filtered_desync.loc[filtered_desync['year'] == year] = year_df_sorted

# Display the sorted and indexed DataFrame
# filtered_desync

In [ ]:
desync_codes = filtered_desync[['stcode11','dtcode11', 'sdtcode11',
                            'state','district','subdistrict',
                            'state_lgd','dist_lgd','subdt_lgd'
                            ]]
desync_codes=desync_codes.drop_duplicates(subset=['state','district','subdistrict',])

In [ ]:
dissorted_desync = filtered_desync.groupby(['state','district','subdistrict','year']).agg({'population': 'sum','male_pop':'sum','female_pop':'sum',
                                                                               'p_school':'sum','m_school':'sum','h_school':'sum','ssc_school':'sum',
                                                                               'arts_and_science_degree_college':'sum','iti':'sum',
                                                                               'phc':'sum','mcwc':'sum',
                                                                               'dispensary':'sum','veterinary_hospital':'sum',
                                                                               'aanganwadi':'sum',
                                                                               'post_office':'sum','bus':'sum',
                                                                               'railway':'sum','all_weather_road':'sum',
                                                                               'cooperative_bank':'sum',
                                                                               'mandis':'sum',
                                                                               'nearest_town_distance':'mean','village_area_sqkm':'sum',
                                                                               'SubDistrict Area':'mean','avg_ntl':'sum',
                                                                               'ntl_pa':'sum','ntl_pc':'mean',
                                                                               }).reset_index()

dissorted_desync['subdist_ntl_pc']=dissorted_desync['avg_ntl']/dissorted_desync['population']
dissorted_desync

In [ ]:
def calculate_alesina(group):
    sum_y = group['ntl_pc'].sum()
    num = group['Max_Len'].max()
    numerator = ((num + 1 - group['Index']) * (group['ntl_pc'])).sum()
    pred = 1/num
    alesina = pred * (num + 1 - ((2*numerator)/sum_y))##(1/group['Max_Len'])
    return pd.Series([sum_y, numerator, num, alesina])

# ale = mer_sorted.groupby(['District']).apply(calculate_alesina).reset_index()

ale_all = filtered_desync.groupby(['state','district',
                          'subdistrict', 'year'
                        #   'avg_ntl','population',
                          ]).apply(calculate_alesina).reset_index()
# Rename the columns for clarity
ale_all.columns = ['state','district',
               'subdistrict', 'year',
            #    'subdist_ntl','subdist_population',
            #    'subdist_ntl_pc','ntl_pc_mean',
               'sum_y','numerator', 'num','alesina']

# ale2['alesina'] = ale2['alesina'].abs()
# ale = ale[ale['dist_ntl_pc'] <= 0.04]
# ale = ale[ale['alesina'] > 0]
ale_all

In [ ]:
delta = pd.merge(dissorted_desync, ale_all, on=['state','district','subdistrict','year'],how='left')
gamma = pd.merge(delta, desync_codes, on=['state','district','subdistrict'],how='left')
# final2011['year']=2011
gamma

In [ ]:
gamma['no_1000s'] = gamma['population']/1000

gamma['edu']= gamma['p_school']+gamma['m_school']+gamma['h_school']+\
             gamma['ssc_school']+gamma['arts_and_science_degree_college']+gamma['iti']
gamma['edu_per_1000']= gamma['edu']/gamma['no_1000s']
gamma['p_sch_per_1000']= gamma['p_school']/gamma['no_1000s']
gamma['m_sch_per_1000']= gamma['m_school']/gamma['no_1000s']
gamma['h_sch_per_1000']= gamma['h_school']/gamma['no_1000s']
gamma['ssc_sch_per_1000']= gamma['ssc_school']/gamma['no_1000s']
gamma['col_per_1000']= gamma['arts_and_science_degree_college']/gamma['no_1000s']
gamma['iti_per_1000']= gamma['iti']/gamma['no_1000s']


gamma['med'] = gamma['phc']+gamma['mcwc']+gamma['dispensary']+\
              gamma['veterinary_hospital']+gamma['aanganwadi']
gamma['med_per_1000'] = gamma['med']/gamma['no_1000s']
gamma['phc_per_1000']= gamma['phc']/gamma['no_1000s']
gamma['mcwc_per_1000']= gamma['mcwc']/gamma['no_1000s']
gamma['dis_per_1000']= gamma['dispensary']/gamma['no_1000s']
gamma['vet_per_1000']= gamma['veterinary_hospital']/gamma['no_1000s']
gamma['aanganwadi_per_1000']= gamma['aanganwadi']/gamma['no_1000s']

gamma['adm'] = gamma['cooperative_bank']+gamma['post_office']+gamma['mandis']
gamma['adm_per_1000'] = gamma['adm']/gamma['no_1000s']
gamma['bank_per_1000']= gamma['cooperative_bank']/gamma['no_1000s']
gamma['po_per_1000']= gamma['post_office']/gamma['no_1000s']
gamma['mandi_per_1000']= gamma['mandis']/gamma['no_1000s']


gamma['share_roads'] = gamma['all_weather_road']/gamma['num']
gamma['share_rails'] = gamma['railway']/gamma['num']
gamma['share_pubtn'] = gamma['bus']/gamma['num']

gamma['unique_id'] = gamma['state'] + '_' + gamma['district'] + '_' + gamma['subdistrict']
gamma['nearest_town_distance'] = gamma.groupby(['state', 'district', 'subdistrict'])['nearest_town_distance'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
# gamma.to_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/ma2020/Panel_Clean.csv',index=False)