### Importing Modules

In [1]:
import pandas as pd
from random import randint
from time import sleep
from selenium import webdriver
import selenium 
# from selenium.webdriver.chrome.options import Options
from selenium.webdriver.edge.options import Options
from selenium.webdriver.edge.service import Service
# from selenium.webdriver.safari.options import Options
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
import time
# !pip install fake-useragent
# from fake_useragent import UserAgent
from bs4 import BeautifulSoup
import requests
import lxml
import numpy as np
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException

## Scraping

### URL & Webdrivers

#### Safari

In [ ]:

# ### Safari Code:
# ## Paste url
# url = 'https://missionantyodaya.nic.in/preloginRankingOfGp2020.html'

# options = Options()
# # download_dir = '/Users/sid/Downloads/MA'
# prefs = {'download.default_directory' : '/Users/sid/Documents/MA/GJ (24)'}
# options.add_experimental_option("prefs",prefs)

# # browser = webdriver.safari.webdriver.WebDriver(quiet=False)
# driver = webdriver.Safari()
# driver.get(url)

#### Edge

In [4]:

### Edge Code:
## Paste url
url = 'https://missionantyodaya.nic.in/ma2018/preloginScoreOfGp2018.html'
# url = 'https://missionantyodaya.nic.in/preloginRankingOfGp2020.html'
## Options
options = Options()
# download_dir = '/Users/sid/Downloads/MA'
prefs = {'download.default_directory' : '/Users/sid/Documents/MA_18_pdf/PB'}
options.add_experimental_option("prefs",prefs)
##Driver
# edge_driver_path = '/Users/sid/Downloads/edgedriver_mac64/msedgedriver'
edge_driver_path = Service('/Users/sid/Downloads/edgedriver_mac64_m1/msedgedriver')
driver = webdriver.Edge(service=edge_driver_path,options=options)
driver.get(url)

#### Chrome

In [ ]:

# # ### Chrome Code:
# # url = 'https://missionantyodaya.nic.in/ma2018/preloginScoreOfGp2018.html'
# url = 'https://missionantyodaya.nic.in/preloginRankingOfGp2020.html'
# chrome_driver_path = '/Users/sid/Downloads/chromedriver'
# # chrome_driver_path = '/Users/sid/opt/anaconda3/pkgs/chromedriver/chromedriver'

# options = Options()
# # download_dir = '/Users/sid/Downloads/MA'
# prefs = {'download.default_directory' : '/Users/sid/Documents/MA/LD (37)'}
# options.add_experimental_option("prefs",prefs)
# ##Driver

# driver = webdriver.Chrome(executable_path=chrome_driver_path,options=options)
# driver.get(url)

### Selecting State Data

In [5]:

## Use Select in xpath to select state name 
state_dropdown = Select(driver.find_element(By.XPATH,'//*[@id="stateCode"]'))
state_options = state_dropdown.options

## Create empty list of states
states_list = []
for option in state_options:
    states_list.append(option.text) ## State name in option

print(states_list)

choice = states_list[29]
state_dropdown.select_by_visible_text(choice)

['Select State', 'ANDAMAN AND NICOBAR ISLANDS (35)', 'ANDHRA PRADESH (28)', 'ARUNACHAL PRADESH (12)', 'ASSAM (18)', 'BIHAR (10)', 'CHANDIGARH (4)', 'CHHATTISGARH (22)', 'DADRA AND NAGAR HAVELI (26)', 'DAMAN AND DIU (25)', 'DELHI (7)', 'GOA (30)', 'GUJARAT (24)', 'HARYANA (6)', 'HIMACHAL PRADESH (2)', 'JAMMU AND KASHMIR (1)', 'JHARKHAND (20)', 'KARNATAKA (29)', 'KERALA (32)', 'LADAKH (37)', 'LAKSHADWEEP (31)', 'MADHYA PRADESH (23)', 'MAHARASHTRA (27)', 'MANIPUR (14)', 'MEGHALAYA (17)', 'MIZORAM (15)', 'NAGALAND (13)', 'ODISHA (21)', 'PUDUCHERRY (34)', 'PUNJAB (3)', 'RAJASTHAN (8)', 'SIKKIM (11)', 'TAMIL NADU (33)', 'TELANGANA (36)', 'TRIPURA (16)', 'UTTARAKHAND (5)', 'UTTAR PRADESH (9)', 'WEST BENGAL (19)']

In [7]:
states_list[30]

'RAJASTHAN (8)'

#### Method 1: Loop through district dist

In [ ]:

# ## Use Select in xpath to select district name
# dist_dropdown = Select(driver.find_element(By.XPATH,'//*[@id="districtCode"]'))
# dist_options = dist_dropdown.options

# ## Create empty list of districts
# dist_list = []
# for option in dist_options:
#     dist_list.append(option.text) ## State name in option

# print(dist_list)

# dist_dropdown.select_by_visible_text(dist_list[28])

#### Method 2: Set a custom range

In [ ]:

## Use Select in xpath to select score criteria
score_dropdown = Select(driver.find_element(By.XPATH, '//*[@id="rankingOfGp"]'))
score_dropdown.select_by_value('customFilter')

#### Submit Button

In [ ]:

## Submit button
submit = driver.find_element(By.XPATH,'//*[@id="SubmitButton"]')
# print(submit.text)
# //*[@id="SubmitButton"]

# WebElement submit = browser.findElement(By.XPATH,'//*[@id="SubmitButton"]');
# JavascriptExecutor executor = (JavascriptExecutor)browser;
# executor.executeScript("arguments[0].click();", submit);

submit.click()

#### Range values

In [ ]:

## Lower Limit
lower = driver.find_element(By.XPATH, '//*[@id="customeFilterStartFrom"]')
lower.send_keys('1')

## Upper Limit
upper = driver.find_element(By.XPATH,'//*[@id="customeFilterEndFrom"]')
upper.send_keys('99')

# upper.submit()

## Filter submit button
fil_submit = driver.find_element(By.XPATH,'//*[@id="customeFilterSearchButton"]')

fil_submit.click()

#### Show all in a single page

In [ ]:

## Show all button
show = driver.find_element(By.XPATH, '//*[@id="example_wrapper"]/div[1]/button[1]').click()

div_tag = driver.find_element(By.XPATH,'//*[@id="example_wrapper"]/div[1]/div')

select_all = div_tag.find_element(By.XPATH, '//*[@id="example_wrapper"]/div[1]/div/button[4]')
select_all.click()

### Dowload Function

In [ ]:

## Output table:
table_tag = driver.find_element(By.XPATH,'//*[@id="example"]')
tr_tag = table_tag.find_elements(By.TAG_NAME,'tr')
len(tr_tag)

In [ ]:

## Create a list of xpaths on the links:
xpaths=[]
for i in range(0, len(tr_tag)+1):
    xpaths.append('//*[@id="example"]/tbody/tr['+ str(i) +']/td[7]/a')

# xpaths[10]

In [ ]:
links=[]
for xpath in xpaths:
    try:
        links.append(driver.find_element_by_xpath(xpath).get_attribute('href')) ## Can cause crash if too large using method 2
        # links.append(driver.find_element(By.XPATH, 'xpath').get_attribute('href')) ## Unable to obtain href with this
    except NoSuchElementException:
        pass

len(links)

In [ ]:
for link in links:
    driver.get(link)

## Master Loop

### State Selection Old

In [18]:

### Edge Code:
## Paste url
url = 'https://missionantyodaya.nic.in/ma2018/preloginScoreOfGp2018.html'
# url = 'https://missionantyodaya.nic.in/preloginRankingOfGp2020.html'
## Options
options = Options()
# download_dir = '/Users/sid/Downloads/MA'
prefs = {'download.default_directory' : '/Users/sid/Documents/MA_18_pdf/BH/'}
options.add_experimental_option("prefs",prefs)
##Driver
# edge_driver_path = '/Users/sid/Downloads/edgedriver_mac64/msedgedriver'
edge_driver_path = Service('/Users/sid/Downloads/edgedriver_mac64_m1/msedgedriver')
driver = webdriver.Edge(service=edge_driver_path,options=options)
driver.get(url)

## Use Select in xpath to select state name 
state_dropdown = Select(driver.find_element(By.XPATH,'//*[@id="stateCode"]'))
state_options = state_dropdown.options

## Create empty list of states
states_list = []
for option in state_options:
    states_list.append(option.text) ## State name in option

print(states_list)

choice = states_list[5]
state_dropdown.select_by_visible_text(choice)

time.sleep(5)

## Use Select in xpath to select district name
dist_dropdown = Select(driver.find_element(By.XPATH,'//*[@id="districtCode"]'))
dist_options = dist_dropdown.options

# time.sleep(5)

## Create empty list of districts
dist_list = []
for dist in dist_options:
    dist_list.append(dist.text) ## State name in option

print(dist_list)

for district in dist_list[31:]:
    print(district)
    browser_p = webdriver.Edge(service=edge_driver_path,options=options)
    
    browser_p.get(url)
    
    # Selecting state dropdown
    state_dropdown=Select(browser_p.find_element(By.XPATH,'//*[@id="stateCode"]'))
    state_dropdown.select_by_visible_text(choice)
    time.sleep(2)
    
    # Selecting district dropdown
    district_dropdown=Select(browser_p.find_element(By.XPATH,'//*[@id="districtCode"]'))
    district_dropdown.select_by_visible_text(district)
    time.sleep(2)
    
    submit = browser_p.find_element(By.XPATH,'//*[@id="SubmitButton"]')
    submit.click()
    
    time.sleep(5)

    # Finding rows options
    browser_p.find_element(By.XPATH,'//*[@id="example_wrapper"]/div[1]/button[1]').click()

    div_tag = browser_p.find_element(By.XPATH,'//*[@id="example_wrapper"]/div[1]/div')

    select_all = div_tag.find_element(By.XPATH,'//*[@id="example_wrapper"]/div[1]/div/button[4]')
    select_all.click()
    
    table_tag = browser_p.find_element(By.XPATH,'//*[@id="example"]/tbody')

    rows_tag=table_tag.find_elements(By.TAG_NAME,'tr')

    print(len(rows_tag))

    ## Create a list of xpaths on the links:
    xpaths=[]
    for i in range(0, len(rows_tag)+1):
        xpaths.append('//*[@id="example"]/tbody/tr['+ str(i) +']/td[7]/a')

    # xpaths[10]

    ## Create a list of links:
    links=[]
    for xpath in xpaths:
        try:
            links.append(browser_p.find_element_by_xpath(xpath).get_attribute('href')) ## Can cause crash if too many rows_tag using method 2
            # links.append(browser_p.find_element(By.XPATH, 'xpath').get_attribute('href')) ## Unable to obtain href with this
        except NoSuchElementException:
            pass

    print(len(links))

    for link in links:
        browser_p.get(link)

    print("District Download Completed")

    time.sleep(20) ##  Change according to internet speed
    browser_p.quit()

['Select State', 'ANDAMAN AND NICOBAR ISLANDS (35)', 'ANDHRA PRADESH (28)', 'ARUNACHAL PRADESH (12)', 'ASSAM (18)', 'BIHAR (10)', 'CHANDIGARH (4)', 'CHHATTISGARH (22)', 'DADRA AND NAGAR HAVELI (26)', 'DAMAN AND DIU (25)', 'DELHI (7)', 'GOA (30)', 'GUJARAT (24)', 'HARYANA (6)', 'HIMACHAL PRADESH (2)', 'JAMMU AND KASHMIR (1)', 'JHARKHAND (20)', 'KARNATAKA (29)', 'KERALA (32)', 'LADAKH (37)', 'LAKSHADWEEP (31)', 'MADHYA PRADESH (23)', 'MAHARASHTRA (27)', 'MANIPUR (14)', 'MEGHALAYA (17)', 'MIZORAM (15)', 'NAGALAND (13)', 'ODISHA (21)', 'PUDUCHERRY (34)', 'PUNJAB (3)', 'RAJASTHAN (8)', 'SIKKIM (11)', 'TAMIL NADU (33)', 'TELANGANA (36)', 'TRIPURA (16)', 'UTTARAKHAND (5)', 'UTTAR PRADESH (9)', 'WEST BENGAL (19)']
['Select District', 'ARARIA (188)', 'ARWAL (611)', 'AURANGABAD (189)', 'BANKA (190)', 'BEGUSARAI (191)', 'BHAGALPUR (192)', 'BHOJPUR (193)', 'BUXAR (194)', 'DARBHANGA (195)', 'GAYA (196)', 'GOPALGANJ (197)', 'JAMUI (198)', 'JEHANABAD (199)', 'KAIMUR (BHABUA) (200)', 'KATIHAR (201)', 'KHAGARIA (202)', 'KISHANGANJ (203)', 'LAKHISARAI (204)', 'MADHEPURA (205)', 'MADHUBANI (206)', 'MUNGER (207)', 'MUZAFFARPUR (208)', 'NALANDA (209)', 'NAWADA (210)', 'PASHCHIM CHAMPARAN (211)', 'PATNA (212)', 'PURBI CHAMPARAN (213)', 'PURNIA (214)', 'ROHTAS (215)', 'SAHARSA (216)', 'SAMASTIPUR (217)', 'SARAN (218)', 'SHEIKHPURA (219)', 'SHEOHAR (220)', 'SITAMARHI (221)', 'SIWAN (222)', 'SUPAUL (223)', 'VAISHALI (224)']
PATNA (212)
226

/var/folders/2y/43tdd9hn3g11897s6jjnr8840000gn/T/ipykernel_1150/1132963053.py:91: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  links.append(browser_p.find_element_by_xpath(xpath).get_attribute('href')) ## Can cause crash if too many rows_tag using method 2

226
PURBI CHAMPARAN (213)
36
36
PURNIA (214)
243
243
ROHTAS (215)
240
240
SAHARSA (216)
93
93
SAMASTIPUR (217)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="stateCode"]"}
  (Session info: MicrosoftEdge=115.0.1901.200)
Stacktrace:
0   msedgedriver                        0x0000000104828b34 msedgedriver + 4475700
1   msedgedriver                        0x0000000104820e74 msedgedriver + 4443764
2   msedgedriver                        0x000000010442458c msedgedriver + 263564
3   msedgedriver                        0x000000010445d374 msedgedriver + 496500
4   msedgedriver                        0x0000000104490ac0 msedgedriver + 707264
5   msedgedriver                        0x00000001044539fc msedgedriver + 457212
6   msedgedriver                        0x0000000104454b7c msedgedriver + 461692
7   msedgedriver                        0x00000001047f0298 msedgedriver + 4244120
8   msedgedriver                        0x00000001047f3b4c msedgedriver + 4258636
9   msedgedriver                        0x00000001047f371c msedgedriver + 4257564
10  msedgedriver                        0x00000001047f8d74 msedgedriver + 4279668
11  msedgedriver                        0x00000001047f43a0 msedgedriver + 4260768
12  msedgedriver                        0x00000001047d4e7c msedgedriver + 4132476
13  msedgedriver                        0x000000010480bf50 msedgedriver + 4357968
14  msedgedriver                        0x000000010480c068 msedgedriver + 4358248
15  msedgedriver                        0x000000010481a5ac msedgedriver + 4416940
16  libsystem_pthread.dylib             0x0000000187e6bfa8 _pthread_start + 148
17  libsystem_pthread.dylib             0x0000000187e66da0 thread_start + 8

In [19]:
dist_list[30]

'SAHARSA (216)'

### State Selection New

In [ ]:

### Edge Code:
## Paste url
url = 'https://missionantyodaya.nic.in/ma2019/preloginScoreOfGp2019.html'
# url = 'https://missionantyodaya.nic.in/preloginRankingOfGp2020.html'
## Options
options = Options()
# download_dir = '/Users/sid/Downloads/MA'
# prefs = {'download.default_directory' : 'C:/Users/s222558296/Documents/MA/'}
# options.add_experimental_option("prefs",prefs)
options.add_argument("--disable-blink-features=AutomationControlled")
options.add_argument("--disable-extensions")
options.add_argument("--disable-popup-blocking")
options.add_argument("--safebrowsing-disable-download-protection")
options.add_argument(f"--download.default_directory={'C:/Users/s222558296/Documents/MA/TS/'}")
##Driver
edge_driver_path = '/Users/sid/Downloads/edgedriver_mac64/msedgedriver'
# edge_driver_path = Service('C:/Users/s222558296/Downloads/msedgedriver')
driver = webdriver.Edge(service=edge_driver_path,options=options)
driver.get(url)

## Use Select in xpath to select state name 
state_dropdown = Select(driver.find_element(By.XPATH,'//*[@id="stateCode"]'))
state_options = state_dropdown.options

## Create empty list of states
states_list = []
for option in state_options:
    states_list.append(option.text) ## State name in option

# print(states_list)

choice = states_list[33]
state_dropdown.select_by_visible_text(choice)

time.sleep(5)

## Use Select in xpath to select district name
dist_dropdown = Select(driver.find_element(By.XPATH,'//*[@id="districtCode"]'))
dist_options = dist_dropdown.options

# time.sleep(5)

## Create empty list of districts
dist_list = []
for dist in dist_options:
    dist_list.append(dist.text) ## State name in option

print(dist_list)

for district in dist_list[1:]:
    print(district)
    browser_p = webdriver.Edge(service=edge_driver_path,options=options)
    
    browser_p.get(url)
    
    # Selecting state dropdown
    state_dropdown=Select(browser_p.find_element(By.XPATH,'//*[@id="stateCode"]'))
    state_dropdown.select_by_visible_text(choice)
    time.sleep(2)
    
    # Selecting district dropdown
    district_dropdown=Select(browser_p.find_element(By.XPATH,'//*[@id="districtCode"]'))
    district_dropdown.select_by_visible_text(district)
    time.sleep(2)
    
    submit = browser_p.find_element(By.XPATH,'//*[@id="SubmitButton"]')
    submit.click()
    
    # time.sleep(5)

    select_all = div_tag.find_element(By.XPATH,'//*[@id="example_wrapper"]/div[1]/div/button[4]')
    select_all.click()

    rows = browser_p.find_elements(By.XPATH, '//table[@id="example"]/tbody/tr')
    print(len(rows))

    ## Create a list of links:
    links=[]
    time.sleep(15)
    for row in rows:
    # for xpath in xpaths:
        try:
            # links.append(browser_p.find_element_by_xpath(xpath).get_attribute('href')) ## Can cause crash if too many rows_tag using method 2
            link_element = row.find_element(By.TAG_NAME, 'a')
            link = link_element.get_attribute('href')
            links.append(link)
        except NoSuchElementException:
            pass

    print(len(links))

    for link in links:
        browser_p.get(link)

    time.sleep(20) ##  Change according to internet speed
    browser_p.quit()

### Custon Loop

In [ ]:

### Edge Code:
## Paste url
url = 'https://missionantyodaya.nic.in/ma2019/preloginScoreOfGp2019.html'
# url = 'https://missionantyodaya.nic.in/preloginRankingOfGp2020.html'
## Options
options = Options()
# download_dir = '/Users/sid/Downloads/MA'
# prefs = {'download.default_directory' : 'C:/Users/s222558296/Documents/MA/'}
# options.add_experimental_option("prefs",prefs)
options.add_argument("--disable-blink-features=AutomationControlled")
options.add_argument("--disable-extensions")
options.add_argument("--disable-popup-blocking")
options.add_argument("--safebrowsing-disable-download-protection")
options.add_argument(f"--download.default_directory={'C:/Users/s222558296/Documents/MA/TS/'}")
##Driver
# edge_driver_path = '/Users/sid/Downloads/edgedriver_mac64/msedgedriver'
edge_driver_path = Service('C:/Users/s222558296/Downloads/msedgedriver')
driver = webdriver.Edge(service=edge_driver_path,options=options)
driver.get(url)

score_dropdown = Select(driver.find_element(By.XPATH, '/html/body/section/div/div/div[2]/div[5]/div[1]/select')) 
score_dropdown.select_by_value('customFilter')



submit = driver.find_element(By.XPATH,'//*[@id="SubmitButton"]')
submit.click()
time.sleep(15)   

## Lower Limit
lower = driver.find_element(By.XPATH, '//*[@id="customeFilterStartFrom"]')
lower.send_keys('63')

## Upper Limit
upper = driver.find_element(By.XPATH,'//*[@id="customeFilterEndFrom"]')
upper.send_keys('67')

# upper.submit()

## Filter submit button
fil_submit = driver.find_element(By.XPATH,'//*[@id="customeFilterSearchButton"]')

fil_submit.click()

## Show all button
show = driver.find_element(By.XPATH, '//*[@id="example_wrapper"]/div[1]/button[1]').click()

div_tag = driver.find_element(By.XPATH,'//*[@id="example_wrapper"]/div[1]/div')

select_all = div_tag.find_element(By.XPATH, '//*[@id="example_wrapper"]/div[1]/div/button[4]')
select_all.click()

rows = driver.find_elements(By.XPATH, '//table[@id="example"]/tbody/tr')
print(len(rows))

    ## Create a list of links:
links=[]
time.sleep(15)
for row in rows:
    try:
        link_element = row.find_element(By.TAG_NAME, 'a')
        link = link_element.get_attribute('href')
        links.append(link)
    except NoSuchElementException:
        pass

print(len(links))

# def download_file(url, destination):
#     try:
#         response = requests.get(url, stream=True)
#         response.raise_for_status()
#         total_size = int(response.headers.get('content-length', 0))
#         downloaded_size = 0

#         with open(destination, 'wb') as file:
#             for chunk in response.iter_content(chunk_size=8192):
#                 if chunk:
#                     file.write(chunk)
#                     downloaded_size += len(chunk)
#                     print(f"Downloaded {downloaded_size}/{total_size} bytes", end='\r', flush=True)
        
#         print(f"\nDownload completed: {destination}")

#     except requests.exceptions.RequestException as e:
#         print(f"Download failed: {destination}\nError: {e}")

# # Iterate over links and download files
# for link in links:
#     # filename = link.split('/')[-1]  # Extract filename from URL
#     destination = f"C:/Users/s222558296/OneDrive - Deakin University/Python Scripts/MA/MA_19/test/"  # Specify the destination path

#     download_file(link, destination)

# for link in links:
#     driver.get(link)

# time.sleep(20) ##  Change according to internet speed. Prevents unconfirmed download & TMP files
driver.quit()

## PDF to CSV Loop (Redundant)

In [ ]:

import pandas as pd
import camelot
import itertools
import PyPDF2 
import numpy as np
from os import path
from glob import glob  
import pdfplumber
import os

def find_ext(dr, ext):
    return glob(path.join(dr,"*.{}".format(ext)))

count = 0
final_df = []

for pth in find_ext("/Volumes/Ping Pong/TS2","pdf"):
    # if pth.endswith('.pdf'):
    pagenolist = []
    final=pd.DataFrame()
    pdfFileObj = open(pth, 'rb')  
    pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
    nopages = pdfReader.numPages
    for pageno in range(0,nopages):
        pageObj = pdfReader.getPage(pageno)  
        if "1. Location Parameters" in pageObj.extractText()[0:22]:
            pagenolist.append(pageno)
    pdfFileObj.close()
    print('check1')
    for pg in range(0,len(pagenolist)):
        table = camelot.read_pdf(pth, pages=str(pagenolist[pg]+1))
        x_df  = table[0].df
        x = x_df.to_numpy()
        dic = {}
        data = list(itertools.chain.from_iterable(x))
        print('check2')
        for index in range(0,len(data)):
            if len(data[index]) == 0:
                continue
            if ":" in data[index]:
                ls = data[index].split(":")
                check = ls[0].strip()
                if len(ls[1].strip()) == 0:
                    dic[check] = data[index+1].strip()
                else:
                    dic[check] = ls[1].strip()
        # print('hello')           
        final = pd.DataFrame()
        pdf = pdfplumber.open(pth)
        
        if pg == len(pagenolist)-1:
            endno = nopages
        else:
            endno = pagenolist[pg+1]
        
        for page in range(pagenolist[pg],endno):
            p = pdf.pages[page]
            tab = p.extract_table()
            tab = np.array(tab)
            df1 = pd.DataFrame(tab)
            final = pd.concat([final,df1],axis = 0, ignore_index = True)

        final.columns = final.iloc[2]
        final.drop([0,1,2],axis=0,inplace = True)
        paralist = final['S.NO'].to_list()
        lsP = []
        parameter = "Basic Parameters"
        for row in range(0,len(paralist)):
            if paralist[row].isnumeric():
                lsP.append(parameter)
            else:
                if "Maximum weightage for" in paralist[row]:
                    final.drop(row+3,axis=0,inplace = True)
                else:
                    parameter = paralist[row]
                    final.drop(row+3,axis=0,inplace = True)
        final.drop("S.NO",axis=1,inplace = True)
        final.insert(0,"Parameters",lsP)
        for colna in dic.keys():
            if colna == "Serial No/Total Village":
                continue
            final[colna] = dic[colna] 
            
        def replaceMultiple(mainString, toBeReplaces, newString):
            for elem in toBeReplaces :
                if elem in mainString :
                    mainString = mainString.replace(elem, newString)
            return  mainString
        
        st = replaceMultiple(dic["State"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
        dis = replaceMultiple(dic["District"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
        vil = replaceMultiple(dic["Village"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
        gp = replaceMultiple(dic["Gram Panchayat"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")

        pathS = '/Users/sid/Documents/MA_pdf/'+st
        isdirS = os.path.isdir(pathS) 

        pathD = '/Users/sid/Documents/MA_pdf/'+st+"/"+dis
        isdirD = os.path.isdir(pathD)
        
        pathV = pathD+"/" + gp +"_"+ vil +".csv"
        isfileV = os.path.isfile(pathV)
        
        pathdupli = pathS+"/duplicates"
        isdirDupli = os.path.isdir(pathdupli)

        if isdirS:
            if isdirD:
                
                if isfileV:
                    print("duplicate")
                    print(pth)
                    
                    if isdirDupli:
                        final.to_csv(pathS+"/duplicates/"+gp+"_"+ vil +".csv",index = 0)
                        count+=1
                    else:
                        directory = "duplicates"
                        parent_dir = pathS
                        path = os.path.join(parent_dir, directory)
                        os.mkdir(path) 
                        final.to_csv(pathS+"/duplicates/"+gp+"_"+ vil +".csv",index = 0)
                        count+=1
                else:
                    final.to_csv(pathV,index = 0)
                    count+=1
            else:
                directory = dis
                parent_dir = pathS
                path = os.path.join(parent_dir, directory)
                os.mkdir(path) 
                print("Directory '% s' created" % directory)  
                final.to_csv(pathV,index = 0)
                count+=1

        else:
            directory = st
            parent_dir = '/Users/sid/Documents/MA_19/'
            path = os.path.join(parent_dir, directory)
            os.mkdir(path) 
            directory = dis
            parent_dir = pathS
            path = os.path.join(parent_dir, directory)
            os.mkdir(path) 
            print("Directory '% s' created" % directory)  
            final.to_csv(pathV,index = 0)
            count+=1
    final_df.append(final)
print(count)
# final

In [ ]:
import pandas as pd
import camelot
import itertools
import PyPDF2 
import numpy as np
from os import path
from glob import glob  
import pdfplumber
import os
import tabula
from tabula.io import read_pdf

def find_ext(dr, ext):
    return glob(path.join(dr,"*.{}".format(ext)))

count = 0
final_df = []

pdf_dir = "/Volumes/Ping Pong/TS2"
pagenolist = []

for pth in find_ext("/Volumes/Ping Pong/TS2", "pdf"):
    pagenolist = []
    final = pd.DataFrame()
    with pdfplumber.open(pth) as pdf:
        nopages = len(pdf.pages)
        for pageno in range(nopages):
            page = pdf.pages[pageno]
            if "1. Location Parameters" in page.extract_text()[0:22]:
                pagenolist.append(pageno)
    print('check1')
    for pg in range(len(pagenolist)):
        table = camelot.read_pdf(pth, pages=str(pagenolist[pg] + 1))
        x_df = table[0].df
        x = x_df.to_numpy()
        dic = {}
        data = list(itertools.chain.from_iterable(x))
        print('check2')
        for index in range(0,len(data)):
            if len(data[index]) == 0:
                continue
            if ":" in data[index]:
                ls = data[index].split(":")
                check = ls[0].strip()
                if len(ls[1].strip()) == 0:
                    dic[check] = data[index+1].strip()
                else:
                    dic[check] = ls[1].strip()
        # print('hello')           
        final = pd.DataFrame()
        pdf = pdfplumber.open(pth)
        
        if pg == len(pagenolist)-1:
            endno = nopages
        else:
            endno = pagenolist[pg+1]
        
        for page in range(pagenolist[pg],endno):
            p = pdf.pages[page]
            tab = p.extract_table()
            tab = np.array(tab)
            df1 = pd.DataFrame(tab)
            final = pd.concat([final,df1],axis = 0, ignore_index = True)

        # final.columns = final.iloc[2]
        # final.drop([0,1,2,3,4,5],axis=0,inplace = True)
        print(final)
        paralist = final['S.NO'].to_list()
        lsP = []
        parameter = "Basic Parameters"
        for row in range(0,len(paralist)):
            if paralist[row].isnumeric():
                lsP.append(parameter)
            else:
                if "Maximum weightage for" in paralist[row]:
                    final.drop(row+3,axis=0,inplace = True)
                else:
                    parameter = paralist[row]
                    final.drop(row+3,axis=0,inplace = True)
        final.drop("S.NO",axis=1,inplace = True)
        final.insert(0,"Parameters",lsP)
        for colna in dic.keys():
            if colna == "Serial No/Total Village":
                continue
            final[colna] = dic[colna] 
            
        def replaceMultiple(mainString, toBeReplaces, newString):
            for elem in toBeReplaces :
                if elem in mainString :
                    mainString = mainString.replace(elem, newString)
            return  mainString
        
        st = replaceMultiple(dic["State"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
        dis = replaceMultiple(dic["District"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
        vil = replaceMultiple(dic["Village"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
        gp = replaceMultiple(dic["Gram Panchayat"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")

        pathS = '/Users/sid/Documents/MA_pdf/'+st
        isdirS = os.path.isdir(pathS) 

        pathD = '/Users/sid/Documents/MA_pdf/'+st+"/"+dis
        isdirD = os.path.isdir(pathD)
        
        pathV = pathD+"/" + gp +"_"+ vil +".csv"
        isfileV = os.path.isfile(pathV)
        
        pathdupli = pathS+"/duplicates"
        isdirDupli = os.path.isdir(pathdupli)

        if isdirS:
            if isdirD:
                
                if isfileV:
                    print("duplicate")
                    print(pth)
                    
                    if isdirDupli:
                        final.to_csv(pathS+"/duplicates/"+gp+"_"+ vil +".csv",index = 0)
                        count+=1
                    else:
                        directory = "duplicates"
                        parent_dir = pathS
                        path = os.path.join(parent_dir, directory)
                        os.mkdir(path) 
                        final.to_csv(pathS+"/duplicates/"+gp+"_"+ vil +".csv",index = 0)
                        count+=1
                else:
                    final.to_csv(pathV,index = 0)
                    count+=1
            else:
                directory = dis
                parent_dir = pathS
                path = os.path.join(parent_dir, directory)
                os.mkdir(path) 
                print("Directory '% s' created" % directory)  
                final.to_csv(pathV,index = 0)
                count+=1

        else:
            directory = st
            # parent_dir = 'C:/Users/s222558296/OneDrive - Deakin University/Python Scripts/MA/MA_19/TS_csv/'
            parent_dir = '/Users/sid/Documents/MA_19/'
            path = os.path.join(parent_dir, directory)
            os.mkdir(path) 
            directory = dis
            parent_dir = pathS
            path = os.path.join(parent_dir, directory)
            os.mkdir(path) 
            print("Directory '% s' created" % directory)  
            final.to_csv(pathV,index = 0)
            count+=1
    final_df.append(final)
print(count)
# final

In [ ]:
import pandas as pd
import camelot
import itertools
import pdfplumber
import os
from os import path
from glob import glob  

def find_ext(dr, ext):
    return glob(path.join(dr,"*.{}".format(ext)))

count = 0
final_df = []

pdf_dir = "/Volumes/Ping Pong/TS2"
pagenolist = []

for pth in find_ext("/Volumes/Ping Pong/TS2", "pdf"):
    pagenolist = []
    final = pd.DataFrame()
    with pdfplumber.open(pth) as pdf:
        nopages = len(pdf.pages)
        for pageno in range(nopages):
            page = pdf.pages[pageno]
            if "1. Location Parameters" in page.extract_text()[0:22]:
                pagenolist.append(pageno)
    print('check1')
    for pg in range(len(pagenolist)):
        table = camelot.read_pdf(pth, pages=str(pagenolist[pg] + 1))
        x_df = table[0].df
        x = x_df.to_numpy()
        dic = {}
        data = list(itertools.chain.from_iterable(x))
        print('check2')
        for index in range(0,len(data)):
            if len(data[index]) == 0:
                continue
            if ":" in data[index]:
                ls = data[index].split(":")
                check = ls[0].strip()
                if len(ls[1].strip()) == 0:
                    dic[check] = data[index+1].strip()
                else:
                    dic[check] = ls[1].strip()
        final = pd.DataFrame()
        pdf = pdfplumber.open(pth)
        
        if pg == len(pagenolist)-1:
            endno = nopages
        else:
            endno = pagenolist[pg+1]
        
        for page in range(pagenolist[pg],endno):
            p = pdf.pages[page]
            tab = p.extract_table()
            tab = pd.DataFrame(tab[1:], columns=tab[0])
            final = pd.concat([final, tab], ignore_index=True)

        paralist = final.columns.to_list()
        lsP = []
        parameter = "Basic Parameters"
        for row in range(len(paralist)):
            if pd.notnull(paralist[row]) and paralist[row].isnumeric():
                lsP.append(parameter)
            else:
                if "Maximum weightage for" in str(paralist[row]):
                    final.drop(row+3, axis=0, inplace=True)
                else:
                    parameter = paralist[row]
                    final.drop(row+3, axis=0, inplace=True)
        final.dropna(subset=[final.columns[0]], inplace=True)
        final.insert(0, "Parameters", lsP)
        final.reset_index(drop=True, inplace=True)  # Reset the index to ensure uniqueness
        for colna in dic.keys():
            if colna == "Serial No/Total Village":
                continue
            final[colna] = dic[colna] 

        print(final)

In [ ]:
import pandas as pd
import camelot
import itertools
import PyPDF2 
import numpy as np
from os import path
from glob import glob  
import pdfplumber
import os
import tabula
from tabula.io import read_pdf

def find_ext(dr, ext):
    return glob(path.join(dr, "*.{}".format(ext)))

count = 0
final_df = []

pdf_dir = "/Volumes/Ping Pong/TS2"
pagenolist = []

for filename in os.listdir(pdf_dir):
    if filename.endswith(".pdf"):
        pth = os.path.join(pdf_dir, filename)
        
        with pdfplumber.open(pth) as pdf:
            for pageno in range(len(pdf.pages)):
                page = pdf.pages[pageno]
                if "1. Location Parameters" in page.extract_text()[0:22]:
                    pagenolist.append(pageno + 1)
    print('check1')
    
    for pg in range(0,len(pagenolist)):
        page_number = pagenolist[pg] + 1
        tables = read_pdf(pth, pages=page_number, output_format="dataframe")
        if tables:
            x_df = tables[0]
            x = x_df.to_numpy()
            dic = {}
            data = list(itertools.chain.from_iterable(x))
            print('check2')
            for index in range(0,len(data)):
                if pd.notnull(data[index]) and isinstance(data[index], str):
                    if ":" in data[index]:
                        ls = data[index].split(":")
                        check = ls[0].strip()
                        if len(ls[1].strip()) == 0:
                            dic[check] = data[index+1].strip()
                        else:
                            dic[check] = ls[1].strip()

            final = pd.DataFrame()
            pdf = pdfplumber.open(pth)

            if pg == len(pagenolist)-1:
                endno = len(pdf.pages)
            else:
                endno = pagenolist[pg+1]

            for page in range(pagenolist[pg],endno):
                p = pdf.pages[page]
                tab = p.extract_table()
                tab = np.array(tab)
                df1 = pd.DataFrame(tab)
                final = pd.concat([final,df1],axis = 0, ignore_index = True)

            # final.columns = final.iloc[2]
            # final.drop([0,1,2],axis=0,inplace = True)
            # final
#             paralist = final["S.NO"].to_list()
#             lsP = []
#             parameter = "Basic Parameters"
#             for row in range(0,len(paralist)):
#                 if isinstance(paralist[row], str) and paralist[row].isnumeric():
#                     lsP.append(parameter)
#                 else:
#                     if isinstance(paralist[row], str) and "Maximum weightage for" in paralist[row]:
#                         final.drop(row+3,axis=0,inplace = True)
#                     else:
#                         parameter = paralist[row]
#                         final.drop(row+3,axis=0,inplace = True)
#             final.drop("S.NO",axis=1,inplace = True)
#             final.insert(0,"Parameters",lsP)
#             for colna in dic.keys():
#                 if colna == "Serial No/Total Village":
#                     continue
#                 final[colna] = dic[colna] 

#             def replaceMultiple(mainString, toBeReplaces, newString):
#                 for elem in toBeReplaces :
#                     if elem in mainString :
#                         mainString = mainString.replace(elem, newString)
#                 return  mainString

#             st = replaceMultiple(dic["State"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
#             dis = replaceMultiple(dic["District"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
#             vil = replaceMultiple(dic["Village"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")
#             gp = replaceMultiple(dic["Gram Panchayat"], ["\n", "/", "*","?",":","\",""","<",">","|"] , " ")

#             pathS = '/Users/sid/Documents/MA_pdf/'+st
#             isdirS = os.path.isdir(pathS) 

#             pathD = '/Users/sid/Documents/MA_pdf/'+st+"/"+dis
#             isdirD = os.path.isdir(pathD)

#             pathV = pathD+"/" + gp +"_"+ vil +".csv"
#             isfileV = os.path.isfile(pathV)

#             pathdupli = pathS+"/duplicates"
#             isdirDupli = os.path.isdir(pathdupli)

#             if isdirS:
#                 if isdirD:
#                     if isfileV:
#                         print("duplicate")
#                         print(pth)

#                         if isdirDupli:
#                             final.to_csv(pathS+"/duplicates/"+gp+"_"+ vil +".csv",index = 0)
#                             count+=1
#                         else:
#                             directory = "duplicates"
#                             parent_dir = pathS
#                             path = os.path.join(parent_dir, directory)
#                             os.mkdir(path) 
#                             final.to_csv(pathS+"/duplicates/"+gp+"_"+ vil +".csv",index = 0)
#                             count+=1
#                     else:
#                         final.to_csv(pathV,index = 0)
#                         count+=1
#                 else:
#                     directory = dis
#                     parent_dir = pathS
#                     path = os.path.join(parent_dir, directory)
#                     os.mkdir(path) 
#                     print("Directory '% s' created" % directory)  
#                     final.to_csv(pathV,index = 0)
#                     count+=1

#             else:
#                 directory = st
#                 parent_dir = "/Volumes/Ping Pong/TS2"
#                 path = os.path.join(parent_dir, directory)
#                 os.mkdir(path) 
#                 directory = dis
#                 parent_dir = pathS
#                 path = os.path.join(parent_dir, directory)
#                 os.mkdir(path) 
#                 print("Directory '% s' created" % directory)  
#                 final.to_csv(pathV,index = 0)
#                 count+=1
#         final_df.append(final)
# print(count)

In [ ]:
final

## PDF to CSV (New)

### Test

In [29]:

import pdfplumber
import pandas as pd

# Path to your PDF file
pdf_path = "/Volumes/Ping Pong/TS2/00194909_f_20181023143245.pdf"


# Open the PDF file using pdfplumber
with pdfplumber.open(pdf_path) as pdf:
    start_page = None
    dfs = []

    # Iterate over each page in the PDF
    for i, page in enumerate(pdf.pages):
        page_text = page.extract_text()
        
        # Check if "1. Location Parameters" is present in the page text
        if "1. Location Parameters" in page_text:
            start_page = i
            break

    if start_page is not None:
        # Read the PDF file again, starting from the identified page
        for page in pdf.pages[start_page:]:
            tables = page.extract_tables()
            for table in tables:
                # Generate unique column names for each table
                columns = [f"Column_{i}" for i in range(len(table[0]))]
                df = pd.DataFrame(table[0:], columns=columns)
                dfs.append(df)

        if dfs:
            # Concatenate all tables into a single DataFrame
            combined_df = pd.concat(dfs, ignore_index=True)

            # Shift first three rows to column 2
            combined_df.loc[0:3, 'Column_1'] = combined_df['Column_0']
            
            # Drop unnecessary columns
            combined_df = combined_df.drop(columns=["Column_0","Column_3", "Column_7", "Column_8"])

            # Drop empty rows
            combined_df = combined_df.dropna(how='all')

            # Remove line breaks
            combined_df = combined_df.replace('\n', ' ', regex=True)

            # Save the combined DataFrame as a CSV file
            output_csv = "output.csv"
            combined_df.to_csv(output_csv, header=None,index=False)
            print(f"Tables saved in {output_csv}")
        else:
            print("No tables found in the PDF.")
    else:
        print("Unable to find '1. Location Parameters' in the PDF.")

# print(combined_df)

Tables saved in output.csv

In [9]:
import pandas as pd
import os
import glob

## Change folder path and output_csv for each run
# Path to the folder containing the files
folder_path = "/Users/sid/Documents/MA/AN/"

# Get a list of files in the folder
file_list = glob.glob(os.path.join(folder_path, "*.csv"))

# Initialize an empty DataFrame to store the combined results
final_df = pd.DataFrame()

# Initialize a dictionary to store the shape counts
shape_counts = {}

# Loop over each file
for file_path in file_list:
    # Read the file into a DataFrame
    df2 = pd.read_csv(file_path)

    ## State info
    df4 = df2.drop(df2.index[3:], inplace=False) # only keep required rows
    df4 = df4.iloc[:, [0, 1]] # drops unnecesary columns
    df4 = df4.transpose().reset_index()
    df4.columns = df4.iloc[0]
    df4 = df4[1:]  # Remove the header row

    ## District info
    df5 = df2.drop(df2.index[2:], inplace=False)
    df5 = df5.iloc[:, [2, 4]]
    df5 = df5.transpose().reset_index()
    df5.columns = df5.iloc[0]
    df5 = df5[1:]  # Remove the header row

    ## Village Parameters
    df3 = df2.iloc[4:].transpose()
    # Extract the header row and set it as the column names
    df3.columns = df3.iloc[0]
    df3 = df3[1:]  # Remove the header row
    df3 = df3.iloc[1:]

    df3 = df3.reset_index(drop=True)

    # # Remove row 1,3
    rows_to_drop = [0,2] 
    df3 = df3.drop(rows_to_drop)
    df3 = df3.fillna(0)

    # Reset the index
    # df3 = df3.reset_index(drop=True)
    # df3 = df3.dropna(how='all')
    combined_df = pd.concat([df4, df5,df3], axis=1)
    # print(combined_df.shape[1])

    # Get the shape of combined_df
    df_shape = combined_df.shape

    # Increment the count for the shape in the dictionary
    if df_shape in shape_counts:
        shape_counts[df_shape] += 1
    else:
        shape_counts[df_shape] = 1

    if combined_df.shape[1] == 54:
        final_df = final_df.append(combined_df, ignore_index=True)
     
output_csv = "/Users/sid/Documents/MA_20/AN.csv"
final_df.to_csv(output_csv, index=False)
print(f"Combined results saved in {output_csv}")

# Print the shape counts
print("Shape Counts:")
for shape, count in shape_counts.items():
    print(f"Shape: {shape}, Count: {count}")

Combined results saved in /Users/sid/Documents/MA_20/AN.csv
Shape Counts:

### PDF to CSV loop

In [51]:
## Test run; incorrect code

import glob
import os
import pdfplumber
import pandas as pd

# Folder path containing the PDF files
folder_path = "/Volumes/Ping Pong/TS2/"

# Output folder path for saving CSV files
output_folder = "/Users/sid/Documents/MA_19/"

# Get a list of PDF files in the folder
pdf_files = glob.glob(folder_path + "*.pdf")

# Loop over each PDF file
for pdf_path in pdf_files:
    # print("Processing:", pdf_path)

    # Open the PDF file using pdfplumber
    with pdfplumber.open(pdf_path) as pdf:
        start_pages = []
        dfs = []

        # Iterate over each page in the PDF
        for i, page in enumerate(pdf.pages):
            page_text = page.extract_text()

            # Check if "1. Location Parameters" is present in the page text
            if "1. Location Parameters" in page_text:
                start_pages.append(i)

        if start_pages:
            # Iterate over each start page
            for start_page in start_pages:
                temp_dfs = []
                # Read the PDF file again, starting from the identified start page
                for page in pdf.pages[start_page:]:
                    tables = page.extract_tables()
                    for table in tables:
                        # Generate unique column names for each table
                        columns = [f"Column_{i}" for i in range(len(table[0]))]
                        df = pd.DataFrame(table[0:], columns=columns)
                        temp_dfs.append(df)

                if temp_dfs:
                    # Concatenate all tables into a single DataFrame
                    combined_df = pd.concat(temp_dfs, ignore_index=True)

                    # Shift first three rows to column 2
                    combined_df.loc[0:3, 'Column_1'] = combined_df['Column_0']

                    # Drop unnecessary columns
                    # combined_df = combined_df.drop(columns=["Column_0", "Column_3", "Column_7", "Column_8"])

                    # Drop empty rows
                    combined_df = combined_df.dropna(how='all')

                    # Remove line breaks
                    combined_df = combined_df.replace('\n', ' ', regex=True)

                    # Generate a unique output filename using a counter
                    filename = os.path.splitext(os.path.basename(pdf_path))[0]  # Get the base filename of the PDF
                    counter = 1
                    while True:
                        output_csv = os.path.join(output_folder, f"{filename}_output_{counter}.csv")
                        if not os.path.exists(output_csv):
                            break
                        counter += 1

                    # Save the combined DataFrame as a CSV file
                    combined_df.to_csv(output_csv, header=None, index=False)
                    # print(f"Tables saved in {output_csv}")
                else:
                    print("No tables found in the PDF.")
        else:
            print("Unable to find '1. Location Parameters' in the PDF.")

In [66]:
import glob
import os
import pdfplumber
import pandas as pd

# Folder path containing the PDF files
folder_path = "/Users/sid/Documents/MA/TN/"

# Output folder path for saving CSV files
output_folder = "/Users/sid/Documents/MA_20/TN/"

# Get a list of PDF files in the folder
pdf_files = glob.glob(folder_path + "*.pdf")

# Function to shift data by 2 columns if Column 3 is not empty. Some pdfs formatting causes page 3 data to be misinterpretted. 
def shift_data(row):
    if row.name >= 30 and pd.notnull(row[3]):  # Check if row index is >= 30 and Column 3 is not empty
        row[5:] = row[3:].values[:-2]  # Shift the data in columns 3 and onward by 2 positions
    return row

# Loop over each PDF file
for pdf_path in pdf_files:
    # print("Processing:", pdf_path)

    # Open the PDF file using pdfplumber
    with pdfplumber.open(pdf_path) as pdf:
        start_pages = []
        dfs = []

        # Iterate over each page in the PDF
        for i, page in enumerate(pdf.pages):
            page_text = page.extract_text()

            # Check if "1. Location Parameters" is present in the page text
            if "1. Location Parameters" in page_text:
                start_pages.append(i)

        if start_pages:
            # Add the last page of the PDF as an end point to the list of start pages
            # This helps handle the case where the last "1. Location Parameters" occurs at the end of the PDF
            start_pages.append(len(pdf.pages))

            # Iterate over each start page
            for j in range(len(start_pages) - 1):
                temp_dfs = []
                start_page = start_pages[j]
                end_page = start_pages[j + 1]

                # Read the PDF file again, starting from the identified start page and ending at the next "1. Location Parameters" page
                for page in pdf.pages[start_page:end_page]:
                    tables = page.extract_tables()
                    for table in tables:
                        # Generate unique column names for each table
                        columns = [f"Column_{i}" for i in range(len(table[0]))]
                        df = pd.DataFrame(table[0:], columns=columns)
                        temp_dfs.append(df)

                if temp_dfs:
                    # Concatenate all tables into a single DataFrame
                    combined_df = pd.concat(temp_dfs, ignore_index=True)

                    combined_df = combined_df.apply(shift_data, axis=1)

                    combined_df = combined_df.drop(combined_df.columns[[4, 5]], axis=1)

                    # Shift first three rows to column 2
                    # combined_df.loc[0:3, 'Column_1'] = combined_df['Column_0']

                    # Drop unnecessary columns.
                    # combined_df = combined_df.drop(columns=["Column_0", "Column_3"]) #, "Column_7", "Column_8"

                    # Drop empty rows
                    # combined_df = combined_df.dropna(how='all')

                    # Remove line breaks
                    combined_df = combined_df.replace('\n', ' ', regex=True)

                    # Generate a unique output filename using a counter
                    filename = os.path.splitext(os.path.basename(pdf_path))[0]  # Get the base filename of the PDF
                    counter = 1
                    while True:
                        output_csv = os.path.join(output_folder, f"{filename}_output_{counter}.csv")
                        if not os.path.exists(output_csv):
                            break
                        counter += 1

                    output_csv = os.path.join(output_folder, f"{filename}_output_{j + 1}.csv")
                    
                    # Save the combined DataFrame as a CSV file
                    combined_df.to_csv(output_csv, header=None, index=False)
                    # print(f"Tables saved in {output_csv}")
                else:
                    print("No tables found in the PDF.")
        else:
            print("Unable to find '1. Location Parameters' in the PDF.")

### CSV Manipulation test

In [ ]:
df2 = pd.read_csv('/Users/sid/Documents/MA_20/AS/00105602_f_20201208193347_output_7.csv')
df2

In [52]:

## State info
df4 = df2.drop(df2.index[3:], inplace=False) # only keep required rows
df4 = df4.iloc[:, [0, 1]] # drops unnecesary columns
df4 = df4.transpose().reset_index()
df4.columns = df4.iloc[0]
df4 = df4[1:]  # Remove the header row
df4 = df4.reset_index(drop=True)

## District info
df5 = df2.drop(df2.index[2:], inplace=False)
df5 = df5.iloc[:, [2, 3]]
df5 = df5.transpose().reset_index()
df5.columns = df5.iloc[0]
df5 = df5[1:]  # Remove the header row
df5 = df5.reset_index(drop=True)

## Village Parameters
df3 = df2.drop(df2.columns[0], axis=1) ## Added this, different from TS code
df3 = df3.iloc[8:].transpose() ## if TS, df3 = df2.iloc
df3 = df3.dropna(how='all')  ## Added this, different from TS code
    # Extract the header row and set it as the column names
df3.columns = df3.iloc[0]
df3 = df3[1:]  # Remove the header row
df3 = df3.iloc[1:]

df3 = df3.reset_index(drop=True)

df3
# # Remove row 1,3
# rows_to_drop = [0,2] 
# df3 = df3.drop(rows_to_drop)
# df3 = df3.fillna(0)

# # Reset the index
# # df3 = df3.reset_index(drop=True)
# # df3 = df3.dropna(how='all')
combined_df = pd.concat([df4,df5,df3], axis=1)
combined_df

,State:,Sub District :,Gram Panchayat :,PIN :,District :,Development Block :,Village :,Total Population,Male,Female,...,Number of farmers received the soil testing report,NaN,Total no of elected representatives,No of elected representatives oriented under Rashtriya Gram Swaraj Abhiyan,No of elected representatives undergone refresher training under Rashtriya Gram Swaraj Abhiyan,NaN,Total approved Labour Budget for the year 2018-19,Total expenditure approved under NRM in the Labour Budget for the year 2018-19),"Total area covered under irrigation (drip, sprinkler), If in acres divide by 2.47",No of households having piped water connection
0,ASSAM (18),Bajali (Pt) (2024),PATACHARKUCHI (105602),781326,BARPETA (280),BAJALI (2489),Doloi Gaon (283328),263,175,88,...,0,NaN,0,0,0,NaN,1.33,1.1,2,0

### CSV Manipulation

#### Completed correct code below:

In [58]:
import pandas as pd
import os
import glob

## Change folder path and output_csv for each run
# Path to the folder containing the files
folder_path = "/Users/sid/Documents/MA_20/AN/"

# Get a list of files in the folder
file_list = glob.glob(os.path.join(folder_path, "*.csv"))

# Initialize an empty DataFrame to store the combined results
final_df = pd.DataFrame()

# Initialize a dictionary to store the shape counts
shape_counts = {}

# Loop over each file
for file_path in file_list:
    # Read the file into a DataFrame
    df2 = pd.read_csv(file_path)

    ## State info
    df4 = df2.drop(df2.index[3:], inplace=False) # only keep required rows
    df4 = df4.iloc[:, [0, 1]] # drops unnecesary columns
    df4 = df4.transpose().reset_index()
    df4.columns = df4.iloc[0]
    df4 = df4[1:]  # Remove the header row
    df4 = df4.reset_index(drop=True)

    ## District info
    df5 = df2.drop(df2.index[2:], inplace=False)
    df5 = df5.iloc[:, [2, 3]] ## changed index, different from TS
    df5 = df5.transpose().reset_index()
    df5.columns = df5.iloc[0]
    df5 = df5[1:]  # Remove the header row
    df5 = df5.reset_index(drop=True)

    ## Village Parameters
    df3 = df2.drop(df2.columns[0], axis=1) ## Added this, different from TS code
    df3 = df3.iloc[8:].transpose() ## if TS, df3 = df2.iloc
    df3 = df3.dropna(axis=1, how='all')  ## Added this, different from TS code
    # Extract the header row and set it as the column names
    df3.columns = df3.iloc[0]
    df3 = df3[1:]  # Remove the header row
    df3 = df3.iloc[1:]

    df3 = df3.reset_index(drop=True)

    # # # Remove row 1,3
    # rows_to_drop = [0,2] 
    # df3 = df3.drop(rows_to_drop)
    # df3 = df3.fillna(0)

    # Reset the index
    # df3 = df3.reset_index(drop=True)
    # df3 = df3.dropna(how='all')
    combined_df = pd.concat([df4, df5,df3], axis=1)
    # print(combined_df.shape[1])

    # Get the shape of combined_df
    df_shape = combined_df.shape

    # Increment the count for the shape in the dictionary
    if df_shape in shape_counts:
        shape_counts[df_shape] += 1
    else:
        shape_counts[df_shape] = 1

    # if combined_df.shape[1] == 54: ## Only use in 2018 data
    final_df = final_df.append(combined_df, ignore_index=True)
     
output_csv = "/Users/sid/Documents/MA_20/AN.csv"
final_df.to_csv(output_csv, index=False)
print(f"Combined results saved in {output_csv}")

# Print the shape counts
print("Shape Counts:")
for shape, count in shape_counts.items():
    print(f"Shape: {shape}, Count: {count}")

Combined results saved in /Users/sid/Documents/MA_20/AN.csv
Shape Counts:
Shape: (1, 147), Count: 293

#### Master Folder loop code below:

In [23]:
import pandas as pd
import os
import glob
import time

# Path to the master folder containing subfolders
master_folder = "/Users/sid/Documents/MA_20/"

# Get a list of subfolders in the master folder
subfolders = [subfolder for subfolder in os.listdir(master_folder) if os.path.isdir(os.path.join(master_folder, subfolder))]

# Loop through each subfolder
for subfolder in subfolders:
    if subfolder != "UP":
        print(f"Skipping folder {subfolder}.\n")
        continue  # Skip processing this folder and move to the next

    folder_path = os.path.join(master_folder, subfolder)
    
    # Get a list of files in the subfolder
    file_list = glob.glob(os.path.join(folder_path, "*.csv"))

    print(f"Beginning folder {subfolder}.\n")

    start_time = time.time()

    final_df = pd.DataFrame()
    shape_counts = {}
    
    for file_path in file_list:
        df2 = pd.read_csv(file_path)

        ## State info
        df4 = df2.drop(df2.index[3:], inplace=False) # only keep required rows
        df4 = df4.iloc[:, [0, 1]] # drops unnecesary columns
        df4 = df4.transpose().reset_index()
        df4.columns = df4.iloc[0]
        df4 = df4[1:]  # Remove the header row
        df4 = df4.reset_index(drop=True)

        ## District info
        df5 = df2.drop(df2.index[2:], inplace=False)
        df5 = df5.iloc[:, [2, 3]] ## changed index, different from TS
        df5 = df5.transpose().reset_index()
        df5.columns = df5.iloc[0]
        df5 = df5[1:]  # Remove the header row
        df5 = df5.reset_index(drop=True)

        ## Village Parameters
        df3 = df2.drop(df2.columns[0], axis=1) ## Added this, different from TS code
        df3 = df3.iloc[8:].transpose() ## if TS, df3 = df2.iloc
        df3 = df3.dropna(axis=1, how='all')  ## Added this, different from TS code
        # Extract the header row and set it as the column names
        df3.columns = df3.iloc[0]
        df3 = df3[1:]  # Remove the header row
        df3 = df3.iloc[1:]

        df3 = df3.reset_index(drop=True)

        combined_df = pd.concat([df4, df5,df3], axis=1)

        # Get the shape of combined_df
        df_shape = combined_df.shape

        # Increment the count for the shape in the dictionary
        if df_shape in shape_counts:
            shape_counts[df_shape] += 1
        else:
            shape_counts[df_shape] = 1

        # if combined_df.shape[1] == 54: ## Only use in 2018 data
        final_df = final_df.append(combined_df, ignore_index=True)

    # Calculate time taken
    end_time = time.time()
    time_taken = end_time - start_time
    
    # Save combined results to CSV
    output_csv = os.path.join(master_folder, f"{subfolder}.csv")
    final_df.to_csv(output_csv, index=False)
    print(f"Combined results for {subfolder} saved in {output_csv}")

    # Print shape counts
    print("Shape Counts:")
    for shape, count in shape_counts.items():
        print(f"Shape: {shape}, Count: {count}")

    print(f"Folder {subfolder} completed in {time_taken:.2f} seconds.\n")

Skipping folder 11.

Beginning folder UP.

In [ ]:
import pandas as pd
import os

# Specify the directory containing CSV files
csv_directory = "/Users/sid/Documents/MA_20/"

# Get a list of all CSV files in the directory
csv_files = [file for file in os.listdir(csv_directory) if file.endswith(".csv")]

# Dictionary to store column sets
column_sets = {}

# Loop through each CSV file
for csv_file in csv_files:
    file_path = os.path.join(csv_directory, csv_file)
    
    # Read the CSV file using pandas
    df = pd.read_csv(file_path)
    
    # Get the shape of the DataFrame
    shape = df.shape
    
    # Get the set of columns
    columns = tuple(df.columns)
    
    # Store the columns and shape in the dictionary
    column_sets[file_path] = (shape, columns)

# Create a dictionary to group files with same columns
column_groups = {}

# Group files with same columns
for file, (shape, columns) in column_sets.items():
    columns_key = tuple(columns)
    
    if columns_key in column_groups:
        column_groups[columns_key].append((file, shape))
    else:
        column_groups[columns_key] = [(file, shape)]

# Print grouped information
for columns_key, files_and_shapes in column_groups.items():
    if len(files_and_shapes) > 1:
        file_info = [f"{os.path.basename(file)} ({shape})" for file, shape in files_and_shapes]
        print(f"Files {', '.join(file_info)} have the same columns.")
    else:
        file_info = files_and_shapes[0]
        print(f"File {os.path.basename(file_info[0])} ({file_info[1]}) has different columns.")

print("Comparison finished.")

## Long to Wide (Redundant)

In [ ]:
import pandas as pd
import os

pd.set_option('display.max_columns', 500)

In [ ]:
main2020status = pd.DataFrame(columns=[ 'State',
       'District', 'Sub District', 'Development Block', 'Gram Panchayat',
       'Village', 'PIN', 'Parliament Constituency', 'Assembly Constituency',
       'Other Assembly \nConstituency','Total Population', 'Male', 'Female', 'Total Household',
       'Number of households engaged majorly in \nFarm activities',
       'Number of households engaged majorly in \nNon-Farm activities',
       'Availability of government seed centres',
       'Whether this village is a part of the \nWatershed Development Project',
       'Availability of Community Rain Water \nHarvesting System/Pond/Dam/Check Dam \netc.',
       'Does the village has any Farmers Collective',
       'Availability of warehouse for Food Grain \nStorage',
       'Availability of Primary Processing facilities \nat the village level',
       'Does the village have access to Custom \nHiring Centre (Agri-equipments)',
       'Total Cultivable Area (in hectares), If in \nacres divide by 2.47',
       'Net sown Area (In hectares) , If in acres \ndivide by 2.47',
       'Availability of soil testing centres',
       'Availability of fertilizer shop', 'Main Source of irrigation',
       'Number of farmers using drip/sprinkler \nirrigation',
       'Total area irrigated (in hectare), If in acres \ndivide by 2.47',
       'Total Unirrigated land area (in hectares), If \nin acres divide by 2.47',
       'Does the village have Livestock Extension \nservices',
       'Availability of Milk Collection Centre /Milk \nroutes / Chilling Centres',
       'Any Project supporting Poultry \nDevelopment',
       'Any Project supporting Goatary \nDevelopment',
       'Any Project supporting Pigery Development',
       'Availability of Veterinary Clinic or Hospital',
       'Pisciculture - InLand Fishery/Coastal \nFishery/Any Other',
       'Community Ponds Used for Fisheries',
       'Extension facilities for Aquaculture',
       'No of household with kuccha wall and \nkuccha roof (Kutcha Wall is 1-\nGrass/thatch/bamboo etc 2-\nPlastic/polythene 3-Mud/unburnt brick 4-\nWood 5-Stone not packed with mortar, \nKutcha Roof is 1-\nGrass/thatch/bamboo/wood/mud etc 2-\nPlastic/polythene 3-Hand made tiles',
       'No of Households who have got a PMAY \nHouse (completed or sanctioned)',
       'No of Households who are in the \nPermanent Wait List',
       'No of Households who got benefit from any \nState Specific Housing Scheme?',
       'No of Households who are in the \nPermanent Wait List of State Specific \nHousing Scheme?',
       'Availability of Piped tap water',
       'Whether the village is connected to All \nweather road',
       'Whether village has internal pucca roads \n(cc/ brick road)',
       'Availability of Public Transport',
       'Availability of Railway Station',
       'Availability of electricity for domestic use',
       'Number  of Households availing the \nbenefits under Saubhagya Scheme',
       'Availability of Electricity Supply to MSME \nUnits',
       'Use of Solar Energy/Wind Energy for \nelectrification of the house',
       'Availability of Panchayat Bhawan',
       'Is there a Common Service Centre (CSC) in \nthe village',
       "Availability of Public Information Board \nunder People's Plan Campaign",
       'Common pastures as per revenue records',
       'Number of Households availing benefits of \nPradhan Mantri Ujjwala Yojana (PMUY)',
       'Availability of Public Library',
       'Availability of recreational centre/Sports \nPlayground etc',
       'Availability of banks',
       'Availability of Business Correspondent with \ninternet connectivity?',
       'Availability of ATM',
       'Number of households having Jan-Dhan \nbank account',
       'Availability of Post office/Sub-Post office',
       'Availability of telephone services',
       'Availability of Internet/BroadBand Facility',
       'Availability of Public Distribution System \n(PDS)',
       'Number of Households having BPL ration \ncards',
       'Availability of Primary School', 'Availability of Middle School',
       'Availability of High School',
       'Availability of Higher/Senior Secondary \nSchool',
       'No.of Children not attending the school',
       'Availability of Degree College',
       'Number of Graduates/Post Graduates in \nthe Village',
       'Availability of Vocational Training \nCentre/Polytechnic/ITI/RSETI /DDU-GKY',
       'Number of trainees trained under any Skill \nDevelopment Program',
       'Availability of markets', 'Availability of Sub centre PHC/CHC',
       'Availability of Jan Aushadhi Kendra',
       'No. of Households registered for health \ninsurance services under Pradhan Mantri \nJan Arogya Yojana (PMJAY)/State specific \nHealth Insurance Schemes',
       'Availability of drainage facilities',
       'Community waste disposal system',
       'Total no of households using clean energy \n(LPG/Bio gas)',
       'Community bio gas or recycle of waste',
       'Availability of Aanganwadi Centre',
       'Is Early Childhood Education provided in \nthe Anganwadi',
       'Total no of children in the age group of 0-3 \nyears in the village',
       'Total no of children aged 0-3 years \nregistered in Aanganwadi',
       'Total no of children aged 3-6 years \nregistered in Aanganwadi',
       'No of children aged 0-3 years immunized',
       'No of children categorized as Non-Stunted \nas per ICDS record',
       'No. of Anaemic Pregnant Women', 'No. of Anaemic Adolescent Girls',
       'No. of children under the age of 6 years \nwho are underweight',
       'No of Male Children (0-6 Years)',
       'No of Female Children (0-6 Years)',
       'Number of SC/ST/OBC/Minority Children \ngetting Scholarship',
       'Number of SC/ST/OBC/Minority households \nwhich received bank Loans',
       'No of physically challenged persons who \nreceived implants and appliances',
       'Number of Households with more than 2 \nChildren',
       'Availability of Mother and Child Health \nfacilities',
       'Number of Households getting pensions \nunder National Social Assistance \nProgramme (NSAP) (Old \nAge/Disability/Widow/National Family \nBenefit Scheme (NFBS)',
       'Number of Self Help Groups (SHGs)',
       'Number of households mobilized into SHGs',
       'Number of SHGs federated into Village \nOrganisations (VOs)',
       'Number of households mobilized into \nProducer Groups (PGs)',
       'No of SHGs which accessed bank loans', 'Bee Keeping',
       'Sericulture (Silk Production)', 'Handloom', 'Handicrafts',
       'Availability of Community Forest',
       'Availability of minor forest production',
       'Number of Households where only source \nof livelihood is minor forest production',
       'Availability of cottage and small scale units \n(Fabrication/Construction material/Dairy \nbased/Textile etc.) units',
       'Availability of Adult Education Centre',
       'Total number of registered children in  \nAnganwadi',
       'Total number of children  (0-6 years) \nimmunized under ICDS',
       'Total number of Pregnant women',
       'No of pregnant women receiving  services \nunder ICDS',
       'Total number of lactating mothers',
       'No of lactating mothers receiving services \nunder ICDS',
       'Total no of women delivered babies at the \nhospitals who are registered with ASHA \nAnganwadi workers',
       'Total no of children in ICDS Common \nApplication Software',
       'No of young anaemic children in ICDS \nCommon Application Software (6-59 \nmonths)',
       'Total number of newly born children during \nthe year 2018-19',
       'No of newly born children underweight \nduring the year 2018-19',
       'No of households not having sanitary \nlatrines',
       'Total no of eligible beneficiaries under \nPradhan Mantri Matru Vandana Yojana',
       'No of beneficiaries receiving benefits under \nPradhan Mantri Matru Vandana Yojana',
       'Total no. of eligible beneficiaries under \nAayushman Bharat-Pradhan Mantri Jan \nArogya Yojana or any State Govt Health \nscheme',
       'No. of beneficiaries receiving benefits under \nAayushman Bharat-Pradhan Mantri Jan \nArogya Yojana or any State Govt Health \nscheme',
       'Total number of eligible households under \nNational Food Security Act (NFSA)',
       'Total no of households receiving food \ngrains from Fair Price Shops',
       'Total number of farmers registered under \nPradhan Mantri Kisan Pension Yojana \n(PMKPY)',
       'Total number of farmers in the age of 18-40 \nyears subscribed to Pradhan Mantri Kisan \nPension Yojana (PMKPY)',
       'Total no of farmers',
       'No of farmers received benefits under \nPMFBY  (Pradhan Mantri Fasal Bima \nYojana )',
       'No of farmers adopted organic farming \nduring 2018-19',
       'Number of farmers received the soil testing \nreport',
       'Total no of elected representatives',
       'No of elected representatives oriented \nunder Rashtriya Gram Swaraj Abhiyan',
       'No of elected representatives undergone \nrefresher training under Rashtriya Gram \nSwaraj Abhiyan',
       'Total approved Labour Budget for the year \n2018-19',
       'Total expenditure approved under NRM in \nthe Labour Budget for the year 2018-19)',
       'Total area covered under irrigation (drip, \nsprinkler), If in acres divide by 2.47',
       'No of households having piped water \nconnection'] )

In [ ]:
main2019 = pd.DataFrame(columns=[ 'State',
       'District', 'Sub District', 'Development Block', 'Gram Panchayat',
       'Village', 'PIN', 'Parliament Constituency', 'Assembly Constituency',
       'Other Assembly \nConstituency','Total Population', 'Male', 'Female', 'Total Household',
       'Number of households engaged majorly in \nFarm activities',
       'Number of households engaged majorly in \nNon-Farm activities',
       'Availability of government seed centres',
       'Whether this village is a part of the \nWatershed Development Project',
       'Availability of Community Rain Water \nHarvesting System/Pond/Dam/Check Dam \netc.',
       'Does the village has any Farmers Collective',
       'Availability of warehouse for Food Grain \nStorage',
       'Availability of Primary Processing facilities \nat the village level',
       'Does the village have access to Custom \nHiring Centre (Agri-equipments)',
       'Total Cultivable Area (in hectares), If in \nacres divide by 2.47',
       'Net sown Area (In hectares) , If in acres \ndivide by 2.47',
       'Availability of soil testing centres',
       'Availability of fertilizer shop', 'Main Source of irrigation',
       'Number of farmers using drip/sprinkler \nirrigation',
       'Total area irrigated (in hectare), If in acres \ndivide by 2.47',
       'Total Unirrigated land area (in hectares), If \nin acres divide by 2.47',
       'Does the village have Livestock Extension \nservices',
       'Availability of Milk Collection Centre /Milk \nroutes / Chilling Centres',
       'Any Project supporting Poultry \nDevelopment',
       'Any Project supporting Goatary \nDevelopment',
       'Any Project supporting Pigery Development',
       'Availability of Veterinary Clinic or Hospital',
       'Pisciculture - InLand Fishery/Coastal \nFishery/Any Other',
       'Community Ponds Used for Fisheries',
       'Extension facilities for Aquaculture',
       'No of household with kuccha wall and \nkuccha roof (Kutcha Wall is 1-\nGrass/thatch/bamboo etc 2-\nPlastic/polythene 3-Mud/unburnt brick 4-\nWood 5-Stone not packed with mortar, \nKutcha Roof is 1-\nGrass/thatch/bamboo/wood/mud etc 2-\nPlastic/polythene 3-Hand made tiles',
       'No of Households who have got a PMAY \nHouse (completed or sanctioned)',
       'No of Households who are in the \nPermanent Wait List',
       'No of Households who got benefit from any \nState Specific Housing Scheme?',
       'No of Households who are in the \nPermanent Wait List of State Specific \nHousing Scheme?',
       'Availability of Piped tap water',
       'Whether the village is connected to All \nweather road',
       'Whether village has internal pucca roads \n(cc/ brick road)',
       'Availability of Public Transport',
       'Availability of Railway Station',
       'Availability of electricity for domestic use',
       'Number  of Households availing the \nbenefits under Saubhagya Scheme',
       'Availability of Electricity Supply to MSME \nUnits',
       'Use of Solar Energy/Wind Energy for \nelectrification of the house',
       'Availability of Panchayat Bhawan',
       'Is there a Common Service Centre (CSC) in \nthe village',
       "Availability of Public Information Board \nunder People's Plan Campaign",
       'Common pastures as per revenue records',
       'Number of Households availing benefits of \nPradhan Mantri Ujjwala Yojana (PMUY)',
       'Availability of Public Library',
       'Availability of recreational centre/Sports \nPlayground etc',
       'Availability of banks',
       'Availability of Business Correspondent with \ninternet connectivity?',
       'Availability of ATM',
       'Number of households having Jan-Dhan \nbank account',
       'Availability of Post office/Sub-Post office',
       'Availability of telephone services',
       'Availability of Internet/BroadBand Facility',
       'Availability of Public Distribution System \n(PDS)',
       'Number of Households having BPL ration \ncards',
       'Availability of Primary School', 'Availability of Middle School',
       'Availability of High School',
       'Availability of Higher/Senior Secondary \nSchool',
       'No.of Children not attending the school',
       'Availability of Degree College',
       'Number of Graduates/Post Graduates in \nthe Village',
       'Availability of Vocational Training \nCentre/Polytechnic/ITI/RSETI /DDU-GKY',
       'Number of trainees trained under any Skill \nDevelopment Program',
       'Availability of markets', 'Availability of Sub centre PHC/CHC',
       'Availability of Jan Aushadhi Kendra',
       'No. of Households registered for health \ninsurance services under Pradhan Mantri \nJan Arogya Yojana (PMJAY)/State specific \nHealth Insurance Schemes',
       'Availability of drainage facilities',
       'Community waste disposal system',
       'Total no of households using clean energy \n(LPG/Bio gas)',
       'Community bio gas or recycle of waste',
       'Availability of Aanganwadi Centre',
       'Is Early Childhood Education provided in \nthe Anganwadi',
       'Total no of children in the age group of 0-3 \nyears in the village',
       'Total no of children aged 0-3 years \nregistered in Aanganwadi',
       'Total no of children aged 3-6 years \nregistered in Aanganwadi',
       'No of children aged 0-3 years immunized',
       'No of children categorized as Non-Stunted \nas per ICDS record',
       'No. of Anaemic Pregnant Women', 'No. of Anaemic Adolescent Girls',
       'No. of children under the age of 6 years \nwho are underweight',
       'No of Male Children (0-6 Years)',
       'No of Female Children (0-6 Years)',
       'Number of SC/ST/OBC/Minority Children \ngetting Scholarship',
       'Number of SC/ST/OBC/Minority households \nwhich received bank Loans',
       'No of physically challenged persons who \nreceived implants and appliances',
       'Number of Households with more than 2 \nChildren',
       'Availability of Mother and Child Health \nfacilities',
       'Number of Households getting pensions \nunder National Social Assistance \nProgramme (NSAP) (Old \nAge/Disability/Widow/National Family \nBenefit Scheme (NFBS)',
       'Number of Self Help Groups (SHGs)',
       'Number of households mobilized into SHGs',
       'Number of SHGs federated into Village \nOrganisations (VOs)',
       'Number of households mobilized into \nProducer Groups (PGs)',
       'No of SHGs which accessed bank loans', 'Bee Keeping',
       'Sericulture (Silk Production)', 'Handloom', 'Handicrafts',
       'Availability of Community Forest',
       'Availability of minor forest production',
       'Number of Households where only source \nof livelihood is minor forest production',
       'Availability of cottage and small scale units \n(Fabrication/Construction material/Dairy \nbased/Textile etc.) units',
       'Availability of Adult Education Centre',
       'Total number of registered children in  \nAnganwadi',
       'Total number of children  (0-6 years) \nimmunized under ICDS',
       'Total number of Pregnant women',
       'No of pregnant women receiving  services \nunder ICDS',
       'Total number of lactating mothers',
       'No of lactating mothers receiving services \nunder ICDS',
       'Total no of women delivered babies at the \nhospitals who are registered with ASHA \nAnganwadi workers',
       'Total no of children in ICDS Common \nApplication Software',
       'No of young anaemic children in ICDS \nCommon Application Software (6-59 \nmonths)',
       'Total number of newly born children during \nthe year 2018-19',
       'No of newly born children underweight \nduring the year 2018-19',
       'No of households not having sanitary \nlatrines',
       'Total no of eligible beneficiaries under \nPradhan Mantri Matru Vandana Yojana',
       'No of beneficiaries receiving benefits under \nPradhan Mantri Matru Vandana Yojana',
       'Total no. of eligible beneficiaries under \nAayushman Bharat-Pradhan Mantri Jan \nArogya Yojana or any State Govt Health \nscheme',
       'No. of beneficiaries receiving benefits under \nAayushman Bharat-Pradhan Mantri Jan \nArogya Yojana or any State Govt Health \nscheme',
       'Total number of eligible households under \nNational Food Security Act (NFSA)',
       'Total no of households receiving food \ngrains from Fair Price Shops',
       'Total number of farmers registered under \nPradhan Mantri Kisan Pension Yojana \n(PMKPY)',
       'Total number of farmers in the age of 18-40 \nyears subscribed to Pradhan Mantri Kisan \nPension Yojana (PMKPY)',
       'Total no of farmers',
       'No of farmers received benefits under \nPMFBY  (Pradhan Mantri Fasal Bima \nYojana )',
       'No of farmers adopted organic farming \nduring 2018-19',
       'Number of farmers received the soil testing \nreport',
       'Total no of elected representatives',
       'No of elected representatives oriented \nunder Rashtriya Gram Swaraj Abhiyan',
       'No of elected representatives undergone \nrefresher training under Rashtriya Gram \nSwaraj Abhiyan',
       'Total approved Labour Budget for the year \n2018-19',
       'Total expenditure approved under NRM in \nthe Labour Budget for the year 2018-19)',
       'Total area covered under irrigation (drip, \nsprinkler), If in acres divide by 2.47',
       'No of households having piped water \nconnection'] )

In [ ]:
for file in os.listdir('/Users/sid/Desktop/CH/'):
    if file.endswith('.csv'):
        print(file)
        df = pd.read_csv('/Users/sid/Desktop/CH/'+file,low_memory=False)

        for vil in df['Village'].unique():
            tlist = []
            clist = []
            plist = []
            mainlist1 = []
            mainlist2 = []
                
            subvil = df[df['Village'] == vil]
            tlist.append(subvil.iloc[0]['State'])
            tlist.append(subvil.iloc[0]['District'])
            tlist.append(subvil.iloc[0][ 'Sub District'])
            tlist.append(subvil.iloc[0]['Development Block'])
            tlist.append(subvil.iloc[0][ 'Gram Panchayat'])
            tlist.append(subvil.iloc[0][ 'Village'])
            tlist.append(subvil.iloc[0]['PIN'])
            tlist.append(subvil.iloc[0]['Parliament Constituency'])
            tlist.append(subvil.iloc[0]['Assembly Constituency'])
            tlist.append(subvil.iloc[0]['Other Assembly \nConstituency'])
            clist = subvil['Survey 2020 Status'].tolist()
            # plist = subvil['MA 2019  Status'].tolist()


            mainlist1 = tlist + clist
            mainlist1 = mainlist1[0:150]
            # mainlist2 = tlist + plist 
            # mainlist2 = mainlist2[0:150]
                # print(mainlist1)
                # print(mainlist2)
                # maindf = maindf.append(mainlist1,ignore_index = True)
                # maindf2 = maindf2.append(mainlist2,ignore_index = True)

            main2020status.loc[len(main2020status)] = mainlist1
            # main2019.loc[len(main2019)] = mainlist2

main2020status.to_csv('/Users/sid/Desktop/output.csv',index=False)
        # main2019.to_csv('/Users/sid/Documents/MA_pdf/TS_file/'+file,index=False)

In [ ]:
main2020status.to_csv('/Users/sid/Desktop/1.csv',index=False)

## Wide CSV Data Cleaning (Redundant)

In [ ]:
df = pd.read_csv('/Users/sid/Documents/MA_pdf/KA_ma.csv')
df

In [ ]:
#State
split_data = df['State'].str.split('(', n=1, expand=True)
df['State'] = split_data[0]
df['ST Code'] = split_data[1].str.rstrip(')')
df['ST Code'] = df['ST Code'].astype(int)

#District
split_data = df['District'].str.split('(', n=1, expand=True)
df['District'] = split_data[0]
df['DT_Code'] = split_data[1].str.rstrip(')')
df['DT_Code'] = df['DT_Code'].astype(int)

#Sub-District
split_data = df['Sub District'].str.split('(', n=1, expand=True)
df['Sub District'] = split_data[0]
df['SDT_Code'] = split_data[1].str.rstrip(')')
df['SDT_Code'] = df['SDT_Code'].astype(int)

#Development Block
split_data = df['Development Block'].str.split('(', n=1, expand=True)
df['Development Block'] = split_data[0]
df['Block_Code'] = split_data[1].str.rstrip(')')
df['Block_Code'] = df['Block_Code'].astype(int)

#Gram Panchayat
split_data = df['Gram Panchayat'].str.split('(', n=1, expand=True)
df['Gram Panchayat'] = split_data[0]
df['GP_Code'] = split_data[1].str.rstrip(')')
# df['GP_Code'] = df['GP_Code'].astype(int)

#Village
split_data = df['Village'].str.split('(', n=1, expand=True)
df['Village'] = split_data[0]
df['Vil_Code'] = split_data[1].str.rstrip(')')
# df['Vil_Code'] = df['Vil_Code'].astype(int)

# #Parliament Constituency
# split_data = df['State'].str.split('(', n=1, expand=True)
# df['State'] = split_data[0]
# df['ST Code'] = split_data[1].str.rstrip(')')
# df['ST Code'] = df['ST Code'].astype(int)

#Assembly Constituency
split_data = df['Assembly Constituency'].str.split('(', n=1, expand=True)
df['Assembly Constituency'] = split_data[0]
df['AC_Code'] = split_data[1].str.rstrip(')')
# df['AC_Code'] = df['AC_Code'].astype(int)

df

In [ ]:
df.to_csv('/Users/sid/Documents/MA_pdf/_MA_Final/KA_MA.csv',index=False)

## Final State csv Manipulation

In [37]:
ma = pd.read_csv("/Users/sid/Documents/MA_pdf/_MA_Final/Telangana_MA.csv")
ma

,State,ST Code,District,DT_Code,Sub District,SDT_Code,Development Block,Block_Code,Gram Panchayat,GP_Code,...,No of farmers received benefits under PMFBY (Pradhan Mantri Fasal Bima Yojana ),No of farmers adopted organic farming during 2018-19,Number of farmers received the soil testing report,Total no of elected representatives,No of elected representatives oriented under Rashtriya Gram Swaraj Abhiyan,No of elected representatives undergone refresher training under Rashtriya Gram Swaraj Abhiyan,Total approved Labour Budget for the year 2018-19,Total expenditure approved under NRM in the Labour Budget for the year 2018-19),"Total area covered under irrigation (drip, sprinkler), If in acres divide by 2.47",No of households having piped water connection
0,TELANGANA,36,ADILABAD,501,Ichoda (4322),4322,ICHODA (4648),4648,BOREGAON (195146),195146,...,0.0,0.0,250.0,11.0,1.0,1.0,2500000.0,2428000.0,700.00,368.0
1,TELANGANA,36,ADILABAD,501,Inderavelly (4311),4311,INDERVELLY (4649),4649,Shankar Guda (281235),281235,...,10.0,0.0,0.0,1.0,0.0,0.0,600000.0,300000.0,54.00,25.0
2,TELANGANA,36,ADILABAD,501,Neradigonda (4325),4325,NERADIGONDA (4672),4672,KUMARI (195570),195570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TELANGANA,36,ADILABAD,501,Bela (4308),4308,BELA (4638),4638,KOBHAI (194994),194994,...,30.0,0.0,110.0,1.0,0.0,0.0,2327000.0,1148000.0,19.00,199.0
4,TELANGANA,36,ADILABAD,501,BHEEMPUR (6223),6223,Bheempur (7189),7189,Jalkori (281199),281199,...,1.0,1.0,1.0,5.0,1.0,1.0,309000.0,204000.0,40.29,63.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13939,TELANGANA,36,MEDAK,513,Manoharabad (6273),6273,Manoharabad (7265),7265,RANGAIPALLE (207016),207016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
13940,TELANGANA,36,MEDCHAL MALKAJGIRI,700,Medchal (4519),4519,MEDCHAL (5525),5525,Saidonigadda Thanda (278174),278174,...,0.0,0.0,23.0,10.0,10.0,10.0,134000.0,134000.0,5.00,248.0
13941,TELANGANA,36,MEDAK,513,Kowdipally (4480),4480,KOWDIPALLI (5283),5283,Sheri Thanda (281125),281125,...,0.0,0.0,0.0,0.0,0.0,0.0,800000.0,800000.0,112.70,80.0
13942,TELANGANA,36,MEDCHAL MALKAJGIRI,700,Shamirpet (4520),4520,SHAMIRPET (5536),5536,SHAMEERPET (210464),210464,...,6.0,0.0,36.0,15.0,0.0,0.0,7949000.0,866000.0,50.00,1800.0
13943,TELANGANA,36,MEDCHAL MALKAJGIRI,700,Ghatkesar (4523),4523,GHATKESAR (5516),5516,KORREMUL (210048),210048,...,0.0,0.0,150.0,12.0,12.0,12.0,300000.0,0.0,2.00,748.0

In [4]:
# Get a list of all columns in the DataFrame
columns_list = ma.columns.tolist()

# Print the list of columns
print(columns_list)

['State', 'ST Code', 'District', 'DT_Code', 'Sub District', 'SDT_Code', 'Development Block', 'Block_Code', 'Gram Panchayat', 'GP_Code', 'Village', 'Vil_Code', 'PIN', 'Parliament Constituency', 'Assembly Constituency', 'AC_Code', 'Total Population', 'Male', 'Female', 'Total Household', 'Number of households engaged majorly in Farm activities', 'Number of households engaged majorly in Non-Farm activities', 'Availability of government seed centres', 'Whether this village is a part of the Watershed Development Project', 'Availability of Community Rain Water Harvesting System/Pond/Dam/Check Dam etc.', 'Does the village has any Farmers Collective', 'Availability of warehouse for Food Grain Storage', 'Availability of Primary Processing facilities at the village level', 'Does the village have access to Custom Hiring Centre (Agri-equipments)', 'Total Cultivable Area (in hectares), If in acres divide by 2.47', 'Net sown Area (In hectares) , If in acres divide by 2.47', 'Availability of soil testing centres', 'Availability of fertilizer shop', 'Main Source of irrigation', 'Number of farmers using drip/sprinkler irrigation', 'Total area irrigated (in hectare), If in acres divide by 2.47', 'Total Unirrigated land area (in hectares), If in acres divide by 2.47', 'Does the village have Livestock Extension services', 'Availability of Milk Collection Centre /Milk routes / Chilling Centres', 'Any Project supporting Poultry Development', 'Any Project supporting Goatary Development', 'Any Project supporting Pigery Development', 'Availability of Veterinary Clinic or Hospital', 'Pisciculture - InLand Fishery/Coastal Fishery/Any Other', 'Community Ponds Used for Fisheries', 'Extension facilities for Aquaculture', 'No of household with kuccha wall and kuccha roof (Kutcha Wall is 1- Grass/thatch/bamboo etc 2- Plastic/polythene 3-Mud/unburnt brick 4- Wood 5-Stone not packed with mortar, Kutcha Roof is 1- Grass/thatch/bamboo/wood/mud etc 2- Plastic/polythene 3-Hand made tiles', 'No of Households who have got a PMAY House (completed or sanctioned)', 'No of Households who are in the Permanent Wait List', 'No of Households who got benefit from any State Specific Housing Scheme?', 'No of Households who are in the Permanent Wait List of State Specific Housing Scheme?', 'Availability of Piped tap water', 'Whether the village is connected to All weather road', 'Whether village has internal pucca roads (cc/ brick road)', 'Availability of Public Transport', 'Availability of Railway Station', 'Availability of electricity for domestic use', 'Number of Households availing the benefits under Saubhagya Scheme', 'Availability of Electricity Supply to MSME Units', 'Use of Solar Energy/Wind Energy for electrification of the house', 'Availability of Panchayat Bhawan', 'Is there a Common Service Centre (CSC) in the village', "Availability of Public Information Board under People's Plan Campaign", 'Common pastures as per revenue records', 'Number of Households availing benefits of Pradhan Mantri Ujjwala Yojana (PMUY)', 'Availability of Public Library', 'Availability of recreational centre/Sports Playground etc', 'Availability of banks', 'Availability of Business Correspondent with internet connectivity?', 'Availability of ATM', 'Number of households having Jan-Dhan bank account', 'Availability of Post office/Sub-Post office', 'Availability of telephone services', 'Availability of Internet/BroadBand Facility', 'Availability of Public Distribution System (PDS)', 'Number of Households having BPL ration cards', 'Availability of Primary School', 'Availability of Middle School', 'Availability of High School', 'Availability of Higher/Senior Secondary School', 'No.of Children not attending the school', 'Availability of Degree College', 'Number of Graduates/Post Graduates in the Village', 'Availability of Vocational Training Centre/Polytechnic/ITI/RSETI /DDU-GKY', 'Number of trainees trained under any Skill Development Program', 'Availability of markets', 'Availability of Sub centre PHC/CHC', 'Availability of Jan Aushadhi Kendra', 'No. of Households registered for health insurance services under Pradhan Mantri Jan Arogya Yojana (PMJAY)/State specific Health Insurance Schemes', 'Availability of drainage facilities', 'Community waste disposal system', 'Total no of households using clean energy (LPG/Bio gas)', 'Community bio gas or recycle of waste', 'Availability of Aanganwadi Centre', 'Is Early Childhood Education provided in the Anganwadi', 'Total no of children in the age group of 0-3 years in the village', 'Total no of children aged 0-3 years registered in Aanganwadi', 'Total no of children aged 3-6 years registered in Aanganwadi', 'No of children aged 0-3 years immunized', 'No of children categorized as Non-Stunted as per ICDS record', 'No. of Anaemic Pregnant Women', 'No. of Anaemic Adolescent Girls', 'No. of children under the age of 6 years who are underweight', 'No of Male Children (0-6 Years)', 'No of Female Children (0-6 Years)', 'Number of SC/ST/OBC/Minority Children getting Scholarship', 'Number of SC/ST/OBC/Minority households which received bank Loans', 'No of physically challenged persons who received implants and appliances', 'Number of Households with more than 2 Children', 'Availability of Mother and Child Health facilities', 'Number of Households getting pensions under National Social Assistance Programme (NSAP) (Old Age/Disability/Widow/National Family Benefit Scheme (NFBS)', 'Number of Self Help Groups (SHGs)', 'Number of households mobilized into SHGs', 'Number of SHGs federated into Village Organisations (VOs)', 'Number of households mobilized into Producer Groups (PGs)', 'No of SHGs which accessed bank loans', 'Bee Keeping', 'Sericulture (Silk Production)', 'Handloom', 'Handicrafts', 'Availability of Community Forest', 'Availability of minor forest production', 'Number of Households where only source of livelihood is minor forest production', 'Availability of cottage and small scale units (Fabrication/Construction material/Dairy based/Textile etc.) units', 'Availability of Adult Education Centre', 'Total number of registered children in Anganwadi', 'Total number of children (0-6 years) immunized under ICDS', 'Total number of Pregnant women', 'No of pregnant women receiving services under ICDS', 'Total number of lactating mothers', 'No of lactating mothers receiving services under ICDS', 'Total no of women delivered babies at the hospitals who are registered with ASHA Anganwadi workers', 'Total no of children in ICDS Common Application Software', 'No of young anaemic children in ICDS Common Application Software (6-59 months)', 'Total number of newly born children during the year 2018-19', 'No of newly born children underweight during the year 2018-19', 'No of households not having sanitary latrines', 'Total no of eligible beneficiaries under Pradhan Mantri Matru Vandana Yojana', 'No of beneficiaries receiving benefits under Pradhan Mantri Matru Vandana Yojana', 'Total no. of eligible beneficiaries under Aayushman Bharat-Pradhan Mantri Jan Arogya Yojana or any State Govt Health scheme', 'No. of beneficiaries receiving benefits under Aayushman Bharat-Pradhan Mantri Jan Arogya Yojana or any State Govt Health scheme', 'Total number of eligible households under National Food Security Act (NFSA)', 'Total no of households receiving food grains from Fair Price Shops', 'Total number of farmers registered under Pradhan Mantri Kisan Pension Yojana (PMKPY)', 'Total number of farmers in the age of 18-40 years subscribed to Pradhan Mantri Kisan Pension Yojana (PMKPY)', 'Total no of farmers', 'No of farmers received benefits under PMFBY (Pradhan Mantri Fasal Bima Yojana )', 'No of farmers adopted organic farming during 2018-19', 'Number of farmers received the soil testing report', 'Total no of elected representatives', 'No of elected representatives oriented under Rashtriya Gram Swaraj Abhiyan', 'No of elected representatives undergone refresher training under Rashtriya Gram Swaraj Abhiyan', 'Total approved Labour Budget for the year 2018-19', 'Total expenditure approved under NRM in the Labour Budget for the year 2018-19)', 'Total area covered under irrigation (drip, sprinkler), If in acres divide by 2.47', 'No of households having piped water connection']

### 2020 MA Files

In [5]:
sub = ma[['State',	'ST Code',	'DT_Code',	'SDT_Code',	'Block_Code', 'GP_Code',
          	'Vil_Code',	'AC_Code',	'District',	'Sub District',	'Development Block',
          'Gram Panchayat',	'Village',	'PIN',	'Parliament Constituency',	
          'Assembly Constituency',	'Total Population',	'Male',	'Female',	
          'Total Household', 'Number of households engaged majorly in Farm activities',
          'Number of households engaged majorly in Non-Farm activities',
          'Availability of government seed centres',
          'Availability of Community Rain Water Harvesting System/Pond/Dam/Check Dam etc.',
          'Availability of warehouse for Food Grain Storage',
          'Availability of Primary Processing facilities at the village level',
          'Availability of soil testing centres',
          'Availability of fertilizer shop',
          'Availability of Milk Collection Centre /Milk routes / Chilling Centres',
          'Availability of Veterinary Clinic or Hospital',
          'Whether the village is connected to All weather road',
          'Whether village has internal pucca roads (cc/ brick road)',
          'Availability of Public Transport',
          'Availability of Railway Station',
          'Availability of Panchayat Bhawan',
          'Availability of Public Library',
          'Availability of banks',
          'Availability of ATM',
          'Availability of Post office/Sub-Post office',
          'Availability of Primary School',
          'Availability of Middle School',
          'Availability of High School',
          'Availability of Higher/Senior Secondary School',
          'Availability of Degree College',
          'Availability of Vocational Training Centre/Polytechnic/ITI/RSETI /DDU-GKY',
          'Availability of markets',
          'Availability of Sub centre PHC/CHC',
          'Availability of Mother and Child Health facilities',
          ]]

In [6]:
sub = sub.fillna(0)
# Define the dictionary for replacements
replacements = {"Yes": 1, 
                "No ( Nearest facility< 1 km)":1,
                "No ( Nearest facility1-2 kms)":1,
                "No ( Nearest facility2-5 kms)": 0,
                "No ( Nearest facility5-10 kms)": 0,
                "No ( Nearest facilityMore than 10 kms)": 0,
                "No ( Nearest facility10-20 kms)":0,
                "No ( Nearest facilityMore than 20 kms)":0,
                "No": 0 ,

                "Not covered":0,
                "Partially covered":1,
                "Fully covered":1,

                "Bus":1,
                "Auto":0,
                "Van":0,
                "None ( Nearest facility< 1 km)":1,
                "None ( Nearest facility1-2 kms)":1,
                "None ( Nearest facility2-5 kms)":0,
                "None ( Nearest facility5-10 kms)":0,
                "None ( Nearest facilityMore than 10 kms)":0,

                "Mandis":1,
                "Regular market":1,
                "Weekly Haat":1,

                "CHC":1,
                "PHC":1,
                "Sub Centre":1

                }

# Replace values in multiple columns with the replacements
sub2 = sub.replace(replacements)

# sub2['Availability of Primary School'] = sub2['Availability of Primary School'].astype(str)
# sub2['Availability of Primary School'] = sub2['Availability of Primary School'].replace({0: 0, r'^((?!0$).)*$': 1}, regex=True)

sub2['Availability of Primary School'] = np.where(sub2['Availability of Primary School'] != 0, 1, 0)

sub2

,State,ST Code,DT_Code,SDT_Code,Block_Code,GP_Code,Vil_Code,AC_Code,District,Sub District,...,Availability of Post office/Sub-Post office,Availability of Primary School,Availability of Middle School,Availability of High School,Availability of Higher/Senior Secondary School,Availability of Degree College,Availability of Vocational Training Centre/Polytechnic/ITI/RSETI /DDU-GKY,Availability of markets,Availability of Sub centre PHC/CHC,Availability of Mother and Child Health facilities
0,TELANGANA,36,501,4322,4648,195146,569601,0.0,ADILABAD,Ichoda (4322),...,1,1,0,1,0,0,0,0,1,1
1,TELANGANA,36,501,4311,4649,281235,569171,0.0,ADILABAD,Inderavelly (4311),...,0,1,0,0,0,0,0,0,0,1
2,TELANGANA,36,501,4325,4672,195570,569715,0.0,ADILABAD,Neradigonda (4325),...,0,0,0,0,0,0,0,0,0,0
3,TELANGANA,36,501,4308,4638,194994,569082,0.0,ADILABAD,Bela (4308),...,0,1,1,0,0,0,0,0,1,1
4,TELANGANA,36,501,6223,7189,281199,568961,0.0,ADILABAD,BHEEMPUR (6223),...,0,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13939,TELANGANA,36,513,6273,7265,207016,573607,0.0,MEDAK,Manoharabad (6273),...,0,0,0,0,0,0,0,0,0,0
13940,TELANGANA,36,700,4519,5525,278174,574093,0.0,MEDCHAL MALKAJGIRI,Medchal (4519),...,0,1,0,0,0,0,0,0,0,0
13941,TELANGANA,36,513,4480,5283,281125,573534,0.0,MEDAK,Kowdipally (4480),...,0,1,0,0,0,0,0,0,0,0
13942,TELANGANA,36,700,4520,5536,210464,574122,0.0,MEDCHAL MALKAJGIRI,Shamirpet (4520),...,1,1,1,1,1,1,1,1,1,1
13943,TELANGANA,36,700,4523,5516,210048,574163,0.0,MEDCHAL MALKAJGIRI,Ghatkesar (4523),...,1,1,1,1,0,1,0,1,1,1

In [ ]:
# sub2.to_csv("/Users/sid/Documents/MA_pdf/_MA_Final/Telangana_MA_1.csv",index=False)

In [9]:
sub3 = sub2.copy()
sub3["Agro"]= sub3["Availability of government seed centres"]+sub3["Availability of Community Rain Water Harvesting System/Pond/Dam/Check Dam etc."]+sub3["Availability of warehouse for Food Grain Storage"]+sub3["Availability of Primary Processing facilities at the village level"]+sub3["Availability of soil testing centres"]+sub3["Availability of fertilizer shop"]+sub3["Availability of Milk Collection Centre /Milk routes / Chilling Centres"]

sub3["Roads"] = sub3["Whether the village is connected to All weather road"]+sub3["Whether village has internal pucca roads (cc/ brick road)"]

sub3["Medical"] = sub3["Availability of Sub centre PHC/CHC"]+sub3["Availability of Mother and Child Health facilities"]+sub3["Availability of Veterinary Clinic or Hospital"]

sub3["Transport/Admin"] = sub3["Availability of Public Transport"]+sub3["Availability of Railway Station"]+sub3["Availability of Panchayat Bhawan"]+sub3["Availability of Public Library"]+sub3["Availability of banks"]+sub3["Availability of ATM"]+sub3["Availability of Post office/Sub-Post office"]+sub3["Availability of markets"]

sub3["Education"] = sub3["Availability of Primary School"]+sub3["Availability of Middle School"]+sub3["Availability of High School"]+sub3["Availability of Higher/Senior Secondary School"]+sub3["Availability of Degree College"]+sub3["Availability of Vocational Training Centre/Polytechnic/ITI/RSETI /DDU-GKY"]

#Dropping Education
sub3 = sub3.drop(["Availability of Primary School",
"Availability of Middle School",
"Availability of High School",
"Availability of Higher/Senior Secondary School",
"Availability of Degree College",
"Availability of Vocational Training Centre/Polytechnic/ITI/RSETI /DDU-GKY"],axis=1)


#Dropping Transport
sub3 = sub3.drop(["Availability of Public Transport",
"Availability of Railway Station",
"Availability of Panchayat Bhawan",
"Availability of Public Library",
"Availability of banks",
"Availability of ATM",
"Availability of Post office/Sub-Post office",
"Availability of markets"],axis=1)

#Dropping Medical
sub3 = sub3.drop(["Availability of Sub centre PHC/CHC",
"Availability of Mother and Child Health facilities",
"Availability of Veterinary Clinic or Hospital"],axis=1)

# Dropping Roads
sub3 = sub3.drop(["Whether the village is connected to All weather road",
"Whether village has internal pucca roads (cc/ brick road)"],axis=1)

#Dropping Agro
sub3 = sub3.drop(["Availability of government seed centres","Availability of Community Rain Water Harvesting System/Pond/Dam/Check Dam etc.",
"Availability of warehouse for Food Grain Storage",
"Availability of Primary Processing facilities at the village level",
"Availability of soil testing centres",
"Availability of fertilizer shop",
"Availability of Milk Collection Centre /Milk routes / Chilling Centres"],axis=1)
sub3

# Create the new column "% of households in agri" by dividing "Total Household" by "Number of households engaged majorly in Farm activities"
sub3["share of households in agri"] = sub3["Number of households engaged majorly in Farm activities"]/sub3["Total Household"] 

# Replace any resulting NaN values with 0 in the new column
sub3["share of households in agri"].fillna(0, inplace=True)

sub3

,State,ST Code,DT_Code,SDT_Code,Block_Code,GP_Code,Vil_Code,AC_Code,District,Sub District,...,Female,Total Household,Number of households engaged majorly in Farm activities,Number of households engaged majorly in Non-Farm activities,Agro,Roads,Medical,Transport/Admin,Education,% of households in agri
0,TELANGANA,36,501,4322,4648,195146,569601,0.0,ADILABAD,Ichoda (4322),...,820.0,386.0,0.0,0.0,2,2,2,2,2,0.000000
1,TELANGANA,36,501,4311,4649,281235,569171,0.0,ADILABAD,Inderavelly (4311),...,82.0,38.0,38.0,0.0,1,2,1,0,1,1.000000
2,TELANGANA,36,501,4325,4672,195570,569715,0.0,ADILABAD,Neradigonda (4325),...,0.0,0.0,0.0,0.0,0,0,0,0,0,0.000000
3,TELANGANA,36,501,4308,4638,194994,569082,0.0,ADILABAD,Bela (4308),...,424.0,199.0,191.0,8.0,1,2,2,2,2,0.959799
4,TELANGANA,36,501,6223,7189,281199,568961,0.0,ADILABAD,BHEEMPUR (6223),...,134.0,63.0,62.0,1.0,2,2,2,0,4,0.984127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13939,TELANGANA,36,513,6273,7265,207016,573607,0.0,MEDAK,Manoharabad (6273),...,1.0,1.0,0.0,0.0,0,0,0,0,0,0.000000
13940,TELANGANA,36,700,4519,5525,278174,574093,0.0,MEDCHAL MALKAJGIRI,Medchal (4519),...,531.0,248.0,150.0,80.0,0,2,0,1,1,0.604839
13941,TELANGANA,36,513,4480,5283,281125,573534,0.0,MEDAK,Kowdipally (4480),...,518.0,225.0,128.0,30.0,1,2,0,0,1,0.568889
13942,TELANGANA,36,700,4520,5536,210464,574122,0.0,MEDCHAL MALKAJGIRI,Shamirpet (4520),...,2801.0,2275.0,650.0,825.0,5,2,3,7,6,0.285714
13943,TELANGANA,36,700,4523,5516,210048,574163,0.0,MEDCHAL MALKAJGIRI,Ghatkesar (4523),...,2023.0,1256.0,300.0,956.0,2,2,3,7,4,0.238854

In [14]:
sub3.to_csv("/Users/sid/Documents/MA_pdf/_MA_Final/Bool/Telangana_MA_bool.csv",index=False)

### 2018 MA Files

In [93]:
ma = pd.read_csv("/Users/sid/Documents/MA_18/TS_18.csv")
ma

,State:,Sub District :,Gram Panchayat :,PIN :,District :,Development Block :,Village :,Total Population,Male,Female,...,No. of households mobilized into Producer Groups (PGs),No. of households supported by village based Agricultural Extension Workers,No. of households supported by village based Livestock Extension Workers,No. of SHGs accessed bank loans,Availability of electricity for domestic use(in Hrs),Total no of household using clean energy (LPG/Bio gas),Community bio gas or recycle of waste for production use,No of children categorized as Non-Stunted as per ICDS record,% households engaged exclusively in Non- farm activities,No. of households mobilized into Producer Groups (PGs)
0,TELANGANA (36),Mudigonda (4758),MALLARAM (202591),507158.0,KHAMMAM (509),MUDIGONDA (5080),Mallaram (579708),794,396,398,...,3.0,212,212,250,NaN,NaN,NaN,NaN,NaN,NaN
1,TELANGANA (36),VEMULAWADA RURAL (6218),JAYVARAM (202080),505302.0,RAJANNA SIRCILLA (683),VEMULAWADA (5051),Jayavaram (572358),548,293,255,...,20.0,0,0,2,1-4 hrs,0.0,Yes,NaN,NaN,NaN
2,TELANGANA (36),Dummugudem (4729),GANGOLU (202302),507137.0,BHADRADRI KOTHAGUDEM (690),DUMMUGUDEM (5064),Gangolu (578979),600,320,280,...,12.0,20,12,8,8-12 Hrs,0.0,Yes,12.0,NaN,NaN
3,TELANGANA (36),Chilkur (4667),Ramchendranagar (280873),508206.0,SURYAPET (696),CHILKUR (5322),ARLAGUDEM (909921),639,311,328,...,0.0,140,38,12,NaN,NaN,Yes,NaN,NaN,NaN
4,TELANGANA (36),Mutharam (Manthani) (4406),POTHARAM (278734),505212.0,PEDDAPALLI (682),MUTHARAM (MANTHANI) (5035),Potharam (571953),699,350,349,...,35.0,85,35,8,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479,TELANGANA (36),Jakranpally (4366),Nallgutta Thanda (278911),503224.0,NIZAMABAD (516),JAKRANPALLE (5430),Munpalle (570883),9336,410,526,...,0.0,0,0,3,NaN,NaN,NaN,18.0,70.0,NaN
9480,TELANGANA (36),Aswapuram (4728),MALLELAMADUGU (202128),507116.0,BHADRADRI KOTHAGUDEM (690),ASWAPURAM (5053),Nellipaka (578929),9625,4801,4824,...,65.0,2715,230,75,1-4 hrs,NaN,Yes,NaN,NaN,NaN
9481,TELANGANA (36),Dornakal (4722),AMMAPALEM (213438),506381.0,MAHABUBABAD (688),DORNAKAL (5665),Ammapalem (578678),1260,615,645,...,62.0,223,158,443,NaN,0.0,NaN,NaN,NaN,NaN
9482,TELANGANA (36),Kamalapur (4447),KAMALAPOOR (201363),505102.0,WARANGAL URBAN (686),KAMALAPUR (5016),Kamalapur (572662),10423,5407,5016,...,0.0,0,0,239,NaN,0.0,NaN,NaN,NaN,NaN
9483,TELANGANA (36),Tharigoppula (6257),POTHARAM (213930),506367.0,JANGOAN (689),NARMETTA (5690),Potharam (577674),1668,832,836,...,0.0,1,1,27,NaN,NaN,NaN,42.0,NaN,NaN

In [94]:
ma['Village_code'] = ma['Village :'].str.extract(r'\((\d{6})\)')
ma["share of households in agri"] = ma["% households engaged exclusively in Farm  activitie"]/100

ma = ma[ma["Total Population"] != 0]
ma

,State:,Sub District :,Gram Panchayat :,PIN :,District :,Development Block :,Village :,Total Population,Male,Female,...,No. of households supported by village based Livestock Extension Workers,No. of SHGs accessed bank loans,Availability of electricity for domestic use(in Hrs),Total no of household using clean energy (LPG/Bio gas),Community bio gas or recycle of waste for production use,No of children categorized as Non-Stunted as per ICDS record,% households engaged exclusively in Non- farm activities,No. of households mobilized into Producer Groups (PGs),Village_code,share of households in agri
0,TELANGANA (36),Mudigonda (4758),MALLARAM (202591),507158.0,KHAMMAM (509),MUDIGONDA (5080),Mallaram (579708),794,396,398,...,212,250,NaN,NaN,NaN,NaN,NaN,NaN,579708,0.62
1,TELANGANA (36),VEMULAWADA RURAL (6218),JAYVARAM (202080),505302.0,RAJANNA SIRCILLA (683),VEMULAWADA (5051),Jayavaram (572358),548,293,255,...,0,2,1-4 hrs,0.0,Yes,NaN,NaN,NaN,572358,0.00
2,TELANGANA (36),Dummugudem (4729),GANGOLU (202302),507137.0,BHADRADRI KOTHAGUDEM (690),DUMMUGUDEM (5064),Gangolu (578979),600,320,280,...,12,8,8-12 Hrs,0.0,Yes,12.0,NaN,NaN,578979,0.50
3,TELANGANA (36),Chilkur (4667),Ramchendranagar (280873),508206.0,SURYAPET (696),CHILKUR (5322),ARLAGUDEM (909921),639,311,328,...,38,12,NaN,NaN,Yes,NaN,NaN,NaN,909921,0.65
4,TELANGANA (36),Mutharam (Manthani) (4406),POTHARAM (278734),505212.0,PEDDAPALLI (682),MUTHARAM (MANTHANI) (5035),Potharam (571953),699,350,349,...,35,8,NaN,NaN,NaN,NaN,NaN,NaN,571953,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479,TELANGANA (36),Jakranpally (4366),Nallgutta Thanda (278911),503224.0,NIZAMABAD (516),JAKRANPALLE (5430),Munpalle (570883),9336,410,526,...,0,3,NaN,NaN,NaN,18.0,70.0,NaN,570883,0.30
9480,TELANGANA (36),Aswapuram (4728),MALLELAMADUGU (202128),507116.0,BHADRADRI KOTHAGUDEM (690),ASWAPURAM (5053),Nellipaka (578929),9625,4801,4824,...,230,75,1-4 hrs,NaN,Yes,NaN,NaN,NaN,578929,0.78
9481,TELANGANA (36),Dornakal (4722),AMMAPALEM (213438),506381.0,MAHABUBABAD (688),DORNAKAL (5665),Ammapalem (578678),1260,615,645,...,158,443,NaN,0.0,NaN,NaN,NaN,NaN,578678,0.78
9482,TELANGANA (36),Kamalapur (4447),KAMALAPOOR (201363),505102.0,WARANGAL URBAN (686),KAMALAPUR (5016),Kamalapur (572662),10423,5407,5016,...,0,239,NaN,0.0,NaN,NaN,NaN,NaN,572662,0.88
9483,TELANGANA (36),Tharigoppula (6257),POTHARAM (213930),506367.0,JANGOAN (689),NARMETTA (5690),Potharam (577674),1668,832,836,...,1,27,NaN,NaN,NaN,42.0,NaN,NaN,577674,0.10

In [96]:
sub = ma[['State:',	'District :',	'Sub District :',	'Development Block :',
          'Gram Panchayat :',	'Village :', 'Village_code','PIN :',	
          'Total Population',	'Male',	'Female',	
          'Total Household', "share of households in agri",
          'Availability of banks','Availability of ATM',
          'Whether the village is connected to All  weather road', 'Whether village has an internal cc/ brick  road',
          'Availability of Public Transport','Availability of Public Distribution System  (PDS)',
          'Availability of markets','Availability of Post office/Sub-Post office',
          'Availability of School',	'Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY',
    	  'Availability of Sub centre /PHC/CHC', 'Availability of Veterinary Clinic Hospital', 
          'Availability of Soil Testing Centres', 'Availability of government Seed', 'Availability of Fertilizer Shop'
          ]]

In [118]:
sub = sub.fillna(0)
# Define the dictionary for replacements
replacements = {"Yes": 1, 
                "No ( Nearest facility< 1 Km)":1,
                "No ( Nearest facility1-2  kms)":1,
                "No ( Nearest facility2-5  kms)": 0,
                "No ( Nearest facility5-10  Kms)": 0,
                "No ( Nearest facilityMore  than 10 kms)": 0,
                "No ( Nearest facility10-20 kms)":0,
                "No ( Nearest facilityMore than 20 kms)":0,
                "No": 0 ,

                "Not covered":0,
                "Partially covered":1,
                "Fully covered":1,

                "_":0,

                "Bus":1,
                "Auto":0,
                "Van":0,
                "None ( Nearest facility< 1  Km)":1,
                "None ( Nearest facility1-2  kms)":1,
                "None ( Nearest facility2-5  kms)":0,
                "None ( Nearest facility5-10  Kms)":0,
                "None ( Nearest facilityMore  than 10 kms)":0,
                "None ( Nearest facilityMore than 10 kms)":0,
                "None ( Nearest facility)":0,

                "Mandis":1,
                "Regular market":1,
                "Weekly Haat":1,

                "CHC":1,
                "PHC":1,
                "Sub Centre":1,

                "Primary School":1,
                "Middle School":1,
                "High School":1,
                'Senior Secondary School':2,

                'None':0,
                }

# Replace values in multiple columns with the replacements
sub2 = sub.replace(replacements)

# sub2['Availability of Primary School'] = sub2['Availability of Primary School'].astype(str)
# sub2['Availability of Primary School'] = sub2['Availability of Primary School'].replace({0: 0, r'^((?!0$).)*$': 1}, regex=True)

# sub2['Availability of Primary School'] = np.where(sub2['Availability of Primary School'] != 0, 1, 0)

# sub2

In [117]:
sub2.to_csv("/Users/sid/Documents/MA_18/Telangana_MA_1.csv",index=False)

Availability of banks	
Availability of ATM	
Availability of Public Transport	
Availability of Public Distribution System  (PDS)	
Availability of markets	
Availability of Post office/Sub-Post office	

Availability of School	
Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY	
Availability of Sub centre /PHC/CHC	
Availability of Veterinary Clinic Hospital	

Whether the village is connected to All  weather road	
Whether village has an internal cc/ brick  road	

Availability of Soil Testing Centres	
Availability of government Seed	
Availability of Fertilizer Shop

In [123]:
sub3 = sub2.copy()

# Convert string to integers
numeric_columns = sub3.select_dtypes(include=['object']).columns
sub3[numeric_columns] = sub3[numeric_columns].apply(pd.to_numeric, errors='coerce').fillna(sub3[numeric_columns])

sub3["Agro"]= sub3['Availability of government Seed']+sub3['Availability of Fertilizer Shop']+sub3['Availability of Soil Testing Centres']

sub3["Roads"] = sub3['Whether the village is connected to All  weather road']+sub3['Whether village has an internal cc/ brick  road']

sub3["Medical"] =  sub3['Availability of Sub centre /PHC/CHC']+sub3['Availability of Veterinary Clinic Hospital']

sub3["Transport/Admin"] =  sub3['Availability of banks']+sub3['Availability of ATM']+sub3['Availability of Public Transport']+sub3['Availability of Public Distribution System  (PDS)']+sub3['Availability of markets']+sub3['Availability of Post office/Sub-Post office']

sub3["Education"] = sub3['Availability of School']+sub3['Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY']

#Dropping Education
sub3 = sub3.drop(["Availability of School",
"Availability of Vocational Educational  Centre/ITI/RSETI/DDU-GKY"],axis=1)


#Dropping Transport
sub3 = sub3.drop([
'Availability of banks','Availability of ATM',
'Availability of Public Transport','Availability of Public Distribution System  (PDS)',
'Availability of markets','Availability of Post office/Sub-Post office',
],axis=1)

#Dropping Medical
sub3 = sub3.drop(["Availability of Sub centre /PHC/CHC",
"Availability of Veterinary Clinic Hospital",
],axis=1)

# Dropping Roads
sub3 = sub3.drop(["Whether the village is connected to All  weather road",
"Whether village has an internal cc/ brick  road"],axis=1)

#Dropping Agro
sub3 = sub3.drop(["Availability of Soil Testing Centres",	
'Availability of government Seed',
'Availability of Fertilizer Shop'],axis=1)

sub3

,State:,District :,Sub District :,Development Block :,Gram Panchayat :,Village :,Village_code,PIN :,Total Population,Male,Female,Total Household,share of households in agri,Agro,Roads,Medical,Transport/Admin,Education
0,TELANGANA (36),KHAMMAM (509),Mudigonda (4758),MUDIGONDA (5080),MALLARAM (202591),Mallaram (579708),579708,507158.0,794,396,398,260,0.62,0,2,0,3,1
1,TELANGANA (36),RAJANNA SIRCILLA (683),VEMULAWADA RURAL (6218),VEMULAWADA (5051),JAYVARAM (202080),Jayavaram (572358),572358,505302.0,548,293,255,124,0.00,3,2,0,5,1
2,TELANGANA (36),BHADRADRI KOTHAGUDEM (690),Dummugudem (4729),DUMMUGUDEM (5064),GANGOLU (202302),Gangolu (578979),578979,507137.0,600,320,280,56,0.50,3,2,1,5,1
3,TELANGANA (36),SURYAPET (696),Chilkur (4667),CHILKUR (5322),Ramchendranagar (280873),ARLAGUDEM (909921),909921,508206.0,639,311,328,140,0.65,0,2,0,1,0
4,TELANGANA (36),PEDDAPALLI (682),Mutharam (Manthani) (4406),MUTHARAM (MANTHANI) (5035),POTHARAM (278734),Potharam (571953),571953,505212.0,699,350,349,150,0.08,1,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9479,TELANGANA (36),NIZAMABAD (516),Jakranpally (4366),JAKRANPALLE (5430),Nallgutta Thanda (278911),Munpalle (570883),570883,503224.0,9336,410,526,195,0.30,0,2,1,1,1
9480,TELANGANA (36),BHADRADRI KOTHAGUDEM (690),Aswapuram (4728),ASWAPURAM (5053),MALLELAMADUGU (202128),Nellipaka (578929),578929,507116.0,9625,4801,4824,2912,0.78,3,2,1,6,1
9481,TELANGANA (36),MAHABUBABAD (688),Dornakal (4722),DORNAKAL (5665),AMMAPALEM (213438),Ammapalem (578678),578678,506381.0,1260,615,645,464,0.78,0,2,1,3,1
9482,TELANGANA (36),WARANGAL URBAN (686),Kamalapur (4447),KAMALAPUR (5016),KAMALAPOOR (201363),Kamalapur (572662),572662,505102.0,10423,5407,5016,2771,0.88,1,2,2,6,2
9483,TELANGANA (36),JANGOAN (689),Tharigoppula (6257),NARMETTA (5690),POTHARAM (213930),Potharam (577674),577674,506367.0,1668,832,836,334,0.10,0,2,0,3,1

### Merging NTL

#### 2020 Data

In [28]:
ntl = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2020/TS_2020_villages.csv')
# ntl = ntl[ntl['value'] != 0]

# # Convert the 'Date' column to datetime format
# ntl['year'] = pd.to_datetime(ntl['year'], format='%d/%m/%y')

# # Extract the year from the datetime column
# ntl['Year'] = ntl['year'].dt.year
# ntl = ntl.drop(["year"],axis=1)

ntl

,VILNAM_SOI,DTNAME.x,STNAME,SDTNAME,State_code,State_Name,State_cens,District_c,District_N,District_C,...,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01
0,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,25.128042,28.928110,22.518112,2.698006,21.109322,21.188400,20.351988,21.967451,31.077482,23.955803
1,ANTARGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,13.135428,14.617680,12.449679,2.060951,9.787311,0.000000,14.181831,14.236602,16.881516,12.042645
2,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,25.285597,27.226969,23.361086,0.000000,14.372638,12.428895,21.057043,21.091707,25.889366,19.634455
3,GUBIDI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,17.327328,17.886566,14.577745,0.000000,9.834934,16.786955,14.198503,15.449122,16.306702,13.072329
4,KARANJI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,44.399944,51.334106,46.682987,0.000000,26.315256,47.799110,41.966789,36.357662,48.338608,41.679367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10100,PALLEVADA,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,24.496540,25.834486,23.035894,23.441803,0.000000,0.000000,23.713219,24.189457,23.248463,20.975189
10101,CHAUDAVARAM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,35.537544,35.716740,32.712803,33.646561,1.406052,0.000000,33.656418,34.443810,34.798737,29.966532
10102,KALLURUGUDEM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,37.096504,36.094372,32.999348,32.476860,18.703037,0.000000,31.350630,35.224697,34.643055,31.060953
10103,ADASARLAPADU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,51.667656,52.032196,45.481846,46.202961,0.000000,0.000000,46.470776,52.425407,55.713161,49.090317
10104,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,125.340355,126.887001,111.248642,113.347588,57.701992,0.000000,115.402054,105.100418,128.034943,122.318382

In [29]:
columns_list = ntl.columns.tolist()

# Print the list of columns
print(columns_list)

['VILNAM_SOI', 'DTNAME.x', 'STNAME', 'SDTNAME', 'State_code', 'State_Name', 'State_cens', 'District_c', 'District_N', 'District_C', 'SubDistric', 'Subdistric', 'Subdistr_1', 'Village_co', 'Village_Na', 'Block_code', 'Block_Name', '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01', '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01']

In [30]:
# Select the last 12 columns (excluding the first 11 columns)
last_12_cols = ntl.iloc[:, -12:]

# Replace 0 values with NaN in the last 12 columns
last_12_cols = last_12_cols.replace(0, pd.NA)

# Create new columns for the mean and median of the last 12 columns
ntl['mean_radiance'] = last_12_cols.mean(axis=1, skipna=True)
ntl['median_radiance'] = last_12_cols.median(axis=1, skipna=True)

# Print the updated DataFrame
ntl

,VILNAM_SOI,DTNAME.x,STNAME,SDTNAME,State_code,State_Name,State_cens,District_c,District_N,District_C,...,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01,mean_radiance,median_radiance
0,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,22.518112,2.698006,21.109322,21.188400,20.351988,21.967451,31.077482,23.955803,20.956475,22.242782
1,ANTARGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,12.449679,2.060951,9.787311,0.000000,14.181831,14.236602,16.881516,12.042645,11.302422,12.449679
2,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,23.361086,0.000000,14.372638,12.428895,21.057043,21.091707,25.889366,19.634455,19.376624,21.057043
3,GUBIDI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,14.577745,0.000000,9.834934,16.786955,14.198503,15.449122,16.306702,13.072329,13.822554,15.010999
4,KARANJI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,46.682987,0.000000,26.315256,47.799110,41.966789,36.357662,48.338608,41.679367,39.510454,41.966789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10100,PALLEVADA,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,23.035894,23.441803,0.000000,0.000000,23.713219,24.189457,23.248463,20.975189,21.780347,23.345133
10101,CHAUDAVARAM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,32.712803,33.646561,1.406052,0.000000,33.656418,34.443810,34.798737,29.966532,28.590777,33.646561
10102,KALLURUGUDEM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,32.999348,32.476860,18.703037,0.000000,31.350630,35.224697,34.643055,31.060953,30.050890,32.476860
10103,ADASARLAPADU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,45.481846,46.202961,0.000000,0.000000,46.470776,52.425407,55.713161,49.090317,46.454494,47.780546
10104,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,111.248642,113.347588,57.701992,0.000000,115.402054,105.100418,128.034943,122.318382,108.182144,113.347588

In [ ]:
# grouped_df = ntl.groupby(['State_code', 'State_Name', 'District_c',
#                           'District_N','Village_co', 'Village_Na','Year']).agg({'value': 'mean'})
# # grouped_df2 = pd.merge(grouped_df, ntl, left_on="Village_co",right_on='Vil_Code', how='left')
# grouped_df.reset_index()

In [31]:
# Merge the dataframes based on 'Village_Code'
merged_df3 = pd.merge(ntl, sub3, left_on="Village_co",right_on='Vil_Code', how='left')
merged_df3

,VILNAM_SOI,DTNAME.x,STNAME,SDTNAME,State_code,State_Name,State_cens,District_c,District_N,District_C,...,Female,Total Household,Number of households engaged majorly in Farm activities,Number of households engaged majorly in Non-Farm activities,Agro,Roads,Medical,Transport/Admin,Education,% of households in agri
0,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,387.0,155.0,140.0,15.0,0.0,2.0,2.0,1.0,2.0,0.903226
1,ANTARGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,430.0,203.0,179.0,5.0,0.0,2.0,0.0,2.0,1.0,0.881773
2,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,417.0,288.0,285.0,3.0,2.0,2.0,1.0,2.0,2.0,0.989583
3,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,95.0,67.0,55.0,10.0,0.0,2.0,0.0,1.0,4.0,0.820896
4,GUBIDI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14755,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,897.0,438.0,238.0,200.0,2.0,2.0,3.0,5.0,4.0,0.543379
14756,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,917.0,478.0,386.0,92.0,3.0,2.0,3.0,2.0,2.0,0.807531
14757,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,2100.0,1210.0,450.0,676.0,5.0,2.0,2.0,6.0,4.0,0.371901
14758,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,970.0,478.0,478.0,0.0,2.0,2.0,2.0,2.0,2.0,1.000000
14759,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,1761.0,1084.0,752.0,88.0,2.0,2.0,3.0,5.0,4.0,0.693727

In [32]:
merged_df3 = merged_df3.dropna()

#Dropping extra info
merged_df3 = merged_df3.drop([
    'DTNAME.x', 'STNAME', 'SDTNAME', 'State_code',
     'State_Name', 'State_cens', 'District_c', 'District_N',
     'District_C', 'SubDistric', 'Subdistric', 'Subdistr_1',
     'Village_Na', 'Block_code', 'Block_Name'
],axis=1)
merged_df3

,VILNAM_SOI,Village_co,2020-01-01,2020-02-01,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,...,Female,Total Household,Number of households engaged majorly in Farm activities,Number of households engaged majorly in Non-Farm activities,Agro,Roads,Medical,Transport/Admin,Education,% of households in agri
0,GIRGAON,568962.0,9.906663,22.648319,25.128042,28.928110,22.518112,2.698006,21.109322,21.188400,...,387.0,155.0,140.0,15.0,0.0,2.0,2.0,1.0,2.0,0.903226
1,ANTARGAON,568948.0,2.939767,11.993237,13.135428,14.617680,12.449679,2.060951,9.787311,0.000000,...,430.0,203.0,179.0,5.0,0.0,2.0,0.0,2.0,1.0,0.881773
2,GOMUTRI,568947.0,3.140730,19.654377,25.285597,27.226969,23.361086,0.000000,14.372638,12.428895,...,417.0,288.0,285.0,3.0,2.0,2.0,1.0,2.0,2.0,0.989583
3,GOMUTRI,568947.0,3.140730,19.654377,25.285597,27.226969,23.361086,0.000000,14.372638,12.428895,...,95.0,67.0,55.0,10.0,0.0,2.0,0.0,1.0,4.0,0.820896
5,KARANJI,568945.0,9.419441,40.321720,44.399944,51.334106,46.682987,0.000000,26.315256,47.799110,...,891.0,470.0,402.0,68.0,1.0,2.0,3.0,3.0,3.0,0.855319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14755,VEMSURU,579901.0,71.431244,113.190964,125.340355,126.887001,111.248642,113.347588,57.701992,0.000000,...,897.0,438.0,238.0,200.0,2.0,2.0,3.0,5.0,4.0,0.543379
14756,VEMSURU,579901.0,71.431244,113.190964,125.340355,126.887001,111.248642,113.347588,57.701992,0.000000,...,917.0,478.0,386.0,92.0,3.0,2.0,3.0,2.0,2.0,0.807531
14757,VEMSURU,579901.0,71.431244,113.190964,125.340355,126.887001,111.248642,113.347588,57.701992,0.000000,...,2100.0,1210.0,450.0,676.0,5.0,2.0,2.0,6.0,4.0,0.371901
14758,VEMSURU,579901.0,71.431244,113.190964,125.340355,126.887001,111.248642,113.347588,57.701992,0.000000,...,970.0,478.0,478.0,0.0,2.0,2.0,2.0,2.0,2.0,1.000000
14759,VEMSURU,579901.0,71.431244,113.190964,125.340355,126.887001,111.248642,113.347588,57.701992,0.000000,...,1761.0,1084.0,752.0,88.0,2.0,2.0,3.0,5.0,4.0,0.693727

In [33]:
merged_df3.to_csv("/Users/sid/Documents/MA_pdf/_MA_Final/Bool/test5.csv",index=False)

In [22]:
columns_list = merged_df3.columns.tolist()

# Print the list of columns
print(columns_list)

['VILNAM_SOI', 'DTNAME.x', 'STNAME', 'SDTNAME', 'State_code', 'State_Name', 'State_cens', 'District_c', 'District_N', 'District_C', 'SubDistric', 'Subdistric', 'Subdistr_1', 'Village_co', 'Village_Na', 'Block_code', 'Block_Name', '01/01/20', '01/02/20', '01/03/20', '01/04/20', '01/05/20', '01/06/20', '01/07/20', '01/08/20', '01/09/20', '01/10/20', '01/11/20', '01/12/20', 'mean_last_12', 'median_last_12', 'State', 'ST Code', 'DT_Code', 'SDT_Code', 'Block_Code', 'GP_Code', 'Vil_Code', 'AC_Code', 'District', 'Sub District', 'Development Block', 'Gram Panchayat', 'Village', 'PIN', 'Parliament Constituency', 'Assembly Constituency', 'Total Population', 'Male', 'Female', 'Total Household', 'Number of households engaged majorly in Farm activities', 'Number of households engaged majorly in Non-Farm activities', 'Agro', 'Roads', 'Medical', 'Transport/Admin', 'Education', '% of households in agri']

#### 2018 Data

In [124]:
ntl = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2018/TS_2018_villages.csv')
ntl

,VILNAM_SOI,DTNAME.x,STNAME,SDTNAME,State_code,State_Name,State_cens,District_c,District_N,District_C,...,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01
0,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,18.687759,22.230152,22.383186,5.725296,0.000000,0.000000,19.392414,21.736343,22.846327,14.163772
1,ANTARGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,9.382682,12.327929,12.866159,4.604292,0.000000,0.000000,10.292315,11.530157,11.291059,8.352110
2,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,17.839285,22.807922,22.499357,6.866108,0.000000,0.000000,19.859503,20.670353,16.756271,11.954952
3,GUBIDI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,14.882893,22.633936,15.437518,0.000000,2.266372,0.000000,13.376430,13.706301,17.897017,8.402256
4,KARANJI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,36.226158,63.134888,43.236572,26.026819,0.000000,0.000000,35.347477,37.874775,36.588543,28.423222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10100,PALLEVADA,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,15.931775,22.616341,22.213873,19.581335,0.000000,3.140893,22.303368,17.722059,14.871534,12.194612
10101,CHAUDAVARAM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,24.083078,37.142609,32.325676,27.145206,0.000000,7.972735,32.652863,25.143890,22.755411,17.251038
10102,KALLURUGUDEM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,24.366442,34.195450,32.589657,25.692537,8.609754,4.288694,31.903620,23.610460,21.952280,16.768698
10103,ADASARLAPADU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,33.498280,47.063358,43.494576,36.414352,0.290123,8.104731,44.370003,37.689331,36.019180,30.782232
10104,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,82.620529,116.973038,101.838295,87.933098,6.275314,5.631507,94.550064,87.893921,86.762169,75.437164

In [125]:
# Select the last 12 columns (excluding the first 11 columns)
last_12_cols = ntl.iloc[:, -12:]

# Replace 0 values with NaN in the last 12 columns
last_12_cols = last_12_cols.replace(0, pd.NA)

# Create new columns for the mean and median of the last 12 columns
ntl['mean_radiance'] = last_12_cols.mean(axis=1, skipna=True)
ntl['median_radiance'] = last_12_cols.median(axis=1, skipna=True)

# Print the updated DataFrame
ntl

,VILNAM_SOI,DTNAME.x,STNAME,SDTNAME,State_code,State_Name,State_cens,District_c,District_N,District_C,...,2018-05-01,2018-06-01,2018-07-01,2018-08-01,2018-09-01,2018-10-01,2018-11-01,2018-12-01,mean_radiance,median_radiance
0,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,22.383186,5.725296,0.000000,0.000000,19.392414,21.736343,22.846327,14.163772,19.676756,21.659919
1,ANTARGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,12.866159,4.604292,0.000000,0.000000,10.292315,11.530157,11.291059,8.352110,9.974275,10.674376
2,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,22.499357,6.866108,0.000000,0.000000,19.859503,20.670353,16.756271,11.954952,17.894426,18.888551
3,GUBIDI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,15.437518,0.000000,2.266372,0.000000,13.376430,13.706301,17.897017,8.402256,12.701222,13.541365
4,KARANJI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,43.236572,26.026819,0.000000,0.000000,35.347477,37.874775,36.588543,28.423222,36.774691,35.786818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10100,PALLEVADA,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,22.213873,19.581335,0.000000,3.140893,22.303368,17.722059,14.871534,12.194612,15.644181,15.931775
10101,CHAUDAVARAM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,32.325676,27.145206,0.000000,7.972735,32.652863,25.143890,22.755411,17.251038,23.526746,24.083078
10102,KALLURUGUDEM,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,32.589657,25.692537,8.609754,4.288694,31.903620,23.610460,21.952280,16.768698,21.335656,22.781370
10103,ADASARLAPADU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,43.494576,36.414352,0.290123,8.104731,44.370003,37.689331,36.019180,30.782232,31.132154,34.758730
10104,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,101.838295,87.933098,6.275314,5.631507,94.550064,87.893921,86.762169,75.437164,74.310739,86.204388

In [129]:
merged_df3 = pd.merge(ntl, sub3, left_on="Village_co",right_on='Village_code', how='left')
merged_df3

,VILNAM_SOI,DTNAME.x,STNAME,SDTNAME,State_code,State_Name,State_cens,District_c,District_N,District_C,...,Total Population,Male,Female,Total Household,share of households in agri,Agro,Roads,Medical,Transport/Admin,Education
0,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,734.0,357.0,377.0,143.0,0.82,0.0,2.0,1.0,0.0,1.0
1,GIRGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,726.0,339.0,387.0,155.0,0.82,0.0,2.0,1.0,2.0,1.0
2,ANTARGAON,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,875.0,445.0,430.0,208.0,0.72,0.0,2.0,0.0,2.0,1.0
3,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,509.0,254.0,255.0,121.0,0.72,0.0,0.0,0.0,2.0,1.0
4,GOMUTRI,ADILABAD,TELANGANA,Tamsi,36.0,TELANGANA,0.0,501.0,ADILABAD,532.0,...,837.0,420.0,417.0,288.0,0.81,0.0,2.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12438,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,1847.0,930.0,917.0,401.0,0.85,0.0,2.0,1.0,3.0,2.0
12439,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,4311.0,2148.0,2163.0,1000.0,0.80,1.0,2.0,2.0,5.0,2.0
12440,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,1799.0,902.0,894.0,432.0,0.05,0.0,2.0,1.0,3.0,2.0
12441,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,3578.0,1811.0,1767.0,872.0,0.05,1.0,2.0,2.0,5.0,2.0
12442,VEMSURU,KHAMMAM,TELANGANA,Vemsoor,36.0,TELANGANA,0.0,509.0,KHAMMAM,541.0,...,1850.0,913.0,937.0,461.0,0.85,0.0,2.0,1.0,3.0,2.0

In [131]:
merged_df3 = merged_df3.dropna()

#Dropping extra info
merged_df3 = merged_df3.drop([
    'DTNAME.x', 'STNAME', 'SDTNAME', 'State_code',
     'State_Name', 'State_cens', 'District_c', 'District_N',
     'District_C', 'SubDistric', 'Subdistric', 'Subdistr_1',
     'Village_Na', 'Block_code', 'Block_Name'
],axis=1)
merged_df3

,VILNAM_SOI,Village_co,2018-01-01,2018-02-01,2018-03-01,2018-04-01,2018-05-01,2018-06-01,2018-07-01,2018-08-01,...,Total Population,Male,Female,Total Household,share of households in agri,Agro,Roads,Medical,Transport/Admin,Education
0,GIRGAON,568962.0,28.018818,21.583494,18.687759,22.230152,22.383186,5.725296,0.000000,0.000000,...,734.0,357.0,377.0,143.0,0.82,0.0,2.0,1.0,0.0,1.0
1,GIRGAON,568962.0,28.018818,21.583494,18.687759,22.230152,22.383186,5.725296,0.000000,0.000000,...,726.0,339.0,387.0,155.0,0.82,0.0,2.0,1.0,2.0,1.0
2,ANTARGAON,568948.0,8.039605,11.056437,9.382682,12.327929,12.866159,4.604292,0.000000,0.000000,...,875.0,445.0,430.0,208.0,0.72,0.0,2.0,0.0,2.0,1.0
3,GOMUTRI,568947.0,21.772911,17.917599,17.839285,22.807922,22.499357,6.866108,0.000000,0.000000,...,509.0,254.0,255.0,121.0,0.72,0.0,0.0,0.0,2.0,1.0
4,GOMUTRI,568947.0,21.772911,17.917599,17.839285,22.807922,22.499357,6.866108,0.000000,0.000000,...,837.0,420.0,417.0,288.0,0.81,0.0,2.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12438,VEMSURU,579901.0,60.167164,85.646606,82.620529,116.973038,101.838295,87.933098,6.275314,5.631507,...,1847.0,930.0,917.0,401.0,0.85,0.0,2.0,1.0,3.0,2.0
12439,VEMSURU,579901.0,60.167164,85.646606,82.620529,116.973038,101.838295,87.933098,6.275314,5.631507,...,4311.0,2148.0,2163.0,1000.0,0.80,1.0,2.0,2.0,5.0,2.0
12440,VEMSURU,579901.0,60.167164,85.646606,82.620529,116.973038,101.838295,87.933098,6.275314,5.631507,...,1799.0,902.0,894.0,432.0,0.05,0.0,2.0,1.0,3.0,2.0
12441,VEMSURU,579901.0,60.167164,85.646606,82.620529,116.973038,101.838295,87.933098,6.275314,5.631507,...,3578.0,1811.0,1767.0,872.0,0.05,1.0,2.0,2.0,5.0,2.0
12442,VEMSURU,579901.0,60.167164,85.646606,82.620529,116.973038,101.838295,87.933098,6.275314,5.631507,...,1850.0,913.0,937.0,461.0,0.85,0.0,2.0,1.0,3.0,2.0

In [ ]:
merged_df3.to_csv("/Users/sid/Documents/MA_pdf/_MA_Final/Bool/test7.csv",index=False)

## District Income

### Dist NTL

In [2]:
n21 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2021/ts_dist_21.csv')
n19 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2019/ts_dist_19.csv')
n18 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2018/ts_dist_18.csv')
n17 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2017/ts_dist_17.csv')
n16 = pd.read_csv('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/VIIRS_Monthly_Tiled/2016/ts_dist_16.csv')

In [3]:
# Create a list of dfs
df_list = [n21, n19, n18, n17, n16]

for df in df_list:
    # Select the last 12 columns (excluding the first 11 columns)
    last_12_cols = df.iloc[:, -12:]

    # Replace 0 values with NaN in the last 12 columns
    last_12_cols = last_12_cols.replace(0, pd.NA)

    # Calculate the row-wise mean and standard deviation
    row_mean = last_12_cols.mean(axis=1)
    row_std = last_12_cols.std(axis=1)

    # Define the threshold for ignoring values (2 standard deviations below the mean)
    threshold = row_mean - 2 * row_std

    # Mask values below the threshold and set them to NaN
    last_12_cols = last_12_cols.mask(last_12_cols < threshold, pd.NA)

    # Create a dictionary to map old column names to new column names
    column_map = {old_col: month_name for old_col, month_name in zip(last_12_cols.columns, ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])}

    # Rename the last 12 columns using the dictionary
    df.rename(columns=column_map, inplace=True)

    # Create new columns for the mean and median of the last 12 columns
    df['mean_radiance'] = last_12_cols.mean(axis=1, skipna=True)
    df['median_radiance'] = last_12_cols.median(axis=1, skipna=True)

/var/folders/2y/43tdd9hn3g11897s6jjnr8840000gn/T/ipykernel_67572/3333008875.py:19: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  last_12_cols = last_12_cols.mask(last_12_cols < threshold, pd.NA)
/var/folders/2y/43tdd9hn3g11897s6jjnr8840000gn/T/ipykernel_67572/3333008875.py:19: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  last_12_cols = last_12_cols.mask(last_12_cols < threshold, pd.NA)

In [5]:
row_std

0     2032.910880
1     7432.706794
2     2318.865460
3     3524.643203
4     2314.758383
5     3897.720582
6     4298.458633
7     4144.319315
8     7526.910297
9     2734.380178
10    1278.159717
11    2148.745695
12    2869.997313
13    2280.966594
14    2672.751266
15    3578.254189
16    3899.307024
17    1566.549651
18    1457.556118
19    2223.394527
20    7052.562169
21    2105.273724
22    2182.853282
23    2086.600889
24    2008.384954
25    1576.278598
26    2530.803633
27    2129.109362
28    1930.902802
29    3150.200651
30    3029.661564
31    2089.544109
32    2630.230501
dtype: float64

In [6]:
n21['Year']=2021
n19['Year']=2019
n18['Year']=2018
n17['Year']=2017
n16['Year']=2016

concatenated_df = pd.concat(df_list, ignore_index=True)

concatenated_df

,dtname,stname,Dist_LGD,State_LGD,January,February,March,April,May,June,July,August,September,October,November,December,mean_radiance,median_radiance,Year
0,Adilabad,TELANGANA,501,36,12640.962891,15755.460938,20197.316406,14795.769531,13583.352539,12091.118164,9915.179688,791.883850,3905.761475,16076.976562,15516.885742,14908.686523,12514.946192,14189.561035,2021
1,Hyderabad,TELANGANA,507,36,42409.285156,44414.730469,45821.804688,39929.898438,37159.914062,42008.476562,36625.871094,46390.613281,35349.726562,43554.039062,45147.183594,42566.699219,41781.520182,42487.992188,2021
2,Karimnagar,TELANGANA,508,36,15101.406250,15611.724609,15318.876953,15825.987305,17491.656250,15924.418945,10743.477539,1836.752930,13551.944336,19417.703125,17565.546875,17249.314453,14636.567464,15718.855957,2021
3,Bhadradri Kothagudem,TELANGANA,690,36,19763.429688,21453.173828,29267.417969,25481.195312,24710.056641,14204.757812,12048.666992,2531.536865,13303.102539,22867.279297,24623.433594,23228.240234,19456.857564,22160.226562,2021
4,Mahabubnagar,TELANGANA,512,36,18841.148438,20060.238281,20504.154297,20010.617188,12628.311523,19838.615234,10848.623047,16494.322266,20011.707031,20336.080078,19903.291016,20112.968750,18299.173096,19956.954102,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Jayashankar,TELANGANA,687,36,3231.280762,3081.819092,4719.231445,5608.818848,7585.128906,5049.870605,201.285797,3129.949219,5592.877441,6600.892090,4078.490967,3992.374756,4406.001661,4398.861206,2016
161,Peddapalli,TELANGANA,682,36,10339.971680,8915.298828,10514.769531,10234.570312,12194.298828,10791.326172,1263.180786,7113.997070,12381.672852,12991.925781,9993.583984,11737.145508,9872.645111,10427.370605,2016
162,Jagitial,TELANGANA,681,36,7267.280762,6607.030273,8414.960938,7737.869629,9416.011719,7480.499512,3206.885986,6160.094238,15800.443359,11081.149414,8025.956543,7819.217773,8251.450012,7778.543701,2016
163,Rajanna Sircilla,TELANGANA,683,36,3650.976562,3349.184082,5123.420410,4583.488281,6029.129883,5337.849609,2396.048584,2828.637451,8156.613281,9532.318359,5068.628418,4610.215332,5055.542521,4839.421875,2016
164,Medak,TELANGANA,513,36,9956.806641,8763.180664,12189.448242,10733.821289,14229.100586,6903.874512,6038.166016,6199.961426,12852.509766,11759.094727,9881.691406,9290.892578,9899.878988,9919.249023,2016

### Dist Income

In [8]:
concatenated_df.columns

Index(['dtname', 'stname', 'Dist_LGD', 'State_LGD', 'January', 'February',
       'March', 'April', 'May', 'June', 'July', 'August', 'September',
       'October', 'November', 'December', 'mean_radiance', 'median_radiance',
       'Year'],
      dtype='object')

In [7]:
dist = pd.read_excel('/Users/sid/Library/CloudStorage/OneDrive-DeakinUniversity/UDocs - D/DataSets/dist_income.xlsx',sheet_name='current_prices_pc')
dist

,Year,State,District,GDDP_pc,GPW_pop,Total Mandals,Urban Mandals,Rural_subdivisions_share,Municipalities,GPs,Area_sqkm
0,2016,Telangana,Adilabad,98819,7.674474e+05,18,1,0.944444,1,468,4153
1,2016,Telangana,Bhadradri Kothagudem,123112,1.057889e+06,23,2,0.913043,4,481,7483
2,2016,Telangana,Hyderabad,299997,3.237777e+06,16,16,0.000000,1,0,217
3,2016,Telangana,Jagitial,77669,9.969273e+05,20,0,1.000000,5,383,2419
4,2016,Telangana,Jangoan,88269,6.237403e+05,12,0,1.000000,1,281,2188
...,...,...,...,...,...,...,...,...,...,...,...
155,2021,Telangana,Vikarabad,131962,1.311865e+06,20,0,1.000000,4,568,3386
156,2021,Telangana,Wanaparthy,151299,6.893308e+05,14,0,1.000000,5,255,2152
157,2021,Telangana,Warangal Rural,171111,9.212001e+05,14,4,0.714286,1,208,1679
158,2021,Telangana,Warangal Urban,130821,1.052379e+06,13,0,1.000000,3,323,1766
159,2021,Telangana,Yadadri Bhuvanagiri,207322,7.923720e+05,17,0,1.000000,6,421,3253

In [8]:
# Merge the dataframes based on 'Village_Code'
fin = pd.merge(concatenated_df, dist, left_on=['dtname', 'Year'], right_on=['District', 'Year'], how='left')
fin

,dtname,stname,Dist_LGD,State_LGD,January,February,March,April,May,June,...,State,District,GDDP_pc,GPW_pop,Total Mandals,Urban Mandals,Rural_subdivisions_share,Municipalities,GPs,Area_sqkm
0,Adilabad,TELANGANA,501,36,12640.962891,15755.460938,20197.316406,14795.769531,13583.352539,12091.118164,...,Telangana,Adilabad,152455.0,806078.500,18.0,1.0,0.944444,1.0,468.0,4153.0
1,Hyderabad,TELANGANA,507,36,42409.285156,44414.730469,45821.804688,39929.898438,37159.914062,42008.476562,...,Telangana,Hyderabad,349061.0,3301489.500,16.0,16.0,0.000000,1.0,0.0,217.0
2,Karimnagar,TELANGANA,508,36,15101.406250,15611.724609,15318.876953,15825.987305,17491.656250,15924.418945,...,Telangana,Karimnagar,179908.0,1067228.750,16.0,1.0,0.937500,5.0,313.0,2128.0
3,Bhadradri Kothagudem,TELANGANA,690,36,19763.429688,21453.173828,29267.417969,25481.195312,24710.056641,14204.757812,...,Telangana,Bhadradri Kothagudem,179112.0,1101775.125,23.0,2.0,0.913043,4.0,481.0,7483.0
4,Mahabubnagar,TELANGANA,512,36,18841.148438,20060.238281,20504.154297,20010.617188,12628.311523,19838.615234,...,Telangana,Mahabubnagar,208343.0,1059107.750,17.0,1.0,0.941176,3.0,441.0,2737.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Jayashankar,TELANGANA,687,36,3231.280762,3081.819092,4719.231445,5608.818848,7585.128906,5049.870605,...,Telangana,Jayashankar,96305.0,392777.281,11.0,0.0,1.000000,1.0,241.0,2293.0
161,Peddapalli,TELANGANA,682,36,10339.971680,8915.298828,10514.769531,10234.570312,12194.298828,10791.326172,...,Telangana,Peddapalli,84593.0,863106.063,14.0,1.0,0.928571,4.0,263.0,2238.0
162,Jagitial,TELANGANA,681,36,7267.280762,6607.030273,8414.960938,7737.869629,9416.011719,7480.499512,...,Telangana,Jagitial,77669.0,996927.313,20.0,0.0,1.000000,5.0,383.0,2419.0
163,Rajanna Sircilla,TELANGANA,683,36,3650.976562,3349.184082,5123.420410,4583.488281,6029.129883,5337.849609,...,Telangana,Rajanna Sircilla,288408.0,570252.875,13.0,1.0,0.923077,2.0,255.0,2019.0
164,Medak,TELANGANA,513,36,9956.806641,8763.180664,12189.448242,10733.821289,14229.100586,6903.874512,...,Telangana,Medak,110149.0,796798.438,21.0,0.0,1.000000,4.0,468.0,2757.0

In [9]:
fin.to_csv('/Users/sid/OneDrive - Deakin University/UDocs - D/DataSets/ntl_dt_pc_corrected.csv',index=False)

## End